n8n/billing-reconcile.json
{
  "name": "Leadvyne · Billing Reconciliation (Stripe)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records?where=(active,eq,Yes)&limit=500",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            }
          ]
        },
        "options": {}
      },
      "id": "getclients",
      "name": "HTTP · Get clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n// Only clients who've actually started billing have anything to reconcile\nconst clients = (data.list || []).filter(c => c.stripe_customer_id && c.stripe_customer_id.trim());\nreturn clients.map(c => ({ json: c }));"
      },
      "id": "filterclients",
      "name": "Code · Filter clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop",
      "name": "Loop clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.stripe.com/v1/customers/{{ $json.stripe_customer_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "getcust",
      "name": "HTTP · Get Stripe customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_STRIPE_CRED",
          "name": "Stripe secret key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.stripe.com/v1/subscriptions?customer={{ $json.stripe_customer_id }}&status=all&limit=3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "getsubs",
      "name": "HTTP · Get Stripe subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        60
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_STRIPE_CRED",
          "name": "Stripe secret key"
        }
      }
    },
    {
      "parameters": {
        "amount": 400,
        "unit": "milliseconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        220
      ],
      "webhookId": "billing-reconcile-wait"
    },
    {
      "parameters": {
        "jsCode": "const client = $('Loop clients').first().json;\nconst cust = $('HTTP · Get Stripe customer').first().json;\nconst subsResp = $('HTTP · Get Stripe subscriptions').first().json;\nconst subs = subsResp.data || [];\n\n// Prefer a live subscription (active/trialing/past_due); fall back to the most recently\n// created of any status so a fully-canceled account still gets its status corrected.\nconst live = subs.find(s => ['active','trialing','past_due'].includes(s.status))\n          || subs.slice().sort((a,b) => (b.created||0)-(a.created||0))[0]\n          || null;\n\nconst nocoPatch = {};\nconst noteLines = [];\n\nif (live) {\n  const priceItem = live.items?.data?.[0]?.price;\n  const liveStatus = live.status;\n  const liveRenews = live.current_period_end ? new Date(live.current_period_end * 1000).toISOString() : '';\n  const liveCancelAtEnd = live.cancel_at_period_end ? 'Yes' : 'No';\n  const livePlanName = priceItem?.nickname || '';\n\n  if ((client.stripe_subscription_id||'') !== live.id) { nocoPatch.stripe_subscription_id = live.id; noteLines.push(`subscription id ${client.stripe_subscription_id||'(none)'} → ${live.id}`); }\n  if ((client.plan_status||'') !== liveStatus) { nocoPatch.plan_status = liveStatus; noteLines.push(`status ${client.plan_status||'(none)'} → ${liveStatus}`); }\n  if (liveRenews && (client.plan_renews_at||'') !== liveRenews) { nocoPatch.plan_renews_at = liveRenews; noteLines.push('renews_at updated to match Stripe'); }\n  if ((client.plan_cancel_at_period_end||'No') !== liveCancelAtEnd) { nocoPatch.plan_cancel_at_period_end = liveCancelAtEnd; noteLines.push(`cancel_at_period_end → ${liveCancelAtEnd}`); }\n  if (livePlanName && (client.plan_name||'') !== livePlanName) { nocoPatch.plan_name = livePlanName; noteLines.push(`plan_name → ${livePlanName}`); }\n} else if (client.stripe_subscription_id || (client.plan_status && client.plan_status !== 'canceled')) {\n  // Stripe shows no subscription at all for this customer, but NocoDB thinks there's a live one —\n  // most likely a missed/failed webhook (customer.subscription.deleted never landed).\n  nocoPatch.plan_status = 'canceled';\n  noteLines.push(`no Stripe subscription found — marked canceled (was \"${client.plan_status||'unknown'}\")`);\n}\n\n// The billing email must always mirror the billing profile (authentik_email) — that's the\n// single source of truth, and Checkout locks the email field once the Customer already has one\n// set, so it can't drift at payment time. Drift here means the Customer object was edited\n// directly (Stripe Dashboard, API, or a pre-authentik legacy customer) — restore it.\nconst wantEmail = (client.authentik_email||'').trim();\nconst custEmail = (cust.email||'').trim();\nconst needsEmailFix = !!wantEmail && wantEmail.toLowerCase() !== custEmail.toLowerCase();\nif (needsEmailFix) noteLines.push(`billing email \"${custEmail||'(none)'}\" → \"${wantEmail}\" (restored from billing profile)`);\n\nconst needsNocoPatch = Object.keys(nocoPatch).length > 0;\nif (!needsNocoPatch && !needsEmailFix) return [];\n\nreturn [{ json: {\n  clientId: client.Id, clientName: client.client_name,\n  notification_email: client.notification_email || '', slack_webhook_url: client.slack_webhook_url || '',\n  stripe_customer_id: client.stripe_customer_id,\n  needsNocoPatch, nocoPatch, needsEmailFix, correctEmail: wantEmail, noteLines\n} }];"
      },
      "id": "reconcile",
      "name": "Code · Reconcile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -40
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn c.needsNocoPatch ? [{ json: c }] : [];"
      },
      "id": "gatenoco",
      "name": "Code · Gate Noco patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -140
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify(Object.assign({ Id: $json.clientId }, $json.nocoPatch)) }}",
        "options": {}
      },
      "id": "patchnoco",
      "name": "HTTP · Patch NocoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -140
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn c.needsEmailFix ? [{ json: c }] : [];"
      },
      "id": "gateemail",
      "name": "Code · Gate Email fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/customers/{{ $json.stripe_customer_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.correctEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fixemail",
      "name": "HTTP · Fix Stripe email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        20
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_STRIPE_CRED",
          "name": "Stripe secret key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst lines = c.noteLines || [];\nreturn [{ json: {\n  to: c.notification_email,\n  slack_webhook_url: c.slack_webhook_url,\n  subject: '🔄 Billing reconciliation: ' + (c.clientName || c.clientId),\n  body: `Reconciliation found and corrected billing drift for ${c.clientName || 'client '+c.clientId}:\\n\\n`\n    + lines.map(l => '• ' + l).join('\\n')\n    + '\\n\\nThis was corrected automatically from live Stripe data — no action needed unless something looks wrong.'\n} }];"
      },
      "id": "buildalert",
      "name": "Code · Build alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        160
      ]
    },
    {
      "parameters": {
        "fromEmail": "alerts@leadvyne.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "sendemail",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1540,
        160
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_SMTP_CRED",
          "name": "SMTP Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slack_webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ text: $json.subject + '\\n' + $json.body }) }}",
        "options": {}
      },
      "id": "slacksend",
      "name": "HTTP · Slack alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Billing Reconciliation (Stripe)\n\nRuns every 6 hours, independent of `cloudflare-worker/worker.js`'s webhook handler and of `n8n/notifications.json`. Pulls each billing-enabled client's live Stripe Customer + Subscriptions and corrects any drift found in NocoDB:\n\n1. `plan_status` / `plan_renews_at` / `plan_cancel_at_period_end` / `plan_name` / `stripe_subscription_id` — the usual cause of drift is a missed or delayed webhook.\n2. The Stripe Customer's **email** is restored to the account's billing-profile email (`authentik_email`) if it ever drifts — the billing profile is the single source of truth, and Checkout locks the email field once the Customer already has one, so this only fires on out-of-band edits (Stripe Dashboard, API, legacy customer).\n\nReuses the same `notification_email` / `slack_webhook_url` CLIENTS fields as `n8n/notifications.json` — no new alerting config needed, just whatever's already set in Settings → General.\n\n### Setup\n1. Add a **Header Auth** credential named **Stripe secret key** — header name `Authorization`, value `Bearer sk_live_...` (or `sk_test_...`). Never the publishable key.\n2. Reuse the existing **SMTP Account** credential from `n8n/notifications.json`.\n3. Activate. It only touches clients with a `stripe_customer_id` already set — no-op for everyone else.\n\nThis is deliberately a *reconciliation* pass, not the primary billing path — `worker.js`'s webhook is still what should keep things in sync in real time. This just catches what the webhook missed.",
        "height": 460,
        "width": 520
      },
      "id": "readme",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -260
      ]
    }
  ],
  "connections": {
    "Every 6 hours": {
      "main": [
        [
          {
            "node": "HTTP · Get clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Get clients": {
      "main": [
        [
          {
            "node": "Code · Filter clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Filter clients": {
      "main": [
        [
          {
            "node": "Loop clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop clients": {
      "main": [
        [
          {
            "node": "HTTP · Get Stripe customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP · Get Stripe subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Get Stripe customer": {
      "main": [
        [
          {
            "node": "Code · Reconcile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Get Stripe subscriptions": {
      "main": [
        [
          {
            "node": "Code · Reconcile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Reconcile": {
      "main": [
        [
          {
            "node": "Code · Gate Noco patch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code · Gate Email fix",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code · Build alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Gate Noco patch": {
      "main": [
        [
          {
            "node": "HTTP · Patch NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Gate Email fix": {
      "main": [
        [
          {
            "node": "HTTP · Fix Stripe email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build alert": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "HTTP · Slack alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
