n8n/ecom-reminders.json
{
  "name": "Leadvyne · Ecom Order Reminders",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-ecom-order-event",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "or-wh",
      "name": "Webhook · Order Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "leadvyne-ecom-order-event"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "or-ack",
      "name": "Respond · ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-580, -120]
    },
    {
      "parameters": {
        "jsCode": "// NocoDB sends: { type, data: { rows: [newRow], previous_rows: [oldRow] } }\n// We also support direct POST: { client_id, order_id, status, customer_phone, customer_name, ... }\nconst b = $('Webhook · Order Event').first().json.body || $('Webhook · Order Event').first().json;\n\nlet row = {};\nif (b.data && b.data.rows && b.data.rows[0]) {\n  row = b.data.rows[0];\n} else {\n  row = b; // direct POST\n}\n\nconst prevStatus = (b.data?.previous_rows?.[0]?.status || '').toLowerCase();\nconst newStatus  = (row.status || '').toLowerCase();\nconst clientId   = String(row.client_id || b.client_id || '');\nconst phone      = (row.customer_phone || '').replace(/[^0-9+]/g, '').replace(/^\\+/, '').replace(/^00/, '');\nconst customerName = row.customer_name || 'Customer';\nconst orderId    = row.order_id || row.Id || '';\nconst items      = row.items || '';\n\n// Only act on status transitions\nconst RECEIVED  = new Set(['received','confirmed','processing','accepted']);\nconst DELIVERED = new Set(['delivered','completed','done']);\n\nlet reminderType = null;\nif (RECEIVED.has(newStatus) && !RECEIVED.has(prevStatus)) reminderType = 'received';\nif (DELIVERED.has(newStatus) && !DELIVERED.has(prevStatus)) reminderType = 'delivered';\n\nif (!reminderType)  return []; // no reminder needed\nif (!phone)         return []; // no phone to send to\nif (!clientId)      return []; // no client\n\nreturn [{ json: { clientId, phone, customerName, orderId, items, newStatus, reminderType } }];"
      },
      "id": "or-parse",
      "name": "Code · Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-580, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records/{{ $json.clientId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "or-get-client",
      "name": "HTTP · Get Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-360, 0]
    },
    {
      "parameters": {
        "jsCode": "// Sends straight to Meta's Graph API using the client's own connected WhatsApp Business\n// number — no Chatwoot dependency, and templates are required anyway once a contact is\n// outside the 24h session window (which is the norm for delivery/status notifications).\nconst ev = $('Code · Parse Event').first().json;\nconst t  = $input.first().json;\n\nif (!t.wa_phone_id || !t.wa_token) return []; // WhatsApp not connected for this client\n\nlet templatesCfg = {};\ntry { templatesCfg = JSON.parse(t.ecom_wa_templates || '{}').config || {}; } catch(e) {}\n\nconst cfg = templatesCfg[ev.reminderType];\nif (!cfg || !cfg.name) return []; // no template configured for this event\n\nconst valueMap = {\n  customer_name: ev.customerName,\n  order_id: String(ev.orderId),\n  items: ev.items,\n  review_link: t.review_link || '',\n  store_name: t.client_name || ''\n};\nconst parameters = (cfg.params || []).map(key => ({ type: 'text', text: String(valueMap[key] || '') }));\nconst components = parameters.length ? [{ type: 'body', parameters }] : [];\n\nreturn [{ json: {\n  phone: ev.phone,\n  wa_phone_id: t.wa_phone_id,\n  wa_token: t.wa_token,\n  template_name: cfg.name,\n  template_lang: cfg.lang || 'en',\n  components\n} }];"
      },
      "id": "or-build",
      "name": "Code · Build Template Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.wa_phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.wa_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'template', template: { name: $json.template_name, language: { code: $json.template_lang }, components: $json.components } }) }}",
        "options": {}
      },
      "id": "or-send-template",
      "name": "HTTP · Send WA Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 0],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook · Order Event": {
      "main": [
        [
          { "node": "Respond · ACK",      "type": "main", "index": 0 },
          { "node": "Code · Parse Event", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code · Parse Event":           { "main": [ [ { "node": "HTTP · Get Client", "type": "main", "index": 0 } ] ] },
    "HTTP · Get Client":            { "main": [ [ { "node": "Code · Build Template Payload", "type": "main", "index": 0 } ] ] },
    "Code · Build Template Payload":{ "main": [ [ { "node": "HTTP · Send WA Template", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
