n8n/ecom-wa-templates.json
{
  "name": "Leadvyne · Ecom WA Templates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-ecom-wa-templates",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "ewt-wh",
      "name": "Webhook · WA Templates",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "leadvyne-ecom-wa-templates"
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook · WA Templates').first().json.body;\nconst clientId = String(b.client_id || '');\nif (!clientId) throw new Error('client_id required');\nreturn [{ json: { clientId } }];"
      },
      "id": "ewt-parse",
      "name": "Code · Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-580, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records/{{ $json.clientId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "ewt-get-client",
      "name": "HTTP · Get Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-360, 0]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst hasWa = !!(c.waba_id && c.wa_token);\nreturn [{ json: { hasWa, waba_id: c.waba_id || '', wa_token: c.wa_token || '', error: hasWa ? '' : 'WhatsApp Business API is not connected for this account — connect it from Settings → Channels.' } }];"
      },
      "id": "ewt-check",
      "name": "Code · Check Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "has-wa",
              "leftValue": "={{ $json.hasWa }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ewt-if",
      "name": "If · Has WA Config",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [80, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.waba_id }}/message_templates?fields=name,status,language,category,components&limit=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.wa_token }}" }
          ]
        },
        "options": {}
      },
      "id": "ewt-fetch",
      "name": "HTTP · Fetch Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, -80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst templates = (raw.data || []).filter(t => t.status === 'APPROVED').map(t => {\n  const body = (t.components || []).find(c => c.type === 'BODY');\n  const bodyText = body?.text || '';\n  const varCount = new Set(bodyText.match(/\\{\\{\\d+\\}\\}/g) || []).size;\n  return { name: t.name, language: t.language, category: t.category, body_text: bodyText, var_count: varCount };\n});\nreturn [{ json: { templates } }];"
      },
      "id": "ewt-format",
      "name": "Code · Format Templates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "ewt-respond",
      "name": "Respond · Templates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 0]
    }
  ],
  "connections": {
    "Webhook · WA Templates": { "main": [ [ { "node": "Code · Parse Request", "type": "main", "index": 0 } ] ] },
    "Code · Parse Request":   { "main": [ [ { "node": "HTTP · Get Client", "type": "main", "index": 0 } ] ] },
    "HTTP · Get Client":      { "main": [ [ { "node": "Code · Check Config", "type": "main", "index": 0 } ] ] },
    "Code · Check Config":    { "main": [ [ { "node": "If · Has WA Config", "type": "main", "index": 0 } ] ] },
    "If · Has WA Config": {
      "main": [
        [ { "node": "HTTP · Fetch Templates", "type": "main", "index": 0 } ],
        [ { "node": "Respond · Templates", "type": "main", "index": 0 } ]
      ]
    },
    "HTTP · Fetch Templates": { "main": [ [ { "node": "Code · Format Templates", "type": "main", "index": 0 } ] ] },
    "Code · Format Templates": { "main": [ [ { "node": "Respond · Templates", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
