n8n/ecom-context.json
{
  "name": "Leadvyne · Ecom Context",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ec-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Execute Workflow Trigger').first().json.ecom_table_ids.products }}/records?where=(client_id,eq,{{ $('Execute Workflow Trigger').first().json.client_id }})~and(status,eq,active)&limit=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "ec-products",
      "name": "HTTP · Get Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Execute Workflow Trigger').first().json.ecom_table_ids.orders }}/records?where=(client_id,eq,{{ $('Execute Workflow Trigger').first().json.client_id }})&sort=-order_date&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "ec-orders",
      "name": "HTTP · Get Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Execute Workflow Trigger').first().json;\n\nfunction safeList(nodeName) {\n  try {\n    const d = $(nodeName).first().json;\n    return Array.isArray(d.list) ? d.list : [];\n  } catch(e) { return []; }\n}\n\nconst products = safeList('HTTP · Get Products');\nconst orders   = safeList('HTTP · Get Orders');\n\nlet block = '';\n\nif (products.length) {\n  const lines = products.map(p => {\n    let l = `- ${p.name || p.title}`;\n    if (p.sku)         l += ` | SKU: ${p.sku}`;\n    if (p.price)       l += ` | Price: ${p.currency || 'INR'} ${p.price}`;\n    if (p.stock !== undefined) l += ` | Stock: ${p.stock}`;\n    if (p.category)    l += ` | Category: ${p.category}`;\n    if (p.color)       l += ` | Color: ${p.color}`;\n    if (p.size)        l += ` | Size: ${p.size}`;\n    if (p.description) l += ` | ${p.description.slice(0, 80)}`;\n    return l;\n  }).join('\\n');\n  block += '\\n\\n## Products\\n' + lines;\n}\n\nif (orders.length) {\n  const lines = orders.map(o => {\n    let l = `- Order #${o.order_id || o.id}`;\n    if (o.customer_name)  l += ` | Customer: ${o.customer_name}`;\n    if (o.order_date)     l += ` | Date: ${o.order_date}`;\n    if (o.status)         l += ` | Status: ${o.status}`;\n    if (o.total)          l += ` | Total: ${o.currency || 'INR'} ${o.total}`;\n    if (o.items)          l += ` | Items: ${o.items}`;\n    return l;\n  }).join('\\n');\n  block += '\\n\\n## Recent Orders\\n' + lines;\n}\n\nreturn [{ json: { ...c, ecomContextBlock: block } }];"
      },
      "id": "ec-build",
      "name": "Code · Build Ecom Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "HTTP · Get Products", "type": "main", "index": 0 },
          { "node": "HTTP · Get Orders",   "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP · Get Products": { "main": [ [ { "node": "Code · Build Ecom Prompt", "type": "main", "index": 0 } ] ] },
    "HTTP · Get Orders":   { "main": [ [ { "node": "Code · Build Ecom Prompt", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "versionId": "ec000000-0000-0000-0000-000000000001"
}
