n8n/ecom-sync.json
{
  "name": "Leadvyne · Ecom Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-ecom-sync",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "esync-wh",
      "name": "Webhook · Ecom Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "leadvyne-ecom-sync"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "esync-ack",
      "name": "Respond · ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-600, -120]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook · Ecom Sync').first().json.body;\nconst clientId     = b.client_id;\nconst syncType     = b.sync_type || 'products'; // 'products' or 'orders'\nconst gsheetUrl    = b.gsheet_url || '';\nconst tableId      = b.table_id || '';\n\nconst match = gsheetUrl.match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/);\nif (!match) throw new Error('Invalid Google Sheet URL');\nconst spreadsheetId = match[1];\n\nreturn [{ json: { clientId, syncType, spreadsheetId, gsheetUrl, tableId } }];"
      },
      "id": "esync-parse",
      "name": "Code · Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Sheet1",
        "authentication": "serviceAccount",
        "options": {}
      },
      "id": "esync-fetch-sheet",
      "name": "HTTP · Fetch Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [-380, 0],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_GSHEET_CRED", "name": "Google Sheets" } },
      "parameters": {
        "operation": "read",
        "documentId": "={{ $json.spreadsheetId }}",
        "sheetName": "Sheet1",
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Code · Parse Request').first().json;\nconst raw = $input.first().json;\n// GSheet read returns array of row arrays\nconst rows = raw.values || [];\nif (rows.length < 2) return [];\n\nconst headers = rows[0].map(h => h.toLowerCase().replace(/\\s+/g,'_'));\nconst dataRows = rows.slice(1);\n\nconst records = dataRows.map(row => {\n  const obj = { client_id: meta.clientId };\n  headers.forEach((h, i) => { obj[h] = row[i] || ''; });\n  return { json: obj };\n});\n\nreturn [{ json: { ...meta, records, headers } }];"
      },
      "id": "esync-parse-rows",
      "name": "Code · Parse Sheet Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "jsCode": "const { records, clientId, tableId } = $input.first().json;\n// Return one item per record for bulk upsert\nreturn records.map(r => ({ json: r }));"
      },
      "id": "esync-split",
      "name": "Code · Split Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Code · Parse Request').first().json.tableId }}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "esync-upsert",
      "name": "HTTP · Upsert Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook · Ecom Sync": {
      "main": [
        [
          { "node": "Respond · ACK",       "type": "main", "index": 0 },
          { "node": "Code · Parse Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code · Parse Request":   { "main": [ [ { "node": "HTTP · Fetch Sheet",       "type": "main", "index": 0 } ] ] },
    "HTTP · Fetch Sheet":     { "main": [ [ { "node": "Code · Parse Sheet Rows",  "type": "main", "index": 0 } ] ] },
    "Code · Parse Sheet Rows":{ "main": [ [ { "node": "Code · Split Records",     "type": "main", "index": 0 } ] ] },
    "Code · Split Records":   { "main": [ [ { "node": "HTTP · Upsert Record",     "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
