n8n/ecom-sync.json
{
  "name": "Leadvyne · Ecom Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-ecom-sync",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "esync-wh",
      "name": "Webhook · Ecom Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "leadvyne-ecom-sync"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "esync-ack",
      "name": "Respond · ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-600, -120]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook · Ecom Sync').first().json.body;\nconst clientId     = b.client_id;\nconst syncType     = b.sync_type || 'products'; // 'products' or 'orders'\nconst gsheetUrl    = b.gsheet_url || '';\nconst tableId      = b.table_id || '';\nconst columnMap    = (b.column_map && typeof b.column_map === 'object') ? b.column_map : {};\n\nconst match = gsheetUrl.match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/);\nif (!match) throw new Error('Invalid Google Sheet URL');\nconst spreadsheetId = match[1];\n// Default to the first tab (gid=0) when the URL doesn't name one — far more\n// forgiving than requiring an exact sheet-tab name match.\nconst gidMatch = gsheetUrl.match(/gid=(\\d+)/);\nconst gid = gidMatch ? gidMatch[1] : '0';\n\nreturn [{ json: { clientId, syncType, spreadsheetId, gid, gsheetUrl, tableId, columnMap } }];"
      },
      "id": "esync-parse",
      "name": "Code · Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://docs.google.com/spreadsheets/d/{{ $json.spreadsheetId }}/export?format=csv&gid={{ $json.gid }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "esync-fetch-sheet",
      "name": "HTTP · Fetch Sheet CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-380, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Code · Parse Request').first().json;\nconst raw = $input.first().json;\nconst csvText = typeof raw === 'string' ? raw : (raw.data ?? raw.body ?? raw.text ?? '');\n\n// A sheet that isn't publicly viewable returns Google's HTML login/error page\n// instead of CSV — bail out cleanly rather than trying to parse markup as data.\nif (!csvText || /^\\s*<(!doctype|html)/i.test(csvText.trim())) return [];\n\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [], field = '', inQuotes = false;\n  for (let i = 0; i < text.length; i++) {\n    const c = text[i];\n    if (inQuotes) {\n      if (c === '\"') { if (text[i + 1] === '\"') { field += '\"'; i++; } else { inQuotes = false; } }\n      else field += c;\n    } else {\n      if (c === '\"') inQuotes = true;\n      else if (c === ',') { row.push(field); field = ''; }\n      else if (c === '\\r') { /* skip */ }\n      else if (c === '\\n') { row.push(field); rows.push(row); row = []; field = ''; }\n      else field += c;\n    }\n  }\n  if (field.length || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\n\nconst rows = parseCSV(csvText);\nif (rows.length < 2) return [];\n\nconst rawHeaders = rows[0];\nconst normHeaders = rawHeaders.map(h => String(h).toLowerCase().replace(/\\s+/g,'_'));\nconst dataRows = rows.slice(1).filter(r => r.some(v => String(v).trim() !== ''));\n\nconst FIELDS_BY_TYPE = {\n  products: ['name','sku','category','color','size','price','currency','stock','status','description','image_url'],\n  orders: ['order_id','customer_name','customer_phone','order_date','items','total','currency','status','delivery_address','notes']\n};\nconst targetFields = FIELDS_BY_TYPE[meta.syncType] || FIELDS_BY_TYPE.products;\nconst columnMap = meta.columnMap || {};\n\nfunction findIndex(headerName) {\n  if (!headerName) return -1;\n  const needle = String(headerName).trim().toLowerCase();\n  return rawHeaders.findIndex(h => String(h).trim().toLowerCase() === needle);\n}\n\n// Resolve each target field to a column index: explicit mapping first, else\n// fall back to matching the normalized (snake_case) header name directly.\nconst fieldIndex = {};\ntargetFields.forEach(f => {\n  const mapped = columnMap[f];\n  let idx = mapped ? findIndex(mapped) : -1;\n  if (idx === -1) idx = normHeaders.indexOf(f);\n  fieldIndex[f] = idx;\n});\n\nconst records = dataRows.map(row => {\n  const obj = { client_id: meta.clientId };\n  targetFields.forEach(f => {\n    const idx = fieldIndex[f];\n    obj[f] = idx >= 0 ? (row[idx] || '') : '';\n  });\n  return { json: obj };\n});\n\nreturn [{ json: { ...meta, records, headers: rawHeaders } }];"
      },
      "id": "esync-parse-rows",
      "name": "Code · Parse Sheet Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "jsCode": "const { records, clientId, tableId } = $input.first().json;\n// Return one item per record for bulk upsert\nreturn records.map(r => ({ json: r }));"
      },
      "id": "esync-split",
      "name": "Code · Split Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Code · Parse Request').first().json.tableId }}/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "esync-upsert",
      "name": "HTTP · Upsert Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 0],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook · Ecom Sync": {
      "main": [
        [
          { "node": "Respond · ACK",       "type": "main", "index": 0 },
          { "node": "Code · Parse Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code · Parse Request":   { "main": [ [ { "node": "HTTP · Fetch Sheet CSV",   "type": "main", "index": 0 } ] ] },
    "HTTP · Fetch Sheet CSV": { "main": [ [ { "node": "Code · Parse Sheet Rows",  "type": "main", "index": 0 } ] ] },
    "Code · Parse Sheet Rows":{ "main": [ [ { "node": "Code · Split Records",     "type": "main", "index": 0 } ] ] },
    "Code · Split Records":   { "main": [ [ { "node": "HTTP · Upsert Record",     "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
