n8n/ecom-setup.json
{
  "name": "Leadvyne · Ecom Setup (run once)",
  "nodes": [
    {
      "parameters": {},
      "id": "setup-trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://whizz.aiingo.com/api/v1/db/meta/projects/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "setup-get-bases",
      "name": "HTTP · Get Bases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 0]
    },
    {
      "parameters": {
        "jsCode": "// Find the base that contains the clients table (mxl33bg4wi70fqj)\nconst bases = $input.first().json.list || [];\n// Use the first base — adjust if you have multiple\nconst base = bases[0];\nif (!base) throw new Error('No NocoDB base found. Check your token.');\nreturn [{ json: { baseId: base.id, baseTitle: base.title } }];"
      },
      "id": "setup-pick-base",
      "name": "Code · Pick Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v1/db/meta/projects/{{ $json.baseId }}/tables",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\n  \"title\": \"ecom_products\",\n  \"columns\": [\n    { \"column_name\": \"client_id\",    \"uidt\": \"SingleLineText\", \"title\": \"client_id\" },\n    { \"column_name\": \"name\",         \"uidt\": \"SingleLineText\", \"title\": \"name\" },\n    { \"column_name\": \"sku\",          \"uidt\": \"SingleLineText\", \"title\": \"sku\" },\n    { \"column_name\": \"category\",     \"uidt\": \"SingleLineText\", \"title\": \"category\" },\n    { \"column_name\": \"price\",        \"uidt\": \"Number\",         \"title\": \"price\" },\n    { \"column_name\": \"currency\",     \"uidt\": \"SingleLineText\", \"title\": \"currency\" },\n    { \"column_name\": \"stock\",        \"uidt\": \"Number\",         \"title\": \"stock\" },\n    { \"column_name\": \"status\",       \"uidt\": \"SingleLineText\", \"title\": \"status\" },\n    { \"column_name\": \"description\",  \"uidt\": \"LongText\",       \"title\": \"description\" },\n    { \"column_name\": \"image_url\",    \"uidt\": \"URL\",            \"title\": \"image_url\" },\n    { \"column_name\": \"shopify_id\",   \"uidt\": \"SingleLineText\", \"title\": \"shopify_id\" }\n  ]\n}",
        "options": {}
      },
      "id": "setup-create-products",
      "name": "HTTP · Create Products Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, -80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v1/db/meta/projects/{{ $('Code · Pick Base').first().json.baseId }}/tables",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={\n  \"title\": \"ecom_orders\",\n  \"columns\": [\n    { \"column_name\": \"client_id\",      \"uidt\": \"SingleLineText\", \"title\": \"client_id\" },\n    { \"column_name\": \"order_id\",       \"uidt\": \"SingleLineText\", \"title\": \"order_id\" },\n    { \"column_name\": \"customer_name\",  \"uidt\": \"SingleLineText\", \"title\": \"customer_name\" },\n    { \"column_name\": \"customer_phone\", \"uidt\": \"SingleLineText\", \"title\": \"customer_phone\" },\n    { \"column_name\": \"order_date\",     \"uidt\": \"Date\",           \"title\": \"order_date\" },\n    { \"column_name\": \"items\",          \"uidt\": \"LongText\",       \"title\": \"items\" },\n    { \"column_name\": \"total\",          \"uidt\": \"Number\",         \"title\": \"total\" },\n    { \"column_name\": \"currency\",       \"uidt\": \"SingleLineText\", \"title\": \"currency\" },\n    { \"column_name\": \"status\",         \"uidt\": \"SingleLineText\", \"title\": \"status\" },\n    { \"column_name\": \"delivery_address\",\"uidt\": \"LongText\",      \"title\": \"delivery_address\" },\n    { \"column_name\": \"notes\",          \"uidt\": \"LongText\",       \"title\": \"notes\" },\n    { \"column_name\": \"shopify_id\",     \"uidt\": \"SingleLineText\", \"title\": \"shopify_id\" }\n  ]\n}",
        "options": {}
      },
      "id": "setup-create-orders",
      "name": "HTTP · Create Orders Table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const products = $('HTTP · Create Products Table').first().json;\nconst orders   = $('HTTP · Create Orders Table').first().json;\n\nconst productsId = products.id || products.table?.id || '(error: ' + JSON.stringify(products).slice(0,80) + ')';\nconst ordersId   = orders.id   || orders.table?.id   || '(error: ' + JSON.stringify(orders).slice(0,80) + ')';\n\nreturn [{ json: {\n  message: 'Tables created! Copy these IDs into the Ecommerce Settings in your dashboard.',\n  products_table_id: productsId,\n  orders_table_id:   ordersId\n} }];"
      },
      "id": "setup-result",
      "name": "Code · Show Table IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [ [ { "node": "HTTP · Get Bases", "type": "main", "index": 0 } ] ]
    },
    "HTTP · Get Bases": {
      "main": [ [ { "node": "Code · Pick Base", "type": "main", "index": 0 } ] ]
    },
    "Code · Pick Base": {
      "main": [
        [
          { "node": "HTTP · Create Products Table", "type": "main", "index": 0 },
          { "node": "HTTP · Create Orders Table",   "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP · Create Products Table": {
      "main": [ [ { "node": "Code · Show Table IDs", "type": "main", "index": 0 } ] ]
    },
    "HTTP · Create Orders Table": {
      "main": [ [ { "node": "Code · Show Table IDs", "type": "main", "index": 0 } ] ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
