n8n/engine-general.json
{
  "name": "Leadvyne \u00b7 Engine \u00b7 General",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "When called by wrapper",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body || raw;\nif (b.message_type && b.message_type !== 'incoming') return [];\nif (b.private) return [];\n\nconst conv = b.conversation || {};\nconst sender = conv?.meta?.sender || b.sender || {};\nlet phone = (sender.phone_number || sender.identifier || '').replace(/[^0-9+]/g,'').replace(/^\\+/,'');\nif (phone.startsWith('00')) phone = phone.slice(2);\n\nconst atts = b.attachments || b.message?.attachments || [];\nlet mediaType = 'text', mediaUrl = '';\nif (atts.length) {\n  const a = atts[0];\n  mediaUrl = a.data_url || a.file_url || '';\n  if ((a.file_type||'').includes('audio')) mediaType = 'voice';\n  else if ((a.file_type||'').includes('image')) mediaType = 'image';\n}\n\nconst text = (b.content || b.message?.content || '').trim();\nif (!phone) return [];\nif (mediaType === 'text' && !text) return [];\n\nreturn [{ json: {\n  client_id:  String(raw.client_id || b.client_id || ''),\n  account_id: String(b.account?.id || conv?.account_id || ''),\n  inbox_id:   String(b.inbox?.id || conv?.inbox_id || ''),\n  convId:     conv?.id || null,\n  phone, name: sender.name || '', text, mediaType, mediaUrl,\n  _client: raw._client || null,\n  _startMs: Date.now()\n} }];"
      },
      "id": "parse",
      "name": "Code \u00b7 Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records/{{ $json.client_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            }
          ]
        },
        "options": {}
      },
      "id": "tenant",
      "name": "NocoDB \u00b7 Get tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Code \u00b7 Parse').first().json;\n\n// Use pre-fetched client from wrapper (Fix 1: skip duplicate NocoDB call)\nlet t;\nif (msg._client && msg._client.chatwoot_inbox_id) {\n  t = msg._client;\n} else {\n  const raw = $input.first().json;\n  t = raw.list ? raw.list[0] : raw;\n}\n\nif (!t || !t.chatwoot_inbox_id) return [];\nif (t.active === 'No') return [];\nlet flow = {}; try { flow = JSON.parse(t.flow_json || '{}'); } catch(e) {}\nlet botConfig = {}; try { botConfig = JSON.parse(t.bot_config || '{}'); } catch(e) {}\nlet qualQuestions = []; try { qualQuestions = JSON.parse(t.qual_questions || '[]'); } catch(e) {}\nlet services = []; try { services = JSON.parse(t.services || '[]'); } catch(e) {}\nconst kb_summary = t.kb_summary || '';\nreturn [{ json: {\n  ...msg,\n  chatwoot_base: t.chatwoot_base, chatwoot_account_id: t.chatwoot_account_id, chatwoot_token: t.chatwoot_token,\n  control_nocodb_base: 'https://whizz.aiingo.com', control_nocodb_token: 'nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF',\n  analytics_table_id: 'm2in19v8n7phitr',\n  openrouter_key: t.openrouter_key || $env.OPENROUTER_KEY, model: t.model || 'google/gemini-2.5-flash',\n  language: t.language || 'ml', main_prompt: t.main_prompt || '', flow,\n  botConfig, qualQuestions, services, kb_summary,\n  industry: t.industry || 'general',\n  ta_table_ids: (() => { try { return JSON.parse(t.ta_table_ids || '{}'); } catch(e) { return {}; } })(),\n  ecom_table_ids: (() => { try { return JSON.parse(t.ecom_table_ids || '{}'); } catch(e) { return {}; } })(),\n  client_name: t.client_name || '',\n  sarvam_key: t.sarvam_key || $env.SARVAM_API_KEY || '',\n  cal_link: t.cal_link || '',\n  sarvam_lang: ({ml:'ml-IN',hi:'hi-IN',ta:'ta-IN',te:'te-IN',bn:'bn-IN',kn:'kn-IN',mr:'mr-IN',gu:'gu-IN'})[t.language||'ml'] || 'ml-IN',\n  test_mode: t.test_mode || 'No',\n  test_phone: t.test_phone || ''\n} }];"
      },
      "id": "ctx",
      "name": "Code \u00b7 Build ctx",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records?where=(Phone,eq,{{ $json.phone }})&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            }
          ]
        },
        "options": {}
      },
      "id": "getlead",
      "name": "HTTP \u00b7 Get lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code \u00b7 Build ctx').first().json;\nconst r = $input.first().json;\nconst rows = r.list || [];\nconst lead = rows.find(l => String(l.ClientId) === String(c.client_id)) || null;\n// Opt-out: block opted-out leads (allow START to re-subscribe)\nconst msg = $('Code \u00b7 Parse').first().json;\nif (lead?.OptOut === 'Yes') {\n  const _txt = (msg.text || '').trim().toLowerCase();\n  if (_txt !== 'start') return [];\n}\nif (lead && (lead.Handover === 'Yes' || lead.Stage === 'human_handover')) return [];\nif (c.test_mode === 'Yes' && c.test_phone && c.phone !== c.test_phone.replace(/[^0-9]/g,'')) return [];\n\nconst rateLimitMs = parseInt(c.botConfig?.rate_limit_ms) || 4000;\nconst lastMsgAt = lead?.LastMsgAt ? new Date(lead.LastMsgAt).getTime() : 0;\nif (Date.now() - lastMsgAt < rateLimitMs) return [];\n\nconst duplicateClientIds = rows.filter(l => String(l.ClientId) !== String(c.client_id)).map(l => String(l.ClientId));\nconst isDuplicate = duplicateClientIds.length > 0;\n\nlet history = [];\ntry { history = JSON.parse(lead?.ConvHistory || '[]'); } catch(e) {}\nconst botMsgs = history.filter(m => m.role === 'assistant').slice(-3).map(m => m.content);\nconst looping = botMsgs.length === 3 && botMsgs.every(m => m === botMsgs[0]);\n\nconst memSummary = lead?.MemSummary || '';\nconst activeHistory = history.length > 20 ? history.slice(-6) : history;\n\nlet qualAnswers = {};\ntry { qualAnswers = JSON.parse(lead?.QualAnswers || '{}'); } catch(e) {}\n\nreturn [{ json: { ...c, leadId: lead?.Id || null, stage: lead?.Stage || 'new', history, activeHistory, memSummary, looping, qualAnswers, isDuplicate, leadOptOut: lead?.OptOut || 'No' } }];"
      },
      "id": "state",
      "name": "Code \u00b7 State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "img",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "voc",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "media",
      "name": "Switch \u00b7 Media",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, max_tokens: 100, messages: [ { role:'user', content: [ { type:'text', text:'Describe what this image shows in one short sentence, focused on anything relevant to an insurance enquiry.' }, { type:'image_url', image_url: { url: $json.mediaUrl } } ] } ] }) }}",
        "options": {}
      },
      "id": "vision",
      "name": "HTTP \u00b7 Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code \u00b7 State').first().json;\nconst r = $input.first().json;\nconst txt = r.choices?.[0]?.message?.content || '(image received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "imgtext",
      "name": "Code \u00b7 image\u2192text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code \u00b7 State').first().json;\nreturn [{ json: { ...c, userText: c.text || (c.mediaType === 'voice' ? '(sent a voice note)' : '') } }];"
      },
      "id": "txtpass",
      "name": "Code \u00b7 text\u2192text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn [{ json: c }];"
      },
      "id": "merge",
      "name": "Code \u00b7 Merge text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn [{ json: { stage: c.stage || 'new', userText: c.userText || '', model: c.model || 'google/gemini-2.5-flash' } }];"
      },
      "id": "intentprep",
      "name": "Code \u00b7 Intent prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst msg = (c.userText || '').trim();\nconst low = msg.toLowerCase();\nlet intent = null, intentData = {};\n\n// WANTS_HUMAN\nif (!intent && /\\b(human|agent|person|speak to|talk to|call me|contact me|representative|support|helpline|manager)\\b/.test(low)) intent = 'WANTS_HUMAN';\n\n// BOOKING\nif (!intent) {\n  const bookMatch = low.match(/\\b(monday|tuesday|wednesday|thursday|friday|saturday|sunday|tomorrow|today|\\d{1,2}[:\\/\\-]\\d{1,2}|\\d{1,2}\\s*(am|pm)|morning|afternoon|evening|tonight|next week)\\b/);\n  if (bookMatch) { intent = 'BOOKING'; intentData = { booking_time: msg }; }\n}\n\n// WATCHED\nif (!intent && /\\b(watched|seen it|already watched|i saw|viewed|i watched|just watched)\\b/.test(low)) intent = 'WATCHED';\n\n// FORM_DONE\nif (!intent && /\\b(filled|submitted|done the form|form done|completed the form|i filled|i submitted)\\b/.test(low)) intent = 'FORM_DONE';\n\n// DELAY\nif (!intent && /\\b(later|not now|busy|maybe later|some other time|not interested yet|remind me|another time|not ready|will think)\\b/.test(low)) intent = 'DELAY';\n\n// SHORT_NEUTRAL \u2014 pure openers only\nif (!intent && /^(hi|hello|hey|hii|helo|hola|salam|namaste|good morning|good afternoon|good evening|sup|yo)[\\.!]*$/.test(low)) intent = 'SHORT_NEUTRAL';\n\n// AFFIRMATIVE \u2014 only clear confirmations\nif (!intent && /^(yes|yeah|yep|yup|ok|okay|sure|alright|confirmed|confirm|agreed|agree|proceed|go ahead|done|noted|sounds good|perfect|absolutely|definitely|of course)[\\.!]*$/.test(low)) intent = 'AFFIRMATIVE';\n\n// Everything else \u2192 QUESTION (goes to FAQ)\nif (!intent) { intent = 'QUESTION'; intentData = { question: msg }; }\n\nreturn [{ json: { ...c, output: JSON.stringify({ intent, data: intentData }) } }];"
      },
      "id": "aiagent",
      "name": "Code \u00b7 Intent classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst mergeCtx = $('Code \u00b7 Merge text').first().json;\nconst sc = $('Code \u00b7 State').first().json;\nconst userText = mergeCtx.userText || '';\nconst _OPT_OUT = ['stop','unsubscribe','opt out','opt-out','optout'];\nconst _isOptOut = _OPT_OUT.some(w => userText.toLowerCase().trim() === w);\nconst _isResub = userText.toLowerCase().trim() === 'start' && sc.leadOptOut === 'Yes';\nif (_isOptOut) return [{ json: { ...slim(sc), userText, intent:'SHORT_NEUTRAL', route:'qualify_next', reply:'You have been unsubscribed. Reply START to re-subscribe.', next: sc.stage, qualAnswers: sc.qualAnswers||{}, _isOptOut:true } }];\nif (_isResub) return [{ json: { ...slim(sc), userText, intent:'SHORT_NEUTRAL', route:'qualify_next', reply:'Welcome back! You are re-subscribed.', next: 'new', qualAnswers: sc.qualAnswers||{}, _isResub:true } }];\n\nconst raw = c.output || c.text || c.choices?.[0]?.message?.content || '';\nlet intent = 'SHORT_NEUTRAL', intentData = {};\ntry {\n  const m = raw.replace(/```json|```/gi,'').match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); intent = p.intent || intent; intentData = p.data || {}; }\n} catch(e) {}\nconst valid = ['DELAY','BOOKING','AFFIRMATIVE','WATCHED','FORM_DONE','WANTS_MORE_INFO','QUESTION','WANTS_HUMAN','SHORT_NEUTRAL'];\nif (!valid.includes(intent)) intent = 'SHORT_NEUTRAL';\n\nif (sc.looping && sc.botConfig?.antiloop_enabled !== false) intent = 'WANTS_HUMAN';\n\nconst qs = sc.qualQuestions || [];\nconst qualDone = !qs.length || sc.botConfig?.qual_enabled === false || (sc.stage && !sc.stage.startsWith('qual_') && sc.stage !== 'new');\nconst qualStage = sc.stage?.startsWith('qual_') ? parseInt(sc.stage.replace('qual_','')) : null;\n\nconst flow = sc.flow || {};\nconst stageNode = flow.stages?.[sc.stage];\nconst node = stageNode || (sc.stage === 'new' || !sc.stage ? flow.stages?.['new'] : null) || {};\nconst stageNotFound = !stageNode && sc.stage && sc.stage !== 'new';\n\nconst _isPostHandover = sc.stage === 'human_handover';\nconst _handoverFaqCount = sc.handoverFaqCount || 0;\nconst action = node[intent] || node['*'] || { next: sc.stage, msg: null };\n\nconst POSITIVE = new Set(['AFFIRMATIVE','WATCHED','FORM_DONE','BOOKING','SHORT_NEUTRAL']);\nconst NEGATIVE = new Set(['DELAY','WANTS_MORE_INFO']);\n\nconst _allStages = Object.keys(flow.stages || {}).filter(k => k !== 'new');\nconst _isFinalStage = _allStages.length > 0 && sc.stage === _allStages[_allStages.length - 1];\n\nconst _lastBotMsg = (sc.history || []).filter(m => m.role === 'assistant').slice(-1)[0]?.content || '';\nconst _actionMsg = action.msg ? (flow.messages?.[action.msg] || '') : '';\nconst _wouldRepeat = _actionMsg && _lastBotMsg && _lastBotMsg.includes(_actionMsg.slice(0, 40));\n\nlet reply = '', videoUrl = null;\nlet route = 'stage';\nif (intent === 'WANTS_HUMAN' && sc.botConfig?.handover_enabled !== false) route = 'human';\nelse if (_isFinalStage && POSITIVE.has(intent) && sc.botConfig?.handover_enabled !== false) {\n  route = 'human';\n  const _tz = sc.botConfig?.timezone || 'Asia/Kolkata';\n  const _now = new Date();\n  const _nowLocal = new Date(_now.toLocaleString('en-US', { timeZone: _tz }));\n  const _hour = _nowLocal.getHours();\n  const _day = _nowLocal.getDay();\n  let _callLabel = 'tomorrow';\n  if (_hour < 9 && _day >= 1 && _day <= 5) _callLabel = 'today';\n  else if (_day === 6) _callLabel = 'on Monday';\n  else if (_day === 0) _callLabel = 'tomorrow (Monday)';\n  reply = sc.botConfig?.callback_msg || `Thank you! \ud83d\ude4f Our team will contact you ${_callLabel} at 9am. We look forward to speaking with you!`;\n}\nelse if (_wouldRepeat && POSITIVE.has(intent)) route = 'faq';\nelse if (_isPostHandover) {\n  if (_handoverFaqCount < 3) route = 'faq';\n  else route = 'drop';\n} else if (stageNotFound || intent === 'QUESTION' || NEGATIVE.has(intent)) {\n  const industry = sc.industry || 'general';\n  if (industry === 'ecommerce') route = 'ecom_faq';\n  else if (industry === 'travel') route = 'travel_faq';\n  else route = 'faq';\n\n  // If a stage flow is active and user asked a genuine question:\n  // answer the FAQ but also push the flow stage forward in the same reply.\n  const _flowHasStages = _allStages.length > 0;\n  const _flowIsActive = _flowHasStages && !_isFinalStage && sc.stage !== 'human_handover' && !stageNotFound;\n  if (_flowIsActive && intent === 'QUESTION' && action.msg) {\n    const _vars = flow.variables || {};\n    const _stageMsg = (flow.messages?.[action.msg] || '')\n      .replace(/\\[(\\w+)\\]/g, (_, k) => _vars[k.toLowerCase()] ?? _vars[k] ?? '');\n    if (_stageMsg) { next = action.next || sc.stage; }\n    Object.assign(intentData, { _flowPendingMsg: _stageMsg || null, _flowPendingNext: action.next || sc.stage });\n  }\n}\nelse if (!qualDone && qualStage === null) route = 'qualify';\nelse if (!qualDone && qualStage !== null) route = 'qualify_next';\n\nlet next = action.next || sc.stage;\nlet qualAnswers = sc.qualAnswers || {};\n\nif (route === 'qualify_next') {\n  const currentIdx = qualStage !== null ? qualStage : 0;\n  const nextIdx = currentIdx + 1;\n  if (qs[currentIdx]) qualAnswers[qs[currentIdx]] = userText;\n  if (nextIdx < qs.length) {\n    reply = qs[nextIdx];\n    next = 'qual_' + nextIdx;\n  } else {\n    const firstStage = Object.keys(flow.stages || {}).filter(k => k !== 'new')[0] || 'new';\n    const firstAction = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n    const vars = flow.variables || {};\n    reply = (flow.messages?.[firstAction.msg] || 'Great, thanks! Let me share some information \ud83d\ude0a').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n    next = firstAction.next || firstStage;\n  }\n} else if (route === 'stage' && action.msg) {\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || '').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k.toLowerCase()] ?? vars[k] ?? '');\n  if (action.form && vars.form_link && !reply.includes(vars.form_link)) reply += '\\n\\n' + vars.form_link;\n  if (action.video) videoUrl = vars[action.video] || null;\n}\nif (route === 'stage' && !action.msg) route = 'faq';\n\nif (intent === 'BOOKING' && sc.cal_link && !reply.includes(sc.cal_link)) {\n  reply = (reply || 'Great! You can book your slot here \ud83d\udcc5') + '\\n\\n\ud83d\udc49 ' + sc.cal_link;\n}\n\nfunction slim(s) {\n  return {\n    client_id: s.client_id, phone: s.phone, name: s.name, convId: s.convId,\n    chatwoot_base: s.chatwoot_base, chatwoot_account_id: s.chatwoot_account_id, chatwoot_token: s.chatwoot_token,\n    client_name: s.client_name, _startMs: s._startMs, analytics_table_id: s.analytics_table_id,\n    leadId: s.leadId, stage: s.stage, isDuplicate: s.isDuplicate, leadOptOut: s.leadOptOut,\n    looping: s.looping, handoverFaqCount: s.handoverFaqCount || 0,\n    model: s.model, openrouter_key: s.openrouter_key, language: s.language,\n    industry: s.industry,\n    main_prompt: s.main_prompt, services: s.services, kb_summary: s.kb_summary, ta_table_ids: s.ta_table_ids, ecom_table_ids: s.ecom_table_ids,\n    activeHistory: s.activeHistory, cal_link: s.cal_link, mediaType: s.mediaType\n  };\n}\n\nconst _fpm = intentData._flowPendingMsg ?? null;\nconst _fpn = intentData._flowPendingNext ?? null;\nreturn [{ json: { ...slim(sc), userText, intent, intentData, route, next, reply, videoUrl, qualStage, qualAnswers, _flowPendingMsg: _fpm, _flowPendingNext: _fpn } }];"
      },
      "id": "parseintent",
      "name": "Code \u00b7 Intent + flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "h",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "human"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "faq"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "q",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "qualify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualify"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "qn",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "qualify_next",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualify_next"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "dr",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "drop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "drop"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "tf",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "travel_faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "travel_faq"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ef",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ecom_faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ecom_faq"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route",
      "name": "Switch \u00b7 Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1660,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: 'Sure \ud83d\ude4f connecting you to our advisor now. Someone will be with you shortly.', message_type: 'outgoing', private: false }) }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 2000
        }
      },
      "id": "sendhuman",
      "name": "HTTP \u00b7 Handover msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Code \u00b7 Intent + flow').first().json.chatwoot_base }}/api/v1/accounts/{{ $('Code \u00b7 Intent + flow').first().json.chatwoot_account_id }}/conversations/{{ $('Code \u00b7 Intent + flow').first().json.convId }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Code \u00b7 Intent + flow').first().json.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ labels: ['human-requested'] }) }}",
        "options": {}
      },
      "id": "handoverlabel",
      "name": "HTTP \u00b7 Handover label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst question = qs[0] || 'Could you tell me a bit more about what you are looking for?';\nreturn [{ json: { ...c, reply: question, next: 'qual_0' } }];"
      },
      "id": "qualstart",
      "name": "Code \u00b7 Qual start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst currentIdx = c.qualStage !== null ? c.qualStage : 0;\nconst nextIdx = currentIdx + 1;\nlet qualAnswers = c.qualAnswers || {};\nif (qs[currentIdx]) qualAnswers[qs[currentIdx]] = c.userText;\nlet reply, next;\nif (nextIdx < qs.length) {\n  reply = qs[nextIdx];\n  next = 'qual_' + nextIdx;\n} else {\n  const flow = c.flow || {};\n  const firstStage = Object.keys(flow.stages || {}).filter(k => k !== 'new')[0] || 'new';\n  const action = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || 'Great, thanks! Let me share some information \ud83d\ude0a').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n  next = action.next || firstStage;\n}\nreturn [{ json: { ...c, reply, next, qualAnswers } }];"
      },
      "id": "qualnext",
      "name": "Code \u00b7 Qual next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.reply }}"
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 2000
        }
      },
      "id": "send",
      "name": "HTTP \u00b7 Send reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull full context \u2014 try each source until we get one with client_id\nlet sc = null;\nconst _nodesToTry = ['Code \u00b7 Intent + flow', 'Code \u00b7 State', 'Code \u00b7 Build ctx'];\nfor (const n of _nodesToTry) {\n  try { const t = $(n).first().json; if (t && t.client_id) { sc = t; break; } } catch(e) {}\n}\nif (!sc) sc = $input.first().json;\nconst route = sc.route || 'stage';\n\nlet reply = sc.reply;\nlet next = sc.next;\nconst qualAnswers = sc.qualAnswers || {};\n\nif (route === 'drop') {\n  reply = null;\n} else if (route === 'faq') {\n  try { reply = $('Code \u00b7 FAQ reply').first().json.reply || reply; } catch(e) {}\n} else if (route === 'qualify') {\n  try { const qn = $('Code \u00b7 Qual start').first().json; reply = qn.reply; next = qn.next; } catch(e) {}\n}\n\nconst history = (sc.history || []).slice();\nif (sc.userText) history.push({ role: 'user', content: sc.userText });\nif (reply) history.push({ role: 'assistant', content: reply });\n\nconst isHuman = route === 'human';\nconst body = {\n  ClientId: String(sc.client_id),\n  Phone: sc.phone, Name: sc.name, ConversationID: sc.convId,\n  Date: new Date().toISOString(), Language: sc.language,\n  ConvHistory: JSON.stringify(history.slice(-40)),\n  LastMsgAt: new Date().toISOString()\n};\nif (qualAnswers && Object.keys(qualAnswers).length) body.QualAnswers = JSON.stringify(qualAnswers);\nif (isHuman) { body.Stage = 'human_handover'; body.Handover = 'Yes'; }\nelse { body.Stage = next; }\n// Increment FAQ count while bot is in post-handover mode\nif (sc.stage === 'human_handover' && sc.route !== 'drop') {\n  body.HandoverFaqCount = (sc.handoverFaqCount || 0) + 1;\n}\nif (!isHuman && next !== sc.stage) {\n  body['Follow up 1']='No'; body['Follow up 2']='No'; body['Follow up 3']='No';\n}\nif (sc.intentData?.booking_time) body.BookingTime = sc.intentData.booking_time;\nlet score = 'Cold';\nif (sc.intent === 'BOOKING' || sc.intentData?.booking_time || body.Stage === 'consultation_booked') score = 'Hot';\nelse if (['AFFIRMATIVE','WATCHED','FORM_DONE'].includes(sc.intent) && sc.stage !== 'new') score = 'Warm';\nelse if (sc.stage !== 'new' && (sc.history||[]).length > 2) score = 'Warm';\nbody.Score = score;\nif (sc.isDuplicate) body.IsDuplicate = 'Yes';\nif (sc._isOptOut) body.OptOut = 'Yes';\nif (sc._isResub) { body.OptOut = 'No'; body.Stage = 'new'; }\n// Hot moment detection\nconst HOT_PHRASES = ['how much','price','cost','available','when can','book','ready to','interested in','want to','sign up','start','confirm','deposit','payment','package','deal','offer','buy','purchase','enroll','register'];\nconst msgLower = (sc.userText||'').toLowerCase();\nconst hotPhrase = HOT_PHRASES.find(p => msgLower.includes(p));\nif (hotPhrase) { body.HotMoment = 'Yes'; body.HotMomentText = (sc.userText||'').slice(0,200); }\n// Auto-qualify score (1-10)\nconst _flow = sc.flow || {};\nconst _stageKeys = Object.keys((_flow.stages||{})).filter(k=>k!=='new');\nconst _stageIdx = _stageKeys.indexOf(sc.stage);\nconst _stageProgress = _stageKeys.length > 0 ? (_stageIdx+1)/_stageKeys.length : 0;\nconst _histLen = (sc.history||[]).length;\nlet _qualScore = Math.round((_stageProgress*4) + (score==='Hot'?3:score==='Warm'?2:0) + (hotPhrase?1.5:0) + Math.min(_histLen/20,1.5));\n_qualScore = Math.max(1, Math.min(10, _qualScore));\nbody.QualScore = _qualScore;\nconst method = sc.leadId ? 'PATCH' : 'POST';\nif (sc.leadId) body.Id = sc.leadId;\nreturn [{ json: { ...sc, reply, next, qualAnswers, _method: method, _body: body } }];"
      },
      "id": "prepupsert",
      "name": "Code \u00b7 Prep lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst history = c.activeHistory || [];\nconst lang = c.language || 'en';\nlet sys = c.main_prompt || '';\n\nif (c.services && c.services.length) {\n  const svcLines = c.services.map(s =>\n    `- ${s.name}: ${s.description||''} | Price: ${s.currency||'AED'} ${s.price} per ${s.per||'person'}`\n  ).join('\\n');\n  sys += '\\n\\n## Services\\n' + svcLines;\n}\n\nif (c.kb_summary && c.kb_summary.trim()) {\n  sys += '\\n\\n## Knowledge Base\\n' + c.kb_summary.slice(0, 2000);\n}\n\nif (c.taContextBlock && c.taContextBlock.trim()) {\n  sys += c.taContextBlock;\n}\n\nif (history.length) {\n  const histText = history.slice(-3).map(m => m.role + ': ' + m.content).join('\\n');\n  sys += '\\n\\n## Recent Conversation\\n' + histText;\n}\n\nsys += '\\n\\nCurrent stage: ' + (c.stage || 'new') + '. Respond ONLY in ' + lang + '. Never switch languages. For any question not answerable from your knowledge, politely say you will connect them with an advisor.';\n\nreturn [{ json: { ...c, _systemPrompt: sys } }];"
      },
      "id": "faqprep",
      "name": "Code \u00b7 FAQ prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        360
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code \u00b7 FAQ prep').first().json.userText }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "={{ $('Code \u00b7 FAQ prep').first().json._systemPrompt }}"
            }
          ]
        }
      },
      "id": "faqcall",
      "name": "LLM Chain \u00b7 FAQ",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2100,
        360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "={{ $('Code \u00b7 FAQ prep').first().json.model || 'google/gemini-2.5-flash' }}"
        },
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "temperature": 0.4,
          "maxTokens": 300
        }
      },
      "id": "lmFaq",
      "name": "OpenAI Chat Model \u00b7 FAQ",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2100,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENROUTER_CRED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code \u00b7 FAQ prep').first().json;\nconst r = $input.first().json;\nlet reply = r.text || r.output || r.choices?.[0]?.message?.content?.trim() || 'One moment \ud83d\ude4f';\nif (c._flowPendingMsg) reply = reply + '\\n\\n' + c._flowPendingMsg;\nconst next = c._flowPendingMsg ? (c._flowPendingNext || c.next) : c.next;\nreturn [{ json: { ...c, reply, next } }];"
      },
      "id": "faqextract",
      "name": "Code \u00b7 FAQ reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Code \u00b7 FAQ prep').first().json.openrouter_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $('Code \u00b7 FAQ prep').first().json.model || 'google/gemini-2.5-flash', max_tokens: 300, messages: [ { role: 'system', content: $('Code \u00b7 FAQ prep').first().json._systemPrompt }, { role: 'user', content: $('Code \u00b7 FAQ prep').first().json.userText } ] }) }}",
        "options": {}
      },
      "id": "faqFallback",
      "name": "HTTP \u00b7 FAQ fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "if-prefetch",
      "name": "IF \u00b7 Prefetch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "pre",
              "leftValue": "={{ $json._client?.chatwoot_inbox_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "exec-analytics",
      "name": "Execute \u00b7 Analytics",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3200,
        800
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Leadvyne \u00b7 Engine \u00b7 Analytics",
          "mode": "name",
          "cachedResultName": "Leadvyne \u00b7 Engine \u00b7 Analytics"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      }
    }
  ],
  "connections": {
    "When called by wrapper": {
      "main": [
        [
          {
            "node": "Code \u00b7 Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Parse": {
      "main": [
        [
          {
            "node": "IF \u00b7 Prefetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB \u00b7 Get tenant": {
      "main": [
        [
          {
            "node": "Code \u00b7 Build ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Build ctx": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Get lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Get lead": {
      "main": [
        [
          {
            "node": "Code \u00b7 State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 State": {
      "main": [
        [
          {
            "node": "Switch \u00b7 Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch \u00b7 Media": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Vision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code \u00b7 text\u2192text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code \u00b7 text\u2192text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Vision": {
      "main": [
        [
          {
            "node": "Code \u00b7 image\u2192text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 image\u2192text": {
      "main": [
        [
          {
            "node": "Code \u00b7 Merge text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 text\u2192text": {
      "main": [
        [
          {
            "node": "Code \u00b7 Merge text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Merge text": {
      "main": [
        [
          {
            "node": "Code \u00b7 Intent prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Intent + flow": {
      "main": [
        [
          {
            "node": "Switch \u00b7 Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch \u00b7 Route": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Handover msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code \u00b7 FAQ prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP \u00b7 Send reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code \u00b7 Qual start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP \u00b7 Send reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code \u00b7 Prep lead",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP \u00b7 Handover msg": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Handover label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Handover label": {
      "main": [
        [
          {
            "node": "Code \u00b7 Prep lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 FAQ prep": {
      "main": [
        [
          {
            "node": "LLM Chain \u00b7 FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 FAQ reply": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Qual start": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Qual next": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Send reply": {
      "main": [
        [
          {
            "node": "Code \u00b7 Prep lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Prep lead": {
      "main": [
        [
          {
            "node": "Execute \u00b7 Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain \u00b7 FAQ": {
      "main": [
        [
          {
            "node": "Code \u00b7 FAQ reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP \u00b7 FAQ fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model \u00b7 FAQ": {
      "main": []
    },
    "HTTP \u00b7 Intent classify": {
      "main": [
        [
          {
            "node": "Code \u00b7 Intent + flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Intent prep": {
      "main": [
        [
          {
            "node": "Code \u00b7 Intent classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Intent classify": {
      "main": [
        [
          {
            "node": "Code \u00b7 Intent + flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 FAQ fallback": {
      "main": [
        [
          {
            "node": "Code \u00b7 FAQ reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF \u00b7 Prefetch": {
      "main": [
        [
          {
            "node": "Code \u00b7 Build ctx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NocoDB \u00b7 Get tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}