n8n/engine.json
{
  "name": "Leadvyne · Engine v3 (shared sub-workflow)",
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "trigger", "name": "When called by wrapper", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1,
      "position": [ -1200, 400 ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body || raw;\nif (b.message_type && b.message_type !== 'incoming') return [];\nif (b.private) return [];\n\nconst conv = b.conversation || {};\nconst sender = conv?.meta?.sender || b.sender || {};\nlet phone = (sender.phone_number || sender.identifier || '').replace(/[^0-9+]/g,'').replace(/^\\+/,'');\nif (phone.startsWith('00')) phone = phone.slice(2);\n\nconst atts = b.attachments || b.message?.attachments || [];\nlet mediaType = 'text', mediaUrl = '';\nif (atts.length) {\n  const a = atts[0];\n  mediaUrl = a.data_url || a.file_url || '';\n  if ((a.file_type||'').includes('audio')) mediaType = 'voice';\n  else if ((a.file_type||'').includes('image')) mediaType = 'image';\n}\n\nconst text = (b.content || b.message?.content || '').trim();\nif (!phone) return [];\nif (mediaType === 'text' && !text) return [];\n\nreturn [{ json: {\n  client_id:  String(raw.client_id || b.client_id || ''),\n  account_id: String(b.account?.id || conv?.account_id || ''),\n  inbox_id:   String(b.inbox?.id || conv?.inbox_id || ''),\n  convId:     conv?.id || null,\n  phone, name: sender.name || '', text, mediaType, mediaUrl,\n  _startMs: Date.now()\n} }];"
      },
      "id": "parse", "name": "Code · Parse", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -980, 400 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records/{{ $json.client_id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" } ] },
        "options": {}
      },
      "id": "tenant", "name": "NocoDB · Get tenant", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ -760, 400 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Code · Parse').first().json;\nconst raw = $input.first().json;\nconst t = raw.list ? raw.list[0] : raw;\nif (!t || !t.chatwoot_inbox_id) return [];\nif (t.active === 'No') return []; // suspended client — drop silently\nlet flow = {}; try { flow = JSON.parse(t.flow_json || '{}'); } catch(e) {}\nlet botConfig = {}; try { botConfig = JSON.parse(t.bot_config || '{}'); } catch(e) {}\nlet qualQuestions = []; try { qualQuestions = JSON.parse(t.qual_questions || '[]'); } catch(e) {}\nreturn [{ json: {\n  ...msg,\n  chatwoot_base: t.chatwoot_base, chatwoot_account_id: t.chatwoot_account_id, chatwoot_token: t.chatwoot_token,\n  nocodb_base: t.nocodb_base, leads_table_id: t.leads_table_id, nocodb_token: t.nocodb_token,\n  nocodb_control_base: t.nocodb_base, analytics_table_id: t.analytics_table_id || '',\n  control_nocodb_base: 'https://whizz.aiingo.com', control_nocodb_token: 'nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF',\n  analytics_table_id: 'm2in19v8n7phitr',\n  openrouter_key: t.openrouter_key || $env.OPENROUTER_KEY, model: t.model || 'google/gemini-2.5-flash',\n  language: t.language || 'ml', main_prompt: t.main_prompt || '', flow,\n  botConfig, qualQuestions,\n  client_name: t.client_name || '',\n  test_mode: t.test_mode || 'No',\n  test_phone: t.test_phone || ''\n} }];"
      },
      "id": "ctx", "name": "Code · Build ctx", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -540, 400 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records?where=(Phone,eq,{{ $json.phone }})&limit=100",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" } ] },
        "options": {}
      },
      "id": "getlead", "name": "HTTP · Get lead", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ -320, 400 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · Build ctx').first().json;\nconst r = $input.first().json;\n// Filter by ClientId in JS to avoid NocoDB compound-filter 422 errors\nconst rows = r.list || [];\nconst lead = rows.find(l => String(l.ClientId) === String(c.client_id)) || null;\nif (lead && (lead.Handover === 'Yes' || lead.Stage === 'human_handover')) return [];\n// Test mode: only respond to test_phone if enabled\nif (c.test_mode === 'Yes' && c.test_phone && c.phone !== c.test_phone.replace(/[^0-9]/g,'')) return [];\n\n// Rate limiting: simple per-user debounce — reject if same user sent message within last 4s\nconst lastMsgAt = lead?.LastMsgAt ? new Date(lead.LastMsgAt).getTime() : 0;\nif (Date.now() - lastMsgAt < 4000) return []; // debounce duplicate webhook fires\n\n// Anti-loop: check if last 3 bot messages are identical\nlet history = [];\ntry { history = JSON.parse(lead?.ConvHistory || '[]'); } catch(e) {}\nconst botMsgs = history.filter(m => m.role === 'assistant').slice(-3).map(m => m.content);\nconst looping = botMsgs.length === 3 && botMsgs.every(m => m === botMsgs[0]);\n\n// Memory: trim active history if > 20 messages\nconst memSummary = lead?.MemSummary || '';\nconst activeHistory = history.length > 20 ? history.slice(-6) : history;\n\n// Qualification state\nlet qualAnswers = {};\ntry { qualAnswers = JSON.parse(lead?.QualAnswers || '{}'); } catch(e) {}\n\nreturn [{ json: { ...c, leadId: lead?.Id || null, stage: lead?.Stage || 'new', history, activeHistory, memSummary, looping, qualAnswers } }];"
      },
      "id": "state", "name": "Code · State", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -100, 400 ]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "img", "leftValue": "={{ $json.mediaType }}", "rightValue": "image", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "image" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "voc", "leftValue": "={{ $json.mediaType }}", "rightValue": "voice", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "voice" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "media", "name": "Switch · Media", "type": "n8n-nodes-base.switch", "typeVersion": 3.2,
      "position": [ 120, 400 ]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, messages: [ { role:'user', content: [ { type:'text', text:'Describe what this image shows in one short sentence, focused on anything relevant to an insurance enquiry.' }, { type:'image_url', image_url: { url: $json.mediaUrl } } ] } ] }) }}",
        "options": {}
      },
      "id": "vision", "name": "HTTP · Vision", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 360, 240 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nconst r = $input.first().json;\nconst txt = r.choices?.[0]?.message?.content || '(image received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "imgtext", "name": "Code · image→text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 580, 240 ]
    },
    {
      "parameters": {
        "method": "GET", "url": "={{ $json.mediaUrl }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "dl", "name": "HTTP · Download audio", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 360, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $('Code · State').first().json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $('Code · State').first().json.model, messages: [ { role:'user', content: [ { type:'text', text:'Transcribe this voice note verbatim. Output only the transcription.' }, { type:'input_audio', input_audio: { data: $binary.data.data, format: 'ogg' } } ] } ] }) }}",
        "options": {}
      },
      "id": "stt", "name": "HTTP · Transcribe", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 580, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nconst r = $input.first().json;\nconst txt = r.choices?.[0]?.message?.content || '(voice note received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "voctext", "name": "Code · voice→text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 800, 460 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nreturn [{ json: { ...c, userText: c.text || '' } }];"
      },
      "id": "txtpass", "name": "Code · text→text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 360, 620 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn [{ json: c }];"
      },
      "id": "merge", "name": "Code · Merge text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1000, 400 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst sysPrompt = 'You are an intent classifier for a WhatsApp sales bot. Return ONLY valid JSON: {\"intent\":\"<ONE>\",\"data\":{}}. Valid intents: DELAY, BOOKING, AFFIRMATIVE, WATCHED, FORM_DONE, WANTS_MORE_INFO, QUESTION, WANTS_HUMAN, SHORT_NEUTRAL. Short replies (ok, yes, k, done, hi) = SHORT_NEUTRAL. Specific time/day = BOOKING (put datetime in data.booking_time). Vague later = DELAY. Real product/service question = QUESTION. Wanting human = WANTS_HUMAN. For QUESTION also put cleaned question in data.question.';\nconst userMsg = 'Stage: ' + c.stage + '\\nLanguage: ' + (c.language || 'en') + '\\nUser: \"' + c.userText + '\"';\nreturn [{ json: { ...c, _intentBody: { model: c.model, temperature: 0, messages: [ { role: 'system', content: sysPrompt }, { role: 'user', content: userMsg } ] } } }];"
      },
      "id": "intentprep", "name": "Code · Prep intent", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1220, 400 ]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "={{ 'Bearer ' + $json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify($json._intentBody) }}",
        "options": {}
      },
      "id": "intent", "name": "HTTP · Intent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1440, 400 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\n// Support both n8n AI node output and raw OpenAI HTTP response\nconst raw = c.output || c.text || c.choices?.[0]?.message?.content || '';\nlet intent = 'SHORT_NEUTRAL', intentData = {};\ntry {\n  const m = raw.replace(/```json|```/gi,'').match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); intent = p.intent || intent; intentData = p.data || {}; }\n} catch(e) {}\nconst valid = ['DELAY','BOOKING','AFFIRMATIVE','WATCHED','FORM_DONE','WANTS_MORE_INFO','QUESTION','WANTS_HUMAN','SHORT_NEUTRAL'];\nif (!valid.includes(intent)) intent = 'SHORT_NEUTRAL';\n\nconst sc = $('Code · State').first().json;\n// Anti-loop override\nif (sc.looping && sc.botConfig?.antiloop_enabled !== false) intent = 'WANTS_HUMAN';\n\n// Qualification routing\nconst qs = sc.qualQuestions || [];\nconst qualDone = !qs.length || sc.botConfig?.qual_enabled === false || (sc.stage && !sc.stage.startsWith('qual_') && sc.stage !== 'new');\nconst qualStage = sc.stage?.startsWith('qual_') ? parseInt(sc.stage.replace('qual_','')) : null;\n\n// Flow lookup\nconst flow = sc.flow || {};\nconst node = (flow.stages && (flow.stages[sc.stage] || flow.stages['new'])) || {};\nconst action = node[intent] || node['*'] || { next: sc.stage, msg: null };\n\n// Routing: positive intents advance stage, negative/uncertain go to FAQ\nconst POSITIVE = new Set(['AFFIRMATIVE','WATCHED','FORM_DONE','BOOKING','SHORT_NEUTRAL']);\nconst NEGATIVE = new Set(['DELAY','WANTS_MORE_INFO']);\n\nlet route = 'stage';\nif (intent === 'WANTS_HUMAN' && sc.botConfig?.handover_enabled !== false) route = 'human';\nelse if (intent === 'QUESTION' || NEGATIVE.has(intent)) route = 'faq';\nelse if (!qualDone && qualStage === null) route = 'qualify';\nelse if (!qualDone && qualStage !== null) route = 'qualify_next';\n\n// Build stage reply (only for positive/stage route)\nlet reply = '', videoUrl = null;\nif (route === 'stage' && action.msg) {\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || '').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k.toLowerCase()] ?? vars[k] ?? '');\n  if (action.form && vars.form_link && !reply.includes(vars.form_link)) reply += '\\n\\n' + vars.form_link;\n  if (action.video) videoUrl = vars[action.video] || null;\n}\n// If stage msg is null, route to FAQ\nif (route === 'stage' && !action.msg) route = 'faq';\n\nreturn [{ json: { ...sc, userText: c.userText, intent, intentData, route, next: action.next || sc.stage, reply, videoUrl, qualStage } }];"
      },
      "id": "parseintent", "name": "Code · Intent + flow", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1440, 400 ]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "h", "leftValue": "={{ $json.route }}", "rightValue": "human", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "human" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "f", "leftValue": "={{ $json.route }}", "rightValue": "faq", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "faq" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "q", "leftValue": "={{ $json.route }}", "rightValue": "qualify", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "qualify" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "qn", "leftValue": "={{ $json.route }}", "rightValue": "qualify_next", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "qualify_next" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route", "name": "Switch · Route", "type": "n8n-nodes-base.switch", "typeVersion": 3.2,
      "position": [ 1660, 400 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'Sure 🙏 connecting you to our advisor now. Someone will be with you shortly.', message_type: 'outgoing', private: false }) }}",
        "options": { "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000 }
      },
      "id": "sendhuman", "name": "HTTP · Handover msg", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1880, 160 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Code · Intent + flow').first().json.chatwoot_base }}/api/v1/accounts/{{ $('Code · Intent + flow').first().json.chatwoot_account_id }}/conversations/{{ $('Code · Intent + flow').first().json.convId }}/labels",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $('Code · Intent + flow').first().json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: ['human-requested'] }) }}",
        "options": {}
      },
      "id": "handoverlabel", "name": "HTTP · Handover label", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2100, 160 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst history = c.activeHistory || [];\nconst memSummary = c.memSummary || '';\nconst lang = c.language || 'en';\nlet systemPrompt = c.main_prompt;\nif (memSummary) systemPrompt += '\\n\\n[Earlier context summary: ' + memSummary + ']';\nsystemPrompt += '\\n\\nIMPORTANT: Respond ONLY in ' + lang + '. Never switch languages. For any question not answerable from your product knowledge, politely say you will connect them with an advisor.';\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history.slice(-8),\n  { role: 'user', content: c.userText }\n];\nreturn [{ json: { ...c, _faqMessages: messages } }];"
      },
      "id": "faqprep", "name": "Code · FAQ prep", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1880, 360 ]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, temperature: 0.4, messages: $json._faqMessages }) }}",
        "options": {}
      },
      "id": "faqcall", "name": "HTTP · FAQ answer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2100, 360 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · FAQ prep').first().json;\nconst r = $input.first().json;\nconst reply = r.output || r.text || r.choices?.[0]?.message?.content?.trim() || 'One moment 🙏';\nreturn [{ json: { ...c, reply } }];"
      },
      "id": "faqextract", "name": "Code · FAQ reply", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 2300, 360 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst question = qs[0] || 'Could you tell me a bit more about what you are looking for?';\nreturn [{ json: { ...c, reply: question, next: 'qual_0' } }];"
      },
      "id": "qualstart", "name": "Code · Qual start", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1880, 540 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst currentIdx = c.qualStage !== null ? c.qualStage : 0;\nconst nextIdx = currentIdx + 1;\nlet qualAnswers = c.qualAnswers || {};\nif (qs[currentIdx]) qualAnswers[qs[currentIdx]] = c.userText;\nlet reply, next;\nif (nextIdx < qs.length) {\n  reply = qs[nextIdx];\n  next = 'qual_' + nextIdx;\n} else {\n  const flow = c.flow || {};\n  const firstStage = Object.keys(flow.stages || {})[0] || 'new';\n  const action = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || 'Great, thanks! Let me share some information 😊').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n  next = action.next || firstStage;\n}\nreturn [{ json: { ...c, reply, next, qualAnswers } }];"
      },
      "id": "qualnext", "name": "Code · Qual next", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1880, 700 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.reply, message_type: 'outgoing', private: false }) }}",
        "options": { "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000 }
      },
      "id": "send", "name": "HTTP · Send reply", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2520, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull full context — try each source until we get one with client_id\nlet sc = null;\nconst _nodesToTry = ['Code · Intent + flow', 'Code · State', 'Code · Build ctx'];\nfor (const n of _nodesToTry) {\n  try { const t = $(n).first().json; if (t && t.client_id) { sc = t; break; } } catch(e) {}\n}\nif (!sc) sc = $input.first().json;\nconst route = sc.route || 'stage';\n\n// Get reply and next from the route-specific node (HTTP · Send reply output loses context)\nlet reply = sc.reply;\nlet next = sc.next;\nlet qualAnswers = sc.qualAnswers || {};\n\nif (route === 'faq') {\n  try { reply = $('Code · FAQ reply').first().json.reply || reply; } catch(e) {}\n} else if (route === 'qualify') {\n  try { const qn = $('Code · Qual start').first().json; reply = qn.reply; next = qn.next; } catch(e) {}\n} else if (route === 'qualify_next') {\n  try { const qn = $('Code · Qual next').first().json; reply = qn.reply; next = qn.next; qualAnswers = qn.qualAnswers || qualAnswers; } catch(e) {}\n}\n\nconst history = (sc.history || []).slice();\nif (sc.userText) history.push({ role: 'user', content: sc.userText });\nif (reply) history.push({ role: 'assistant', content: reply });\n\nconst isHuman = route === 'human';\nconst body = {\n  ClientId: String(sc.client_id),\n  Phone: sc.phone, Name: sc.name, ConversationID: sc.convId,\n  Date: new Date().toISOString(), Language: sc.language,\n  ConvHistory: JSON.stringify(history.slice(-40)),\n  LastMsgAt: new Date().toISOString()\n};\nif (qualAnswers && Object.keys(qualAnswers).length) body.QualAnswers = JSON.stringify(qualAnswers);\nif (isHuman) { body.Stage = 'human_handover'; body.Handover = 'Yes'; }\nelse { body.Stage = next; }\nif (!isHuman && next !== sc.stage) {\n  body['Follow up 1']='No'; body['Follow up 2']='No'; body['Follow up 3']='No';\n}\nif (sc.intentData?.booking_time) body.BookingTime = sc.intentData.booking_time;\nconst method = sc.leadId ? 'PATCH' : 'POST';\nif (sc.leadId) body.Id = sc.leadId;\nreturn [{ json: { ...sc, reply, next, qualAnswers, _method: method, _body: body } }];"
      },
      "id": "prepupsert", "name": "Code · Prep lead", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 2740, 460 ]
    },
    {
      "parameters": {
        "method": "={{ $json._method }}",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {}
      },
      "id": "upsert", "name": "HTTP · Upsert lead", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2960, 460 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · Prep lead').first().json;\nconst upsertResult = $input.first().json;\nconst isError = !!(upsertResult.error || upsertResult.msg);\nconst responseMs = Date.now() - (c._startMs || Date.now());\nreturn [{ json: {\n  ...c,\n  _analyticsBody: {\n    ClientId: String(c.client_id),\n    ClientName: c.client_name || '',\n    Phone: c.phone,\n    Intent: c.intent || '',\n    Route: c.route || '',\n    Stage: c.stage || '',\n    NextStage: c.next || '',\n    ResponseMs: responseMs,\n    IsError: isError,\n    ErrorMsg: isError ? JSON.stringify(upsertResult).substring(0, 200) : '',\n    Timestamp: new Date().toISOString()\n  }\n} }];"
      },
      "id": "prepanalytics", "name": "Code · Prep analytics", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 3180, 460 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/m2in19v8n7phitr/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._analyticsBody) }}",
        "options": {}
      },
      "id": "loganalytics", "name": "HTTP · Log analytics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 3400, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Id: $('Code · Prep lead').first().json.client_id, last_seen: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "updatelastseen", "name": "HTTP · Update last seen", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 3620, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Leadvyne · Engine v3\n\n### New in v3\n- **Active flag check**: suspended clients (active=No) are silently dropped at ctx step\n- **Rate limiting / debounce**: drops duplicate webhook fires within 4s per user (via LastMsgAt field)\n- **Structured intent**: LLM returns {intent, data} JSON — booking times extracted\n- **Conversation memory**: history stored in NocoDB ConvHistory; last 8 exchanges sent to FAQ LLM\n- **Lead qualification**: configurable qualifying questions stored in QualAnswers\n- **Anti-loop protection**: 3 identical consecutive bot replies → force human escalation\n- **Richer handoff**: sends message + adds 'human-requested' label in Chatwoot (retry x3)\n- **Retry on send**: Chatwoot send retries up to 3× with 2s backoff\n- **Analytics logging**: every processed message logged to control NocoDB analytics table\n- **Last seen tracking**: client record updated with last_seen timestamp for health monitoring\n\n### Placeholders to set\n1. NocoDB · Get tenant: REPLACE_CONTROL_WORKSPACE / PROJECT / CLIENTS_TABLE\n2. HTTP · Log analytics: https://whizz.aiingo.com, m2in19v8n7phitr, nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF\n3. HTTP · Update last seen: same as above\n\n### NocoDB schema additions needed\n**Leads table:** ConvHistory (Long text), QualAnswers (Long text), BookingTime (Single line), LastMsgAt (DateTime)\n**Clients table:** last_seen (DateTime), n8n_workflow_id (Single line)\n**Analytics table (new, in control NocoDB):** ClientId, ClientName, Phone, Intent, Route, Stage, NextStage, ResponseMs (Number), IsError (Checkbox), ErrorMsg, Timestamp (DateTime)",
        "height": 500, "width": 580
      },
      "id": "note", "name": "README", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1,
      "position": [ -1200, -140 ]
    }
  ],
  "connections": {
    "When called by wrapper": { "main": [ [ { "node": "Code · Parse", "type": "main", "index": 0 } ] ] },
    "Code · Parse": { "main": [ [ { "node": "NocoDB · Get tenant", "type": "main", "index": 0 } ] ] },
    "NocoDB · Get tenant": { "main": [ [ { "node": "Code · Build ctx", "type": "main", "index": 0 } ] ] },
    "Code · Build ctx": { "main": [ [ { "node": "HTTP · Get lead", "type": "main", "index": 0 } ] ] },
    "HTTP · Get lead": { "main": [ [ { "node": "Code · State", "type": "main", "index": 0 } ] ] },
    "Code · State": { "main": [ [ { "node": "Switch · Media", "type": "main", "index": 0 } ] ] },
    "Switch · Media": { "main": [
      [ { "node": "HTTP · Vision", "type": "main", "index": 0 } ],
      [ { "node": "HTTP · Download audio", "type": "main", "index": 0 } ],
      [ { "node": "Code · text→text", "type": "main", "index": 0 } ]
    ] },
    "HTTP · Vision": { "main": [ [ { "node": "Code · image→text", "type": "main", "index": 0 } ] ] },
    "Code · image→text": { "main": [ [ { "node": "Code · Merge text", "type": "main", "index": 0 } ] ] },
    "HTTP · Download audio": { "main": [ [ { "node": "HTTP · Transcribe", "type": "main", "index": 0 } ] ] },
    "HTTP · Transcribe": { "main": [ [ { "node": "Code · voice→text", "type": "main", "index": 0 } ] ] },
    "Code · voice→text": { "main": [ [ { "node": "Code · Merge text", "type": "main", "index": 0 } ] ] },
    "Code · text→text": { "main": [ [ { "node": "Code · Merge text", "type": "main", "index": 0 } ] ] },
    "Code · Merge text": { "main": [ [ { "node": "Code · Prep intent", "type": "main", "index": 0 } ] ] },
    "Code · Prep intent": { "main": [ [ { "node": "HTTP · Intent", "type": "main", "index": 0 } ] ] },
    "HTTP · Intent": { "main": [ [ { "node": "Code · Intent + flow", "type": "main", "index": 0 } ] ] },
    "Code · Intent + flow": { "main": [ [ { "node": "Switch · Route", "type": "main", "index": 0 } ] ] },
    "Switch · Route": { "main": [
      [ { "node": "HTTP · Handover msg", "type": "main", "index": 0 } ],
      [ { "node": "Code · FAQ prep", "type": "main", "index": 0 } ],
      [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ],
      [ { "node": "Code · Qual start", "type": "main", "index": 0 } ],
      [ { "node": "Code · Qual next", "type": "main", "index": 0 } ]
    ] },
    "HTTP · Handover msg": { "main": [ [ { "node": "HTTP · Handover label", "type": "main", "index": 0 } ] ] },
    "HTTP · Handover label": { "main": [ [ { "node": "Code · Prep lead", "type": "main", "index": 0 } ] ] },
    "Code · FAQ prep": { "main": [ [ { "node": "HTTP · FAQ answer", "type": "main", "index": 0 } ] ] },
    "HTTP · FAQ answer": { "main": [ [ { "node": "Code · FAQ reply", "type": "main", "index": 0 } ] ] },
    "Code · FAQ reply": { "main": [ [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ] ] },
    "Code · Qual start": { "main": [ [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ] ] },
    "Code · Qual next": { "main": [ [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ] ] },
    "HTTP · Send reply": { "main": [ [ { "node": "Code · Prep lead", "type": "main", "index": 0 } ] ] },
    "Code · Prep lead": { "main": [ [ { "node": "HTTP · Upsert lead", "type": "main", "index": 0 } ] ] },
    "HTTP · Upsert lead": { "main": [ [ { "node": "Code · Prep analytics", "type": "main", "index": 0 } ] ] },
    "Code · Prep analytics": { "main": [ [ { "node": "HTTP · Log analytics", "type": "main", "index": 0 } ] ] },
    "HTTP · Log analytics": { "main": [ [ { "node": "HTTP · Update last seen", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
