n8n/engine-analytics.json
{
  "name": "Leadvyne · Engine · Analytics",
  "nodes": [
    {
      "id": "trg",
      "name": "When called by engine",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "upsert",
      "name": "HTTP · Upsert lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "={{ $json._method }}",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json._body) }}",
        "options": {}
      }
    },
    {
      "id": "prep",
      "name": "Code · Prep analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "const c = $('When called by engine').first().json;\nconst upsertResult = $input.first().json;\nconst isError = !!(upsertResult.error || upsertResult.msg);\nconst responseMs = Date.now() - (c._startMs || Date.now());\nreturn [{ json: {\n  _analyticsBody: {\n    ClientId: String(c.client_id),\n    ClientName: c.client_name || '',\n    Phone: c.phone,\n    Intent: c.intent || '',\n    Route: c.route || '',\n    Stage: c.stage || '',\n    NextStage: c.next || '',\n    ResponseMs: responseMs,\n    IsError: isError,\n    ErrorMsg: isError ? JSON.stringify(upsertResult).slice(0,200) : '',\n    Timestamp: new Date().toISOString()\n  },\n  client_id: c.client_id\n} }];"
      }
    },
    {
      "id": "log",
      "name": "HTTP · Log analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/m2in19v8n7phitr/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json._analyticsBody) }}",
        "options": {}
      }
    },
    {
      "id": "seen",
      "name": "HTTP · Update last seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ Id: $('When called by engine').first().json.client_id, last_seen: new Date().toISOString() }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "When called by engine": {
      "main": [
        [
          {
            "node": "HTTP · Upsert lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Upsert lead": {
      "main": [
        [
          {
            "node": "Code · Prep analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Prep analytics": {
      "main": [
        [
          {
            "node": "HTTP · Log analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Log analytics": {
      "main": [
        [
          {
            "node": "HTTP · Update last seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}