n8n/engine.json
{
  "name": "Leadvyne · Engine v3 (shared sub-workflow)",
  "nodes": [
    {
      "parameters": { "inputSource": "passthrough" },
      "id": "trigger", "name": "When called by wrapper", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1,
      "position": [ -1200, 400 ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body || raw;\nif (b.message_type && b.message_type !== 'incoming') return [];\nif (b.private) return [];\n\nconst conv = b.conversation || {};\nconst sender = conv?.meta?.sender || b.sender || {};\nlet phone = (sender.phone_number || sender.identifier || '').replace(/[^0-9+]/g,'').replace(/^\\+/,'');\nif (phone.startsWith('00')) phone = phone.slice(2);\n\nconst atts = b.attachments || b.message?.attachments || [];\nlet mediaType = 'text', mediaUrl = '';\nif (atts.length) {\n  const a = atts[0];\n  mediaUrl = a.data_url || a.file_url || '';\n  if ((a.file_type||'').includes('audio')) mediaType = 'voice';\n  else if ((a.file_type||'').includes('image')) mediaType = 'image';\n}\n\nconst text = (b.content || b.message?.content || '').trim();\nif (!phone) return [];\nif (mediaType === 'text' && !text) return [];\n\nreturn [{ json: {\n  client_id:  String(raw.client_id || b.client_id || ''),\n  account_id: String(b.account?.id || conv?.account_id || ''),\n  inbox_id:   String(b.inbox?.id || conv?.inbox_id || ''),\n  convId:     conv?.id || null,\n  phone, name: sender.name || '', text, mediaType, mediaUrl,\n  _startMs: Date.now()\n} }];"
      },
      "id": "parse", "name": "Code · Parse", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -980, 400 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records/{{ $json.client_id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" } ] },
        "options": {}
      },
      "id": "tenant", "name": "NocoDB · Get tenant", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ -760, 400 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Code · Parse').first().json;\nconst raw = $input.first().json;\nconst t = raw.list ? raw.list[0] : raw;\nif (!t || !t.chatwoot_inbox_id) return [];\nif (t.active === 'No') return [];\nlet flow = {}; try { flow = JSON.parse(t.flow_json || '{}'); } catch(e) {}\nlet botConfig = {}; try { botConfig = JSON.parse(t.bot_config || '{}'); } catch(e) {}\nlet qualQuestions = []; try { qualQuestions = JSON.parse(t.qual_questions || '[]'); } catch(e) {}\nlet services = []; try { services = JSON.parse(t.services || '[]'); } catch(e) {}\nreturn [{ json: {\n  ...msg,\n  chatwoot_base: t.chatwoot_base, chatwoot_account_id: t.chatwoot_account_id, chatwoot_token: t.chatwoot_token,\n  control_nocodb_base: 'https://whizz.aiingo.com', control_nocodb_token: 'nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF',\n  analytics_table_id: 'm2in19v8n7phitr',\n  openrouter_key: t.openrouter_key || $env.OPENROUTER_KEY, model: t.model || 'google/gemini-2.5-flash',\n  language: t.language || 'ml', main_prompt: t.main_prompt || '', flow,\n  botConfig, qualQuestions, services,\n  client_name: t.client_name || '',\n  test_mode: t.test_mode || 'No',\n  test_phone: t.test_phone || ''\n} }];"
      },
      "id": "ctx", "name": "Code · Build ctx", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -540, 400 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records?where=(Phone,eq,{{ $json.phone }})&limit=100",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" } ] },
        "options": {}
      },
      "id": "getlead", "name": "HTTP · Get lead", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ -320, 400 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · Build ctx').first().json;\nconst r = $input.first().json;\nconst rows = r.list || [];\nconst lead = rows.find(l => String(l.ClientId) === String(c.client_id)) || null;\nif (lead && (lead.Handover === 'Yes' || lead.Stage === 'human_handover')) return [];\nif (c.test_mode === 'Yes' && c.test_phone && c.phone !== c.test_phone.replace(/[^0-9]/g,'')) return [];\n\nconst rateLimitMs = parseInt(c.botConfig?.rate_limit_ms) || 4000;\nconst lastMsgAt = lead?.LastMsgAt ? new Date(lead.LastMsgAt).getTime() : 0;\nif (Date.now() - lastMsgAt < rateLimitMs) return [];\n\nconst duplicateClientIds = rows.filter(l => String(l.ClientId) !== String(c.client_id)).map(l => String(l.ClientId));\nconst isDuplicate = duplicateClientIds.length > 0;\n\nlet history = [];\ntry { history = JSON.parse(lead?.ConvHistory || '[]'); } catch(e) {}\nconst botMsgs = history.filter(m => m.role === 'assistant').slice(-3).map(m => m.content);\nconst looping = botMsgs.length === 3 && botMsgs.every(m => m === botMsgs[0]);\n\nconst memSummary = lead?.MemSummary || '';\nconst activeHistory = history.length > 20 ? history.slice(-6) : history;\n\nlet qualAnswers = {};\ntry { qualAnswers = JSON.parse(lead?.QualAnswers || '{}'); } catch(e) {}\n\nreturn [{ json: { ...c, leadId: lead?.Id || null, stage: lead?.Stage || 'new', history, activeHistory, memSummary, looping, qualAnswers, isDuplicate } }];"
      },
      "id": "state", "name": "Code · State", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -100, 400 ]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "img", "leftValue": "={{ $json.mediaType }}", "rightValue": "image", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "image" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "voc", "leftValue": "={{ $json.mediaType }}", "rightValue": "voice", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "voice" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "media", "name": "Switch · Media", "type": "n8n-nodes-base.switch", "typeVersion": 3.2,
      "position": [ 120, 400 ]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "={{ 'Bearer ' + $json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, messages: [ { role:'user', content: [ { type:'text', text:'Describe what this image shows in one short sentence, focused on anything relevant to an insurance enquiry.' }, { type:'image_url', image_url: { url: $json.mediaUrl } } ] } ] }) }}",
        "options": {}
      },
      "id": "vision", "name": "HTTP · Vision", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 360, 240 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nconst r = $input.first().json;\nconst txt = r.choices?.[0]?.message?.content || '(image received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "imgtext", "name": "Code · image→text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 580, 240 ]
    },
    {
      "parameters": {
        "method": "GET", "url": "={{ $json.mediaUrl }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "dl", "name": "HTTP · Download audio", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 360, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "={{ 'Bearer ' + $('Code · State').first().json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $('Code · State').first().json.model, messages: [ { role:'user', content: [ { type:'text', text:'Transcribe this voice note verbatim. Output only the transcription.' }, { type:'input_audio', input_audio: { data: $binary.data.data, format: 'ogg' } } ] } ] }) }}",
        "options": {}
      },
      "id": "stt", "name": "HTTP · Transcribe", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 580, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nconst r = $input.first().json;\nconst txt = r.choices?.[0]?.message?.content || '(voice note received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "voctext", "name": "Code · voice→text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 800, 460 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nreturn [{ json: { ...c, userText: c.text || '' } }];"
      },
      "id": "txtpass", "name": "Code · text→text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 360, 620 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn [{ json: c }];"
      },
      "id": "merge", "name": "Code · Merge text", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1000, 400 ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stage: {{ $json.stage }}\nLanguage: {{ $json.language }}\nUser message: \"{{ $json.userText }}\"\n\nClassify the user message above. Return ONLY valid JSON: {\"intent\":\"<ONE>\",\"data\":{}}.\nAFFIRMATIVE = yes/ok/sure/done/good/great/agree — any positive reply to bot content.\nWATCHED = watched/seen a video or content.\nFORM_DONE = filled a form.\nBOOKING = specific time or date mentioned (put in data.booking_time).\nDELAY = not now/later/busy/vague postpone.\nWANTS_MORE_INFO = tell me more/explain/details.\nQUESTION = real product or service question (put cleaned question in data.question).\nWANTS_HUMAN = speak to human/agent/person.\nSHORT_NEUTRAL = only pure openers with zero other meaning: hi/hello/hey.\nWhen in doubt between SHORT_NEUTRAL and AFFIRMATIVE, always prefer AFFIRMATIVE.",
        "options": {}
      },
      "id": "aiagent", "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1,
      "position": [ 1220, 400 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\n// AI Agent output is {output:'...'}, get userText from Code · Merge text\nconst mergeCtx = $('Code · Merge text').first().json;\nconst userText = mergeCtx.userText || '';\n\n// Support both n8n AI node output and raw OpenAI HTTP response\nconst raw = c.output || c.text || c.choices?.[0]?.message?.content || '';\nlet intent = 'SHORT_NEUTRAL', intentData = {};\ntry {\n  const m = raw.replace(/```json|```/gi,'').match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); intent = p.intent || intent; intentData = p.data || {}; }\n} catch(e) {}\nconst valid = ['DELAY','BOOKING','AFFIRMATIVE','WATCHED','FORM_DONE','WANTS_MORE_INFO','QUESTION','WANTS_HUMAN','SHORT_NEUTRAL'];\nif (!valid.includes(intent)) intent = 'SHORT_NEUTRAL';\n\nconst sc = $('Code · State').first().json;\nif (sc.looping && sc.botConfig?.antiloop_enabled !== false) intent = 'WANTS_HUMAN';\n\nconst qs = sc.qualQuestions || [];\nconst qualDone = !qs.length || sc.botConfig?.qual_enabled === false || (sc.stage && !sc.stage.startsWith('qual_') && sc.stage !== 'new');\nconst qualStage = sc.stage?.startsWith('qual_') ? parseInt(sc.stage.replace('qual_','')) : null;\n\n// Flow lookup — only fall back to 'new' when stage IS 'new', otherwise route to FAQ\nconst flow = sc.flow || {};\nconst stageNode = flow.stages?.[sc.stage];\nconst node = stageNode || (sc.stage === 'new' || !sc.stage ? flow.stages?.['new'] : null) || {};\nconst stageNotFound = !stageNode && sc.stage && sc.stage !== 'new';\nconst action = node[intent] || node['*'] || { next: sc.stage, msg: null };\n\nconst POSITIVE = new Set(['AFFIRMATIVE','WATCHED','FORM_DONE','BOOKING','SHORT_NEUTRAL']);\nconst NEGATIVE = new Set(['DELAY','WANTS_MORE_INFO']);\n\nlet route = 'stage';\nif (intent === 'WANTS_HUMAN' && sc.botConfig?.handover_enabled !== false) route = 'human';\nelse if (stageNotFound || intent === 'QUESTION' || NEGATIVE.has(intent)) route = 'faq';\nelse if (!qualDone && qualStage === null) route = 'qualify';\nelse if (!qualDone && qualStage !== null) route = 'qualify_next';\n\nlet reply = '', videoUrl = null, next = action.next || sc.stage;\nlet qualAnswers = sc.qualAnswers || {};\n\nif (route === 'qualify_next') {\n  const currentIdx = qualStage !== null ? qualStage : 0;\n  const nextIdx = currentIdx + 1;\n  if (qs[currentIdx]) qualAnswers[qs[currentIdx]] = userText;\n  if (nextIdx < qs.length) {\n    reply = qs[nextIdx];\n    next = 'qual_' + nextIdx;\n  } else {\n    const firstStage = Object.keys(flow.stages || {}).filter(k => k !== 'new')[0] || 'new';\n    const firstAction = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n    const vars = flow.variables || {};\n    reply = (flow.messages?.[firstAction.msg] || 'Great, thanks! Let me share some information 😊').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n    next = firstAction.next || firstStage;\n  }\n} else if (route === 'stage' && action.msg) {\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || '').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k.toLowerCase()] ?? vars[k] ?? '');\n  if (action.form && vars.form_link && !reply.includes(vars.form_link)) reply += '\\n\\n' + vars.form_link;\n  if (action.video) videoUrl = vars[action.video] || null;\n}\nif (route === 'stage' && !action.msg) route = 'faq';\n\nreturn [{ json: { ...sc, userText, intent, intentData, route, next, reply, videoUrl, qualStage, qualAnswers } }];"
      },
      "id": "parseintent", "name": "Code · Intent + flow", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1440, 400 ]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "h", "leftValue": "={{ $json.route }}", "rightValue": "human", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "human" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "f", "leftValue": "={{ $json.route }}", "rightValue": "faq", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "faq" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "q", "leftValue": "={{ $json.route }}", "rightValue": "qualify", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "qualify" },
          { "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [ { "id": "qn", "leftValue": "={{ $json.route }}", "rightValue": "qualify_next", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" },
            "renameOutput": true, "outputKey": "qualify_next" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route", "name": "Switch · Route", "type": "n8n-nodes-base.switch", "typeVersion": 3.2,
      "position": [ 1660, 400 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: 'Sure 🙏 connecting you to our advisor now. Someone will be with you shortly.', message_type: 'outgoing', private: false }) }}",
        "options": { "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000 }
      },
      "id": "sendhuman", "name": "HTTP · Handover msg", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1880, 160 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Code · Intent + flow').first().json.chatwoot_base }}/api/v1/accounts/{{ $('Code · Intent + flow').first().json.chatwoot_account_id }}/conversations/{{ $('Code · Intent + flow').first().json.convId }}/labels",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $('Code · Intent + flow').first().json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ labels: ['human-requested'] }) }}",
        "options": {}
      },
      "id": "handoverlabel", "name": "HTTP · Handover label", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2100, 160 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst history = c.activeHistory || [];\nconst memSummary = c.memSummary || '';\nconst lang = c.language || 'en';\nlet systemPrompt = c.main_prompt;\nif (c.services && c.services.length) {\n  const svcLines = c.services.map(s => `- ${s.name}${s.category ? ' ['+s.category+']' : ''}: ${s.description || ''} | Price: ${s.currency || 'AED'} ${s.price} per ${s.per || 'person'}`).join('\\n');\n  systemPrompt += '\\n\\n## Services & Prices\\n' + svcLines;\n}\nif (memSummary) systemPrompt += '\\n\\n[Earlier context summary: ' + memSummary + ']';\nsystemPrompt += '\\n\\nIMPORTANT: Respond ONLY in ' + lang + '. Never switch languages. For any question not answerable from your product knowledge, politely say you will connect them with an advisor.';\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history.slice(-8),\n  { role: 'user', content: c.userText }\n];\nreturn [{ json: { ...c, _faqMessages: messages } }];"
      },
      "id": "faqprep", "name": "Code · FAQ prep", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1880, 360 ]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "={{ 'Bearer ' + $json.openrouter_key }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, temperature: 0.4, messages: $json._faqMessages }) }}",
        "options": {}
      },
      "id": "faqcall", "name": "HTTP · FAQ answer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2100, 360 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · FAQ prep').first().json;\nconst r = $input.first().json;\nconst reply = r.output || r.text || r.choices?.[0]?.message?.content?.trim() || 'One moment 🙏';\nreturn [{ json: { ...c, reply } }];"
      },
      "id": "faqextract", "name": "Code · FAQ reply", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 2300, 360 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst question = qs[0] || 'Could you tell me a bit more about what you are looking for?';\nreturn [{ json: { ...c, reply: question, next: 'qual_0' } }];"
      },
      "id": "qualstart", "name": "Code · Qual start", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1880, 540 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst currentIdx = c.qualStage !== null ? c.qualStage : 0;\nconst nextIdx = currentIdx + 1;\nlet qualAnswers = c.qualAnswers || {};\nif (qs[currentIdx]) qualAnswers[qs[currentIdx]] = c.userText;\nlet reply, next;\nif (nextIdx < qs.length) {\n  reply = qs[nextIdx];\n  next = 'qual_' + nextIdx;\n} else {\n  const flow = c.flow || {};\n  const firstStage = Object.keys(flow.stages || {}).filter(k => k !== 'new')[0] || 'new';\n  const action = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || 'Great, thanks! Let me share some information 😊').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n  next = action.next || firstStage;\n}\nreturn [{ json: { ...c, reply, next, qualAnswers } }];"
      },
      "id": "qualnext", "name": "Code · Qual next", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1880, 700 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "content", "value": "={{ $json.reply }}" } ] },
        "options": { "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000 }
      },
      "id": "send", "name": "HTTP · Send reply", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2520, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull full context — try each source until we get one with client_id\nlet sc = null;\nconst _nodesToTry = ['Code · Intent + flow', 'Code · State', 'Code · Build ctx'];\nfor (const n of _nodesToTry) {\n  try { const t = $(n).first().json; if (t && t.client_id) { sc = t; break; } } catch(e) {}\n}\nif (!sc) sc = $input.first().json;\nconst route = sc.route || 'stage';\n\nlet reply = sc.reply;\nlet next = sc.next;\nconst qualAnswers = sc.qualAnswers || {};\n\nif (route === 'faq') {\n  try { reply = $('Code · FAQ reply').first().json.reply || reply; } catch(e) {}\n} else if (route === 'qualify') {\n  try { const qn = $('Code · Qual start').first().json; reply = qn.reply; next = qn.next; } catch(e) {}\n}\n\nconst history = (sc.history || []).slice();\nif (sc.userText) history.push({ role: 'user', content: sc.userText });\nif (reply) history.push({ role: 'assistant', content: reply });\n\nconst isHuman = route === 'human';\nconst body = {\n  ClientId: String(sc.client_id),\n  Phone: sc.phone, Name: sc.name, ConversationID: sc.convId,\n  Date: new Date().toISOString(), Language: sc.language,\n  ConvHistory: JSON.stringify(history.slice(-40)),\n  LastMsgAt: new Date().toISOString()\n};\nif (qualAnswers && Object.keys(qualAnswers).length) body.QualAnswers = JSON.stringify(qualAnswers);\nif (isHuman) { body.Stage = 'human_handover'; body.Handover = 'Yes'; }\nelse { body.Stage = next; }\nif (!isHuman && next !== sc.stage) {\n  body['Follow up 1']='No'; body['Follow up 2']='No'; body['Follow up 3']='No';\n}\nif (sc.intentData?.booking_time) body.BookingTime = sc.intentData.booking_time;\nlet score = 'Cold';\nif (sc.intent === 'BOOKING' || sc.intentData?.booking_time || body.Stage === 'consultation_booked') score = 'Hot';\nelse if (['AFFIRMATIVE','WATCHED','FORM_DONE'].includes(sc.intent) && sc.stage !== 'new') score = 'Warm';\nelse if (sc.stage !== 'new' && (sc.history||[]).length > 2) score = 'Warm';\nbody.Score = score;\nif (sc.isDuplicate) body.IsDuplicate = 'Yes';\n// Hot moment detection\nconst HOT_PHRASES = ['how much','price','cost','available','when can','book','ready to','interested in','want to','sign up','start','confirm','deposit','payment','package','deal','offer','buy','purchase','enroll','register'];\nconst msgLower = (sc.userText||'').toLowerCase();\nconst hotPhrase = HOT_PHRASES.find(p => msgLower.includes(p));\nif (hotPhrase) { body.HotMoment = 'Yes'; body.HotMomentText = (sc.userText||'').slice(0,200); }\n// Auto-qualify score (1-10)\nconst _flow = sc.flow || {};\nconst _stageKeys = Object.keys((_flow.stages||{})).filter(k=>k!=='new');\nconst _stageIdx = _stageKeys.indexOf(sc.stage);\nconst _stageProgress = _stageKeys.length > 0 ? (_stageIdx+1)/_stageKeys.length : 0;\nconst _histLen = (sc.history||[]).length;\nlet _qualScore = Math.round((_stageProgress*4) + (score==='Hot'?3:score==='Warm'?2:0) + (hotPhrase?1.5:0) + Math.min(_histLen/20,1.5));\n_qualScore = Math.max(1, Math.min(10, _qualScore));\nbody.QualScore = _qualScore;\nconst method = sc.leadId ? 'PATCH' : 'POST';\nif (sc.leadId) body.Id = sc.leadId;\nreturn [{ json: { ...sc, reply, next, qualAnswers, _method: method, _body: body } }];"
      },
      "id": "prepupsert", "name": "Code · Prep lead", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 2740, 460 ]
    },
    {
      "parameters": {
        "method": "={{ $json._method }}",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify($json._body) }}",
        "options": {}
      },
      "id": "upsert", "name": "HTTP · Upsert lead", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 2960, 460 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · Prep lead').first().json;\nconst upsertResult = $input.first().json;\nconst isError = !!(upsertResult.error || upsertResult.msg);\nconst responseMs = Date.now() - (c._startMs || Date.now());\nreturn [{ json: {\n  ...c,\n  _analyticsBody: {\n    ClientId: String(c.client_id),\n    ClientName: c.client_name || '',\n    Phone: c.phone,\n    Intent: c.intent || '',\n    Route: c.route || '',\n    Stage: c.stage || '',\n    NextStage: c.next || '',\n    ResponseMs: responseMs,\n    IsError: isError,\n    ErrorMsg: isError ? JSON.stringify(upsertResult).substring(0, 200) : '',\n    Timestamp: new Date().toISOString()\n  }\n} }];"
      },
      "id": "prepanalytics", "name": "Code · Prep analytics", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 3180, 460 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/m2in19v8n7phitr/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify($json._analyticsBody) }}",
        "options": {}
      },
      "id": "loganalytics", "name": "HTTP · Log analytics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 3400, 460 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ Id: $('Code · Prep lead').first().json.client_id, last_seen: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "updatelastseen", "name": "HTTP · Update last seen", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 3620, 460 ], "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When called by wrapper": { "main": [ [ { "node": "Code · Parse", "type": "main", "index": 0 } ] ] },
    "Code · Parse": { "main": [ [ { "node": "NocoDB · Get tenant", "type": "main", "index": 0 } ] ] },
    "NocoDB · Get tenant": { "main": [ [ { "node": "Code · Build ctx", "type": "main", "index": 0 } ] ] },
    "Code · Build ctx": { "main": [ [ { "node": "HTTP · Get lead", "type": "main", "index": 0 } ] ] },
    "HTTP · Get lead": { "main": [ [ { "node": "Code · State", "type": "main", "index": 0 } ] ] },
    "Code · State": { "main": [ [ { "node": "Switch · Media", "type": "main", "index": 0 } ] ] },
    "Switch · Media": { "main": [
      [ { "node": "HTTP · Vision", "type": "main", "index": 0 } ],
      [ { "node": "HTTP · Download audio", "type": "main", "index": 0 } ],
      [ { "node": "Code · text→text", "type": "main", "index": 0 } ]
    ] },
    "HTTP · Vision": { "main": [ [ { "node": "Code · image→text", "type": "main", "index": 0 } ] ] },
    "Code · image→text": { "main": [ [ { "node": "Code · Merge text", "type": "main", "index": 0 } ] ] },
    "HTTP · Download audio": { "main": [ [ { "node": "HTTP · Transcribe", "type": "main", "index": 0 } ] ] },
    "HTTP · Transcribe": { "main": [ [ { "node": "Code · voice→text", "type": "main", "index": 0 } ] ] },
    "Code · voice→text": { "main": [ [ { "node": "Code · Merge text", "type": "main", "index": 0 } ] ] },
    "Code · text→text": { "main": [ [ { "node": "Code · Merge text", "type": "main", "index": 0 } ] ] },
    "Code · Merge text": { "main": [ [ { "node": "AI Agent", "type": "main", "index": 0 } ] ] },
    "AI Agent": { "main": [ [ { "node": "Code · Intent + flow", "type": "main", "index": 0 } ] ] },
    "Code · Intent + flow": { "main": [ [ { "node": "Switch · Route", "type": "main", "index": 0 } ] ] },
    "Switch · Route": { "main": [
      [ { "node": "HTTP · Handover msg", "type": "main", "index": 0 } ],
      [ { "node": "Code · FAQ prep", "type": "main", "index": 0 } ],
      [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ],
      [ { "node": "Code · Qual start", "type": "main", "index": 0 } ],
      [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ]
    ] },
    "HTTP · Handover msg": { "main": [ [ { "node": "HTTP · Handover label", "type": "main", "index": 0 } ] ] },
    "HTTP · Handover label": { "main": [ [ { "node": "Code · Prep lead", "type": "main", "index": 0 } ] ] },
    "Code · FAQ prep": { "main": [ [ { "node": "HTTP · FAQ answer", "type": "main", "index": 0 } ] ] },
    "HTTP · FAQ answer": { "main": [ [ { "node": "Code · FAQ reply", "type": "main", "index": 0 } ] ] },
    "Code · FAQ reply": { "main": [ [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ] ] },
    "Code · Qual start": { "main": [ [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ] ] },
    "Code · Qual next": { "main": [ [ { "node": "HTTP · Send reply", "type": "main", "index": 0 } ] ] },
    "HTTP · Send reply": { "main": [ [ { "node": "Code · Prep lead", "type": "main", "index": 0 } ] ] },
    "Code · Prep lead": { "main": [ [ { "node": "HTTP · Upsert lead", "type": "main", "index": 0 } ] ] },
    "HTTP · Upsert lead": { "main": [ [ { "node": "Code · Prep analytics", "type": "main", "index": 0 } ] ] },
    "Code · Prep analytics": { "main": [ [ { "node": "HTTP · Log analytics", "type": "main", "index": 0 } ] ] },
    "HTTP · Log analytics": { "main": [ [ { "node": "HTTP · Update last seen", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
