n8n/engine.json
{
  "name": "Leadvyne · Engine v3 (shared sub-workflow)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "When called by wrapper",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body || raw;\nif (b.message_type && b.message_type !== 'incoming') return [];\nif (b.private) return [];\n\nconst conv = b.conversation || {};\nconst sender = conv?.meta?.sender || b.sender || {};\nlet phone = (sender.phone_number || sender.identifier || '').replace(/[^0-9+]/g,'').replace(/^\\+/,'');\nif (phone.startsWith('00')) phone = phone.slice(2);\n\nconst atts = b.attachments || b.message?.attachments || [];\nlet mediaType = 'text', mediaUrl = '';\nif (atts.length) {\n  const a = atts[0];\n  mediaUrl = a.data_url || a.file_url || '';\n  if ((a.file_type||'').includes('audio')) mediaType = 'voice';\n  else if ((a.file_type||'').includes('image')) mediaType = 'image';\n}\n\nconst text = (b.content || b.message?.content || '').trim();\nif (!phone) return [];\nif (mediaType === 'text' && !text) return [];\n\nreturn [{ json: {\n  client_id:  String(raw.client_id || b.client_id || ''),\n  account_id: String(b.account?.id || conv?.account_id || ''),\n  inbox_id:   String(b.inbox?.id || conv?.inbox_id || ''),\n  convId:     conv?.id || null,\n  phone, name: sender.name || '', text, mediaType, mediaUrl,\n  _startMs: Date.now()\n} }];"
      },
      "id": "parse",
      "name": "Code · Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records/{{ $json.client_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            }
          ]
        },
        "options": {}
      },
      "id": "tenant",
      "name": "NocoDB · Get tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Code · Parse').first().json;\nconst raw = $input.first().json;\nconst t = raw.list ? raw.list[0] : raw;\nif (!t || !t.chatwoot_inbox_id) return [];\nif (t.active === 'No') return [];\nlet flow = {}; try { flow = JSON.parse(t.flow_json || '{}'); } catch(e) {}\nlet botConfig = {}; try { botConfig = JSON.parse(t.bot_config || '{}'); } catch(e) {}\nlet qualQuestions = []; try { qualQuestions = JSON.parse(t.qual_questions || '[]'); } catch(e) {}\nlet services = []; try { services = JSON.parse(t.services || '[]'); } catch(e) {}\nconst kb_summary = t.kb_summary || '';\nreturn [{ json: {\n  ...msg,\n  chatwoot_base: t.chatwoot_base, chatwoot_account_id: t.chatwoot_account_id, chatwoot_token: t.chatwoot_token,\n  control_nocodb_base: 'https://whizz.aiingo.com', control_nocodb_token: 'nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF',\n  analytics_table_id: 'm2in19v8n7phitr',\n  openrouter_key: t.openrouter_key || $env.OPENROUTER_KEY, model: t.model || 'google/gemini-2.5-flash',\n  language: t.language || 'ml', main_prompt: t.main_prompt || '', flow,\n  botConfig, qualQuestions, services, kb_summary,\n  client_name: t.client_name || '',\n  sarvam_key: t.sarvam_key || $env.SARVAM_API_KEY || '',\n  cal_link: t.cal_link || '',\n  sarvam_lang: ({ml:'ml-IN',hi:'hi-IN',ta:'ta-IN',te:'te-IN',bn:'bn-IN',kn:'kn-IN',mr:'mr-IN',gu:'gu-IN'})[t.language||'ml'] || 'ml-IN',\n  test_mode: t.test_mode || 'No',\n  test_phone: t.test_phone || ''\n} }];"
      },
      "id": "ctx",
      "name": "Code · Build ctx",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records?where=(Phone,eq,{{ $json.phone }})&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            }
          ]
        },
        "options": {}
      },
      "id": "getlead",
      "name": "HTTP · Get lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · Build ctx').first().json;\nconst r = $input.first().json;\nconst rows = r.list || [];\nconst lead = rows.find(l => String(l.ClientId) === String(c.client_id)) || null;\n// Opt-out: block opted-out leads (allow START to re-subscribe)\nconst msg = $('Code · Parse').first().json;\nif (lead?.OptOut === 'Yes') {\n  const _txt = (msg.text || '').trim().toLowerCase();\n  if (_txt !== 'start') return [];\n}\nif (lead && (lead.Handover === 'Yes' || lead.Stage === 'human_handover')) return [];\nif (c.test_mode === 'Yes' && c.test_phone && c.phone !== c.test_phone.replace(/[^0-9]/g,'')) return [];\n\nconst rateLimitMs = parseInt(c.botConfig?.rate_limit_ms) || 4000;\nconst lastMsgAt = lead?.LastMsgAt ? new Date(lead.LastMsgAt).getTime() : 0;\nif (Date.now() - lastMsgAt < rateLimitMs) return [];\n\nconst duplicateClientIds = rows.filter(l => String(l.ClientId) !== String(c.client_id)).map(l => String(l.ClientId));\nconst isDuplicate = duplicateClientIds.length > 0;\n\nlet history = [];\ntry { history = JSON.parse(lead?.ConvHistory || '[]'); } catch(e) {}\nconst botMsgs = history.filter(m => m.role === 'assistant').slice(-3).map(m => m.content);\nconst looping = botMsgs.length === 3 && botMsgs.every(m => m === botMsgs[0]);\n\nconst memSummary = lead?.MemSummary || '';\nconst activeHistory = history.length > 20 ? history.slice(-6) : history;\n\nlet qualAnswers = {};\ntry { qualAnswers = JSON.parse(lead?.QualAnswers || '{}'); } catch(e) {}\n\nreturn [{ json: { ...c, leadId: lead?.Id || null, stage: lead?.Stage || 'new', history, activeHistory, memSummary, looping, qualAnswers, isDuplicate, leadOptOut: lead?.OptOut || 'No' } }];"
      },
      "id": "state",
      "name": "Code · State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "img",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "voc",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "media",
      "name": "Switch · Media",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.openrouter_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ model: $json.model, max_tokens: 100, messages: [ { role:'user', content: [ { type:'text', text:'Describe what this image shows in one short sentence, focused on anything relevant to an insurance enquiry.' }, { type:'image_url', image_url: { url: $json.mediaUrl } } ] } ] }) }}",
        "options": {}
      },
      "id": "vision",
      "name": "HTTP · Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nconst r = $input.first().json;\nconst txt = r.choices?.[0]?.message?.content || '(image received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "imgtext",
      "name": "Code · image→text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.mediaUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "dl",
      "name": "HTTP · Download audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/speech-to-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-subscription-key",
              "value": "={{ $('Code · State').first().json.sarvam_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "value": "saarika:v2"
            },
            {
              "name": "language_code",
              "value": "={{ $('Code · State').first().json.sarvam_lang || 'ml-IN' }}"
            },
            {
              "name": "with_timestamps",
              "value": "false"
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 3000
        }
      },
      "id": "stt",
      "name": "HTTP · Sarvam STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nconst r = $input.first().json;\n// Sarvam STT returns { transcript: '...' }, OpenRouter returns choices[]\nconst txt = r.transcript || r.choices?.[0]?.message?.content || '(voice note received)';\nreturn [{ json: { ...c, userText: txt } }];"
      },
      "id": "voctext",
      "name": "Code · voice→text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · State').first().json;\nreturn [{ json: { ...c, userText: c.text || '' } }];"
      },
      "id": "txtpass",
      "name": "Code · text→text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn [{ json: c }];"
      },
      "id": "merge",
      "name": "Code · Merge text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the user message and return ONLY valid JSON: {\"intent\":\"<ONE>\",\"data\":{}}.\n\nStage: {{ $json.stage }}\nMessage: \"{{ $json.userText }}\"\n\nIntents:\nAFFIRMATIVE = yes/ok/sure/agree/any positive reply\nWATCHED = watched video or content\nFORM_DONE = filled a form\nBOOKING = specific time/date mentioned (put in data.booking_time)\nDELAY = not now/later/busy\nWANTS_MORE_INFO = tell me more/explain\nQUESTION = real product question (put in data.question)\nWANTS_HUMAN = speak to human/agent\nSHORT_NEUTRAL = only pure openers: hi/hello/hey\n\nWhen in doubt between SHORT_NEUTRAL and AFFIRMATIVE, prefer AFFIRMATIVE.\nReturn ONLY the JSON object, nothing else.",
        "options": {
          "systemMessage": "You are an intent classifier. Return only valid JSON."
        }
      },
      "id": "aiagent",
      "name": "AI Agent · Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1220,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\n// AI Agent output is {output:'...'}, get userText from Code · Merge text\nconst mergeCtx = $('Code · Merge text').first().json;\nconst userText = mergeCtx.userText || '';\n// Opt-out detection\nconst _OPT_OUT = ['stop','unsubscribe','opt out','opt-out','optout'];\nconst _isOptOut = _OPT_OUT.some(w => userText.toLowerCase().trim() === w);\nconst _isResub = userText.toLowerCase().trim() === 'start' && sc.leadOptOut === 'Yes';\nif (_isOptOut) return [{ json: { ...sc, userText, intent:'SHORT_NEUTRAL', route:'qualify_next', reply:'You have been unsubscribed. Reply START to re-subscribe.', next: sc.stage, qualAnswers: sc.qualAnswers||{}, _isOptOut:true } }];\nif (_isResub) return [{ json: { ...sc, userText, intent:'SHORT_NEUTRAL', route:'qualify_next', reply:'Welcome back! You are re-subscribed.', next: 'new', qualAnswers: sc.qualAnswers||{}, _isResub:true } }];\n\n// Support both n8n AI node output and raw OpenAI HTTP response\nconst raw = c.output || c.text || c.choices?.[0]?.message?.content || '';\nlet intent = 'SHORT_NEUTRAL', intentData = {};\ntry {\n  const m = raw.replace(/```json|```/gi,'').match(/\\{[\\s\\S]*\\}/);\n  if (m) { const p = JSON.parse(m[0]); intent = p.intent || intent; intentData = p.data || {}; }\n} catch(e) {}\nconst valid = ['DELAY','BOOKING','AFFIRMATIVE','WATCHED','FORM_DONE','WANTS_MORE_INFO','QUESTION','WANTS_HUMAN','SHORT_NEUTRAL'];\nif (!valid.includes(intent)) intent = 'SHORT_NEUTRAL';\n\nconst sc = $('Code · State').first().json;\nif (sc.looping && sc.botConfig?.antiloop_enabled !== false) intent = 'WANTS_HUMAN';\n\nconst qs = sc.qualQuestions || [];\nconst qualDone = !qs.length || sc.botConfig?.qual_enabled === false || (sc.stage && !sc.stage.startsWith('qual_') && sc.stage !== 'new');\nconst qualStage = sc.stage?.startsWith('qual_') ? parseInt(sc.stage.replace('qual_','')) : null;\n\n// Flow lookup — only fall back to 'new' when stage IS 'new', otherwise route to FAQ\nconst flow = sc.flow || {};\nconst stageNode = flow.stages?.[sc.stage];\nconst node = stageNode || (sc.stage === 'new' || !sc.stage ? flow.stages?.['new'] : null) || {};\nconst stageNotFound = !stageNode && sc.stage && sc.stage !== 'new';\n\n// After human handover: allow up to 3 FAQ answers then go silent\nconst _isPostHandover = sc.stage === 'human_handover';\nconst _handoverFaqCount = sc.handoverFaqCount || 0;\nconst action = node[intent] || node['*'] || { next: sc.stage, msg: null };\n\nconst POSITIVE = new Set(['AFFIRMATIVE','WATCHED','FORM_DONE','BOOKING','SHORT_NEUTRAL']);\nconst NEGATIVE = new Set(['DELAY','WANTS_MORE_INFO']);\n\n// Detect final stage (last stage key that is not 'new')\nconst _allStages = Object.keys(flow.stages || {}).filter(k => k !== 'new');\nconst _isFinalStage = _allStages.length > 0 && sc.stage === _allStages[_allStages.length - 1];\n\n// Detect if bot already sent the same message (avoid repeat)\nconst _lastBotMsg = (sc.history || []).filter(m => m.role === 'assistant').slice(-1)[0]?.content || '';\nconst _actionMsg = action.msg ? (flow.messages?.[action.msg] || '') : '';\nconst _wouldRepeat = _actionMsg && _lastBotMsg && _lastBotMsg.includes(_actionMsg.slice(0, 40));\n\nlet reply = '', videoUrl = null;\nlet route = 'stage';\nif (intent === 'WANTS_HUMAN' && sc.botConfig?.handover_enabled !== false) route = 'human';\n// Auto handover: final stage + customer affirms → hand to human with callback message\nelse if (_isFinalStage && POSITIVE.has(intent) && sc.botConfig?.handover_enabled !== false) {\n  route = 'human';\n  // Calculate next business day 9am in client timezone\n  const _tz = sc.botConfig?.timezone || 'Asia/Kolkata';\n  const _now = new Date();\n  const _nowLocal = new Date(_now.toLocaleString('en-US', { timeZone: _tz }));\n  const _hour = _nowLocal.getHours();\n  const _day = _nowLocal.getDay(); // 0=Sun,6=Sat\n  let _callLabel = 'tomorrow';\n  // If before 9am on a weekday → same day\n  if (_hour < 9 && _day >= 1 && _day <= 5) _callLabel = 'today';\n  // If Saturday → Monday\n  else if (_day === 6) _callLabel = 'on Monday';\n  // If Sunday → tomorrow (Monday)\n  else if (_day === 0) _callLabel = 'tomorrow (Monday)';\n  const _callbackMsg = sc.botConfig?.callback_msg ||\n    `Thank you! 🙏 Our team will contact you ${_callLabel} at 9am. We look forward to speaking with you!`;\n  reply = _callbackMsg;\n}\n// Avoid repeat: same message would be sent again → go FAQ instead\nelse if (_wouldRepeat && POSITIVE.has(intent)) route = 'faq';\nelse if (_isPostHandover) {\n  if (_handoverFaqCount < 3) route = 'faq';\n  else route = 'drop';\n} else if (stageNotFound || intent === 'QUESTION' || NEGATIVE.has(intent)) route = 'faq';\nelse if (!qualDone && qualStage === null) route = 'qualify';\nelse if (!qualDone && qualStage !== null) route = 'qualify_next';\n\nlet next = action.next || sc.stage;\nlet qualAnswers = sc.qualAnswers || {};\n\nif (route === 'qualify_next') {\n  const currentIdx = qualStage !== null ? qualStage : 0;\n  const nextIdx = currentIdx + 1;\n  if (qs[currentIdx]) qualAnswers[qs[currentIdx]] = userText;\n  if (nextIdx < qs.length) {\n    reply = qs[nextIdx];\n    next = 'qual_' + nextIdx;\n  } else {\n    const firstStage = Object.keys(flow.stages || {}).filter(k => k !== 'new')[0] || 'new';\n    const firstAction = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n    const vars = flow.variables || {};\n    reply = (flow.messages?.[firstAction.msg] || 'Great, thanks! Let me share some information 😊').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n    next = firstAction.next || firstStage;\n  }\n} else if (route === 'stage' && action.msg) {\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || '').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k.toLowerCase()] ?? vars[k] ?? '');\n  if (action.form && vars.form_link && !reply.includes(vars.form_link)) reply += '\\n\\n' + vars.form_link;\n  if (action.video) videoUrl = vars[action.video] || null;\n}\nif (route === 'stage' && !action.msg) route = 'faq';\n\n// Auto-append Cal.com booking link on BOOKING intent\nif (intent === 'BOOKING' && sc.cal_link && !reply.includes(sc.cal_link)) {\n  reply = (reply || 'Great! You can book your slot here 📅') + '\\n\\n👉 ' + sc.cal_link;\n}\nreturn [{ json: { ...sc, userText, intent, intentData, route, next, reply, videoUrl, qualStage, qualAnswers } }];"
      },
      "id": "parseintent",
      "name": "Code · Intent + flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "h",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "human"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "faq"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "q",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "qualify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualify"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "qn",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "qualify_next",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qualify_next"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "dr",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "drop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "drop"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route",
      "name": "Switch · Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1660,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: 'Sure 🙏 connecting you to our advisor now. Someone will be with you shortly.', message_type: 'outgoing', private: false }) }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 2000
        }
      },
      "id": "sendhuman",
      "name": "HTTP · Handover msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Code · Intent + flow').first().json.chatwoot_base }}/api/v1/accounts/{{ $('Code · Intent + flow').first().json.chatwoot_account_id }}/conversations/{{ $('Code · Intent + flow').first().json.convId }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Code · Intent + flow').first().json.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ labels: ['human-requested'] }) }}",
        "options": {}
      },
      "id": "handoverlabel",
      "name": "HTTP · Handover label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst history = c.activeHistory || [];\nconst lang = c.language || 'en';\nlet sys = c.main_prompt || '';\nif (c.services && c.services.length) {\n  const svcLines = c.services.map(s =>\n    `- ${s.name}: ${s.description||''} | Price: ${s.currency||'AED'} ${s.price} per ${s.per||'person'}`\n  ).join('\\n');\n  sys += '\\n\\n## Services\\n' + svcLines;\n}\nif (c.kb_summary && c.kb_summary.trim()) {\n  sys += '\\n\\n## Knowledge Base\\n' + c.kb_summary.slice(0, 2000);\n}\nif (history.length) {\n  const histText = history.slice(-3).map(m => m.role+': '+m.content).join('\\n');\n  sys += '\\n\\n## Recent Conversation\\n' + histText;\n}\nsys += '\\n\\nCurrent stage: ' + (c.stage || 'new') + '. Respond ONLY in ' + lang + '. Never switch languages. For any question not answerable from your knowledge, politely say you will connect them with an advisor.';\nreturn [{ json: { ...c, _systemPrompt: sys } }];"
      },
      "id": "faqprep",
      "name": "Code · FAQ prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        360
      ]
    },
    {
      "parameters": {
        "prompt": {
          "values": [
            {
              "type": "systemMessage",
              "message": "={{ $('Code · FAQ prep').first().json._systemPrompt }}"
            },
            {
              "type": "userMessage",
              "message": "={{ $('Code · FAQ prep').first().json.userText }}"
            }
          ]
        }
      },
      "id": "faqcall",
      "name": "LLM Chain · FAQ",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2100,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · FAQ prep').first().json;\nconst r = $input.first().json;\nconst reply = r.output || r.text || r.choices?.[0]?.message?.content?.trim() || 'One moment 🙏';\nreturn [{ json: { ...c, reply } }];"
      },
      "id": "faqextract",
      "name": "Code · FAQ reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst question = qs[0] || 'Could you tell me a bit more about what you are looking for?';\nreturn [{ json: { ...c, reply: question, next: 'qual_0' } }];"
      },
      "id": "qualstart",
      "name": "Code · Qual start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst qs = c.qualQuestions || [];\nconst currentIdx = c.qualStage !== null ? c.qualStage : 0;\nconst nextIdx = currentIdx + 1;\nlet qualAnswers = c.qualAnswers || {};\nif (qs[currentIdx]) qualAnswers[qs[currentIdx]] = c.userText;\nlet reply, next;\nif (nextIdx < qs.length) {\n  reply = qs[nextIdx];\n  next = 'qual_' + nextIdx;\n} else {\n  const flow = c.flow || {};\n  const firstStage = Object.keys(flow.stages || {}).filter(k => k !== 'new')[0] || 'new';\n  const action = (flow.stages?.[firstStage] || {})['*'] || { next: firstStage, msg: null };\n  const vars = flow.variables || {};\n  reply = (flow.messages?.[action.msg] || 'Great, thanks! Let me share some information 😊').replace(/\\[(\\w+)\\]/g, (_,k)=> vars[k] ?? '');\n  next = action.next || firstStage;\n}\nreturn [{ json: { ...c, reply, next, qualAnswers } }];"
      },
      "id": "qualnext",
      "name": "Code · Qual next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.reply }}"
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 2000
        }
      },
      "id": "send",
      "name": "HTTP · Send reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull full context — try each source until we get one with client_id\nlet sc = null;\nconst _nodesToTry = ['Code · Intent + flow', 'Code · State', 'Code · Build ctx'];\nfor (const n of _nodesToTry) {\n  try { const t = $(n).first().json; if (t && t.client_id) { sc = t; break; } } catch(e) {}\n}\nif (!sc) sc = $input.first().json;\nconst route = sc.route || 'stage';\n\nlet reply = sc.reply;\nlet next = sc.next;\nconst qualAnswers = sc.qualAnswers || {};\n\nif (route === 'drop') {\n  reply = null;\n} else if (route === 'faq') {\n  try { reply = $('Code · FAQ reply').first().json.reply || reply; } catch(e) {}\n} else if (route === 'qualify') {\n  try { const qn = $('Code · Qual start').first().json; reply = qn.reply; next = qn.next; } catch(e) {}\n}\n\nconst history = (sc.history || []).slice();\nif (sc.userText) history.push({ role: 'user', content: sc.userText });\nif (reply) history.push({ role: 'assistant', content: reply });\n\nconst isHuman = route === 'human';\nconst body = {\n  ClientId: String(sc.client_id),\n  Phone: sc.phone, Name: sc.name, ConversationID: sc.convId,\n  Date: new Date().toISOString(), Language: sc.language,\n  ConvHistory: JSON.stringify(history.slice(-40)),\n  LastMsgAt: new Date().toISOString()\n};\nif (qualAnswers && Object.keys(qualAnswers).length) body.QualAnswers = JSON.stringify(qualAnswers);\nif (isHuman) { body.Stage = 'human_handover'; body.Handover = 'Yes'; }\nelse { body.Stage = next; }\n// Increment FAQ count while bot is in post-handover mode\nif (sc.stage === 'human_handover' && sc.route !== 'drop') {\n  body.HandoverFaqCount = (sc.handoverFaqCount || 0) + 1;\n}\nif (!isHuman && next !== sc.stage) {\n  body['Follow up 1']='No'; body['Follow up 2']='No'; body['Follow up 3']='No';\n}\nif (sc.intentData?.booking_time) body.BookingTime = sc.intentData.booking_time;\nlet score = 'Cold';\nif (sc.intent === 'BOOKING' || sc.intentData?.booking_time || body.Stage === 'consultation_booked') score = 'Hot';\nelse if (['AFFIRMATIVE','WATCHED','FORM_DONE'].includes(sc.intent) && sc.stage !== 'new') score = 'Warm';\nelse if (sc.stage !== 'new' && (sc.history||[]).length > 2) score = 'Warm';\nbody.Score = score;\nif (sc.isDuplicate) body.IsDuplicate = 'Yes';\nif (sc._isOptOut) body.OptOut = 'Yes';\nif (sc._isResub) { body.OptOut = 'No'; body.Stage = 'new'; }\n// Hot moment detection\nconst HOT_PHRASES = ['how much','price','cost','available','when can','book','ready to','interested in','want to','sign up','start','confirm','deposit','payment','package','deal','offer','buy','purchase','enroll','register'];\nconst msgLower = (sc.userText||'').toLowerCase();\nconst hotPhrase = HOT_PHRASES.find(p => msgLower.includes(p));\nif (hotPhrase) { body.HotMoment = 'Yes'; body.HotMomentText = (sc.userText||'').slice(0,200); }\n// Auto-qualify score (1-10)\nconst _flow = sc.flow || {};\nconst _stageKeys = Object.keys((_flow.stages||{})).filter(k=>k!=='new');\nconst _stageIdx = _stageKeys.indexOf(sc.stage);\nconst _stageProgress = _stageKeys.length > 0 ? (_stageIdx+1)/_stageKeys.length : 0;\nconst _histLen = (sc.history||[]).length;\nlet _qualScore = Math.round((_stageProgress*4) + (score==='Hot'?3:score==='Warm'?2:0) + (hotPhrase?1.5:0) + Math.min(_histLen/20,1.5));\n_qualScore = Math.max(1, Math.min(10, _qualScore));\nbody.QualScore = _qualScore;\nconst method = sc.leadId ? 'PATCH' : 'POST';\nif (sc.leadId) body.Id = sc.leadId;\nreturn [{ json: { ...sc, reply, next, qualAnswers, _method: method, _body: body } }];"
      },
      "id": "prepupsert",
      "name": "Code · Prep lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        460
      ]
    },
    {
      "parameters": {
        "method": "={{ $json._method }}",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json._body) }}",
        "options": {}
      },
      "id": "upsert",
      "name": "HTTP · Upsert lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $('Code · Prep lead').first().json;\nconst upsertResult = $input.first().json;\nconst isError = !!(upsertResult.error || upsertResult.msg);\nconst responseMs = Date.now() - (c._startMs || Date.now());\nreturn [{ json: {\n  ...c,\n  _analyticsBody: {\n    ClientId: String(c.client_id),\n    ClientName: c.client_name || '',\n    Phone: c.phone,\n    Intent: c.intent || '',\n    Route: c.route || '',\n    Stage: c.stage || '',\n    NextStage: c.next || '',\n    ResponseMs: responseMs,\n    IsError: isError,\n    ErrorMsg: isError ? JSON.stringify(upsertResult).substring(0, 200) : '',\n    Timestamp: new Date().toISOString()\n  }\n} }];"
      },
      "id": "prepanalytics",
      "name": "Code · Prep analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/m2in19v8n7phitr/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($json._analyticsBody) }}",
        "options": {}
      },
      "id": "loganalytics",
      "name": "HTTP · Log analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ Id: $('Code · Prep lead').first().json.client_id, last_seen: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "updatelastseen",
      "name": "HTTP · Update last seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $('Code · State').first().json.mediaType }}",
              "rightValue": "voice",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "v2",
              "leftValue": "={{ $('Code · State').first().json.sarvam_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "voiceTtsIf",
      "name": "IF · Voice reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2740,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Code · State').first().json;\nlet reply = '';\nconst tries = ['Code · FAQ reply','Code · Qual start','Code · Qual next','Code · Intent + flow'];\nfor (const n of tries) {\n  try { const r = $(n).first().json.reply; if (r) { reply = r; break; } } catch(e) {}\n}\nreturn [{ json: { ...state, _ttsText: reply.slice(0, 500) } }];"
      },
      "id": "collectReply",
      "name": "Code · Collect reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/text-to-speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-subscription-key",
              "value": "={{ $json.sarvam_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ inputs:[$json._ttsText], target_language_code: $json.sarvam_lang||'ml-IN', speaker:'ananya', pitch:0, pace:1.0, loudness:1.5, speech_sample_rate:22050, enable_preprocessing:true, model:'bulbul:v2' }) }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 3000
        }
      },
      "id": "sarvamTts",
      "name": "HTTP · Sarvam TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3160,
        340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code · Collect reply').first().json;\nconst resp = $input.first().json;\n// Sarvam TTS returns { audios: ['<base64_mp3>'] }\nconst base64Audio = resp?.audios?.[0] || '';\nif (!base64Audio) return [{ json: { ...prev, _ttsOk: false } }];\nreturn [{\n  json: { ...prev, _ttsOk: true },\n  binary: {\n    data: {\n      data: base64Audio,\n      mimeType: 'audio/mpeg',\n      fileName: 'voice-reply.mp3',\n      fileExtension: 'mp3'\n    }\n  }\n}];"
      },
      "id": "ttsBinary",
      "name": "Code · TTS binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwoot_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "sendVoiceReply",
      "name": "HTTP · Send voice reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3560,
        340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "={{ $('Code · Merge text').first().json.model || 'google/gemini-2.5-flash' }}"
        },
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "temperature": 0.1,
          "maxTokens": 80
        }
      },
      "id": "lmIntent",
      "name": "OpenAI Chat Model · Intent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1220,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENROUTER_CRED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "={{ $('Code · FAQ prep').first().json.model || 'google/gemini-2.5-flash' }}"
        },
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "temperature": 0.4,
          "maxTokens": 300
        }
      },
      "id": "lmFaq",
      "name": "OpenAI Chat Model · FAQ",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2100,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENROUTER_CRED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nreturn [{ json: { stage: c.stage || 'new', userText: c.userText || '', model: c.model || 'google/gemini-2.5-flash' } }];"
      },
      "id": "intentprep",
      "name": "Code · Intent prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        400
      ]
    }
  ],
  "connections": {
    "When called by wrapper": {
      "main": [
        [
          {
            "node": "Code · Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Parse": {
      "main": [
        [
          {
            "node": "NocoDB · Get tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB · Get tenant": {
      "main": [
        [
          {
            "node": "Code · Build ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build ctx": {
      "main": [
        [
          {
            "node": "HTTP · Get lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Get lead": {
      "main": [
        [
          {
            "node": "Code · State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · State": {
      "main": [
        [
          {
            "node": "Switch · Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch · Media": {
      "main": [
        [
          {
            "node": "HTTP · Vision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP · Download audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code · text→text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Vision": {
      "main": [
        [
          {
            "node": "Code · image→text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · image→text": {
      "main": [
        [
          {
            "node": "Code · Merge text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Download audio": {
      "main": [
        [
          {
            "node": "HTTP · Sarvam STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · voice→text": {
      "main": [
        [
          {
            "node": "Code · Merge text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · text→text": {
      "main": [
        [
          {
            "node": "Code · Merge text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Merge text": {
      "main": [
        [
          {
            "node": "Code · Intent prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Intent + flow": {
      "main": [
        [
          {
            "node": "Switch · Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch · Route": {
      "main": [
        [
          {
            "node": "HTTP · Handover msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code · FAQ prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP · Send reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code · Qual start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP · Send reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code · Prep lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Handover msg": {
      "main": [
        [
          {
            "node": "HTTP · Handover label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Handover label": {
      "main": [
        [
          {
            "node": "Code · Prep lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · FAQ prep": {
      "main": [
        [
          {
            "node": "LLM Chain · FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · FAQ reply": {
      "main": [
        [
          {
            "node": "HTTP · Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Qual start": {
      "main": [
        [
          {
            "node": "HTTP · Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Qual next": {
      "main": [
        [
          {
            "node": "HTTP · Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Send reply": {
      "main": [
        [
          {
            "node": "IF · Voice reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Prep lead": {
      "main": [
        [
          {
            "node": "HTTP · Upsert lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Upsert lead": {
      "main": [
        [
          {
            "node": "Code · Prep analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Prep analytics": {
      "main": [
        [
          {
            "node": "HTTP · Log analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Log analytics": {
      "main": [
        [
          {
            "node": "HTTP · Update last seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Sarvam STT": {
      "main": [
        [
          {
            "node": "Code · voice→text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF · Voice reply?": {
      "main": [
        [
          {
            "node": "Code · Collect reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code · Prep lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Collect reply": {
      "main": [
        [
          {
            "node": "HTTP · Sarvam TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Sarvam TTS": {
      "main": [
        [
          {
            "node": "Code · TTS binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · TTS binary": {
      "main": [
        [
          {
            "node": "HTTP · Send voice reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Send voice reply": {
      "main": [
        [
          {
            "node": "Code · Prep lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent · Intent": {
      "main": [
        [
          {
            "node": "Code · Intent + flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain · FAQ": {
      "main": [
        [
          {
            "node": "Code · FAQ reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model · Intent": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent · Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model · FAQ": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain · FAQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Intent classify": {
      "main": [
        [
          {
            "node": "Code · Intent + flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Intent prep": {
      "main": [
        [
          {
            "node": "AI Agent · Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}