n8n/followup-template.json
{
  "name": "Leadvyne · Follow-up (multi-client)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "hours" } ] }
      },
      "id": "trigger", "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [ 0, 0 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records?where=(active,eq,Yes)&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
        ] },
        "options": {}
      },
      "id": "getclients", "name": "HTTP · Get clients",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 220, 0 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records?where=(Handover,neq,Yes)~and(Stage,nin,consultation_booked,human_handover,visit_booked,appt_booked)&limit=5000&sort=-LastMsgAt",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
        ] },
        "options": {}
      },
      "id": "getleads", "name": "HTTP · Get leads",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 440, 0 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const clientsData = $('HTTP · Get clients').first().json;\nconst leadsData = $input.first().json;\nconst clients = clientsData.list || [];\nconst leads = leadsData.list || [];\n\n// Build client map by Id\nconst clientMap = {};\nclients.forEach(c => { clientMap[String(c.Id)] = c; });\n\nconst now = Date.now();\nconst out = [];\n\nfor (const lead of leads) {\n  const client = clientMap[String(lead.ClientId)];\n  if (!client) continue;\n\n  const count = parseInt(client.followup_count) || 0;\n  if (!count) continue;\n\n  const hoursArr = (client.followup_hours || '24,72,168')\n    .split(',').map(h => parseFloat(h.trim())).filter(n => !isNaN(n));\n  const msgsArr = (client.followup_messages || '')\n    .split('\\n').map(m => m.trim()).filter(Boolean);\n\n  // Use LastMsgAt if available, fall back to Date\n  const lastMs = lead.LastMsgAt\n    ? new Date(lead.LastMsgAt).getTime()\n    : (lead.Date ? new Date(lead.Date).getTime() : 0);\n  if (!lastMs || !lead.ConversationID) continue;\n\n  const hoursElapsed = (now - lastMs) / 3600000;\n\n  let fuField = null, msg = null;\n  for (let i = 0; i < Math.min(count, 3); i++) {\n    const key = 'Follow up ' + (i + 1);\n    if ((lead[key] || 'No') === 'No' && hoursArr[i] && hoursElapsed >= hoursArr[i]) {\n      fuField = key;\n      msg = msgsArr[i] || null;\n      break;\n    }\n  }\n\n  if (!fuField || !msg) continue;\n\n  out.push({ json: {\n    leadId: lead.Id,\n    convId: lead.ConversationID,\n    fuField,\n    message: msg,\n    chatwoot_base: client.chatwoot_base,\n    chatwoot_account_id: String(client.chatwoot_account_id),\n    chatwoot_token: client.chatwoot_token\n  } });\n}\n\nreturn out;"
      },
      "id": "decide", "name": "Code · Decide follow-ups",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 660, 0 ]
    },
    {
      "parameters": { "options": {} },
      "id": "loop", "name": "Loop (rate limit)",
      "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3,
      "position": [ 880, 0 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwoot_base }}/api/v1/accounts/{{ $json.chatwoot_account_id }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "api_access_token", "value": "={{ $json.chatwoot_token }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: $json.message, message_type: 'outgoing', private: false }) }}",
        "options": { "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 3000 }
      },
      "id": "send", "name": "HTTP · Send follow-up",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1100, -16 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://whizz.aiingo.com/api/v2/tables/mvg6rcw0ia5qqrx/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ Id: $('Loop (rate limit)').first().json.leadId, [$('Loop (rate limit)').first().json.fuField]: 'Yes' }) }}",
        "options": {}
      },
      "id": "mark", "name": "HTTP · Mark sent",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1320, 0 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": { "amount": 1 },
      "id": "wait", "name": "Wait 1s",
      "type": "n8n-nodes-base.wait", "typeVersion": 1.1,
      "position": [ 1540, 0 ],
      "webhookId": "followup-wait-1s"
    }
  ],
  "connections": {
    "Every Hour":               { "main": [ [ { "node": "HTTP · Get clients",       "type": "main", "index": 0 } ] ] },
    "HTTP · Get clients":       { "main": [ [ { "node": "HTTP · Get leads",          "type": "main", "index": 0 } ] ] },
    "HTTP · Get leads":         { "main": [ [ { "node": "Code · Decide follow-ups",  "type": "main", "index": 0 } ] ] },
    "Code · Decide follow-ups": { "main": [ [ { "node": "Loop (rate limit)",         "type": "main", "index": 0 } ] ] },
    "Loop (rate limit)":        { "main": [ [ { "node": "HTTP · Send follow-up",     "type": "main", "index": 0 } ] ] },
    "HTTP · Send follow-up":    { "main": [ [ { "node": "HTTP · Mark sent",          "type": "main", "index": 0 } ] ] },
    "HTTP · Mark sent":         { "main": [ [ { "node": "Wait 1s",                   "type": "main", "index": 0 } ] ] },
    "Wait 1s":                  { "main": [ [ { "node": "Loop (rate limit)",          "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
