n8n/kb-processor.json
{
  "name": "Leadvyne · KB Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-kb-process",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh", "name": "Webhook · KB Process",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2,
      "position": [ 0, 0 ], "webhookId": "leadvyne-kb-process"
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "nb", "name": "nocodb_base",       "value": "https://whizz.aiingo.com",                                "type": "string" },
          { "id": "nt", "name": "nocodb_token",      "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF",       "type": "string" },
          { "id": "ct", "name": "clients_table_id",  "value": "mxl33bg4wi70fqj",                                         "type": "string" },
          { "id": "ok", "name": "openrouter_key",    "value": "={{ $env.OPENROUTER_KEY }}",                               "type": "string" },
          { "id": "md", "name": "model",             "value": "google/gemini-2.5-flash",                                  "type": "string" }
        ] },
        "options": {}
      },
      "id": "settings", "name": "Set · Settings",
      "type": "n8n-nodes-base.set", "typeVersion": 3.4,
      "position": [ 220, 0 ]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook · KB Process').first().json.body;\nconst s = $('Set · Settings').first().json;\nconst clientId = String(b.client_id || '');\nconst rawText  = String(b.kb_text || '').slice(0, 120000);\nif (!clientId) return [];\nif (!rawText.trim()) {\n  return [{ json: { clientId, skipAI: true, kb_summary: '' } }];\n}\nreturn [{ json: { clientId, rawText, skipAI: false, ...s } }];"
      },
      "id": "prep", "name": "Code · Prep",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 440, 0 ]
    },
    {
      "parameters": {
        "conditions": { "options": { "version": 2 },
          "conditions": [ {
            "id": "c1", "leftValue": "={{ $json.skipAI }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          } ], "combinator": "and"
        },
        "options": {}
      },
      "id": "ifskip", "name": "IF · Skip AI",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [ 660, 0 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $json.openrouter_key }}" },
          { "name": "Content-Type",  "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({\n  model: $json.model,\n  max_tokens: 4000,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a knowledge base processor. Convert the provided document content into a compact, structured reference that a customer-service bot can quickly scan to answer questions. Output format:\\n\\n## Key Facts\\n- bullet points of critical facts, numbers, policies, prices\\n\\n## Common Q&A\\nQ: [likely customer question]\\nA: [concise answer]\\n\\n(repeat for all important topics)\\n\\n## Important Notes\\n- any warnings, terms, or conditions\\n\\nBe thorough but concise. Cover everything a customer might ask about.'\n    },\n    {\n      role: 'user',\n      content: 'Process this document into the structured format:\\n\\n' + $json.rawText\n    }\n  ]\n}) }}",
        "options": { "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 5000 }
      },
      "id": "aiprocess", "name": "HTTP · AI Process",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 880, -80 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Code · Prep').first().json;\nlet summary = '';\ntry {\n  const r = $input.first().json;\n  summary = r?.choices?.[0]?.message?.content?.trim() || '';\n} catch(e) {}\nif (!summary) {\n  // Fallback: use first 6000 chars of raw text if AI fails\n  summary = (prep.rawText || '').slice(0, 6000);\n}\nreturn [{ json: { clientId: prep.clientId, kb_summary: summary, nocodb_base: prep.nocodb_base, nocodb_token: prep.nocodb_token, clients_table_id: prep.clients_table_id } }];"
      },
      "id": "extractsummary", "name": "Code · Extract summary",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 1100, -80 ]
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Code · Prep').first().json;\nreturn [{ json: { clientId: prep.clientId, kb_summary: '', nocodb_base: prep.nocodb_base, nocodb_token: prep.nocodb_token, clients_table_id: prep.clients_table_id } }];"
      },
      "id": "emptysummary", "name": "Code · Empty summary",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 880, 80 ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.nocodb_base }}/api/v2/tables/{{ $json.clients_table_id }}/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token",     "value": "={{ $json.nocodb_token }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "string",
        "body": "={{ JSON.stringify({ Id: $json.clientId, kb_summary: $json.kb_summary }) }}",
        "options": {}
      },
      "id": "savesummary", "name": "HTTP · Save summary",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1320, 0 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"chars\": {{ ($('Code · Extract summary').first().json.kb_summary || $('Code · Empty summary').first().json.kb_summary || '').length }} }",
        "options": {}
      },
      "id": "respok", "name": "Respond · OK",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1,
      "position": [ 1540, 0 ]
    },
    {
      "parameters": {
        "content": "## KB Processor\n\nCall this **once** after uploading a knowledge base document.\n\n1. Receives `{client_id, kb_text}` via POST\n2. Sends the raw text to AI (Gemini) to produce a compact Q&A summary\n3. Saves `kb_summary` to the client record in NocoDB\n4. Bot reads `kb_summary` (small) instead of raw `kb_text` (large)\n\n### Webhook URL\n`POST /webhook/leadvyne-kb-process`\n\n### Payload\n```json\n{\n  \"client_id\": \"123\",\n  \"kb_text\": \"... raw extracted text ...\"\n}\n```",
        "height": 300, "width": 440
      },
      "id": "note", "name": "README",
      "type": "n8n-nodes-base.stickyNote", "typeVersion": 1,
      "position": [ 0, -200 ]
    }
  ],
  "connections": {
    "Webhook · KB Process":   { "main": [ [ { "node": "Set · Settings",       "type": "main", "index": 0 } ] ] },
    "Set · Settings":         { "main": [ [ { "node": "Code · Prep",           "type": "main", "index": 0 } ] ] },
    "Code · Prep":            { "main": [ [ { "node": "IF · Skip AI",          "type": "main", "index": 0 } ] ] },
    "IF · Skip AI":           { "main": [
      [ { "node": "Code · Empty summary", "type": "main", "index": 0 } ],
      [ { "node": "HTTP · AI Process",    "type": "main", "index": 0 } ]
    ] },
    "HTTP · AI Process":      { "main": [ [ { "node": "Code · Extract summary","type": "main", "index": 0 } ] ] },
    "Code · Extract summary": { "main": [ [ { "node": "HTTP · Save summary",   "type": "main", "index": 0 } ] ] },
    "Code · Empty summary":   { "main": [ [ { "node": "HTTP · Save summary",   "type": "main", "index": 0 } ] ] },
    "HTTP · Save summary":    { "main": [ [ { "node": "Respond · OK",          "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
