n8n/onboard.json
{
  "name": "Leadvyne · Onboard + Provision",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "leadvyne-onboard", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "wh", "name": "Webhook · Onboard", "type": "n8n-nodes-base.webhook", "typeVersion": 2,
      "position": [ -1100, 300 ], "webhookId": "leadvyne-onboard"
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "p",  "name": "passcode",           "value": "Bath*2026*ld",                   "type": "string" },
          { "id": "n",  "name": "n8n_base",           "value": "https://n8n.aiautomationsuae.com", "type": "string" },
          { "id": "e",  "name": "engine_workflow_id", "value": "XGCsP4hT3OGBsDhl",               "type": "string" },
          { "id": "nb", "name": "nocodb_base",        "value": "https://whizz.aiingo.com",        "type": "string" },
          { "id": "nt", "name": "nocodb_token",       "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF", "type": "string" },
          { "id": "np", "name": "nocodb_project_id",  "value": "p5n4bal4b7tlh9l",                "type": "string" },
          { "id": "ct", "name": "clients_table_id",   "value": "mxl33bg4wi70fqj",                "type": "string" },
          { "id": "at", "name": "analytics_table_id", "value": "m2in19v8n7phitr",                "type": "string" },
          { "id": "cb", "name": "chatwoot_base",      "value": "https://app.aiingo.com",           "type": "string" },
          { "id": "ok", "name": "openrouter_key",     "value": "={{ $env.OPENROUTER_KEY }}",        "type": "string" },
          { "id": "md", "name": "model",              "value": "google/gemini-2.5-flash",          "type": "string" }
        ] },
        "options": {}
      },
      "id": "settings", "name": "Set · Settings", "type": "n8n-nodes-base.set", "typeVersion": 3.4,
      "position": [ -880, 300 ]
    },
    {
      "parameters": {
        "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [ {
            "id": "auth", "leftValue": "={{ $('Webhook · Onboard').first().json.body.passcode }}",
            "rightValue": "={{ $json.passcode }}",
            "operator": { "type": "string", "operation": "equals" }
          } ], "combinator": "and" },
        "options": {}
      },
      "id": "ifauth", "name": "IF · Passcode", "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [ -660, 300 ]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"ok\": false, \"error\": \"unauthorised\" }", "options": { "responseCode": 401 } },
      "id": "resp401", "name": "Respond · 401", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1,
      "position": [ -440, 480 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set · Settings').first().json.nocodb_base }}/api/v1/db/meta/projects/{{ $('Set · Settings').first().json.nocodb_project_id }}/tables",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token",      "value": "={{ $('Set · Settings').first().json.nocodb_token }}" },
          { "name": "Content-Type",  "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  title: 'Leads_' + ($('Webhook · Onboard').first().json.body.client_name || 'Client').replace(/[^a-zA-Z0-9]/g,'_'),\n  columns: [\n    { title: 'Phone',          uidt: 'PhoneNumber' },\n    { title: 'Name',           uidt: 'SingleLineText' },\n    { title: 'ConversationID', uidt: 'SingleLineText' },\n    { title: 'Stage',          uidt: 'SingleLineText' },\n    { title: 'Language',       uidt: 'SingleLineText' },\n    { title: 'Date',           uidt: 'DateTime' },\n    { title: 'Handover',       uidt: 'SingleLineText' },\n    { title: 'Follow up 1',    uidt: 'SingleLineText' },\n    { title: 'Follow up 2',    uidt: 'SingleLineText' },\n    { title: 'Follow up 3',    uidt: 'SingleLineText' },\n    { title: 'ConvHistory',    uidt: 'LongText' },\n    { title: 'QualAnswers',    uidt: 'LongText' },\n    { title: 'BookingTime',    uidt: 'SingleLineText' },\n    { title: 'LastMsgAt',      uidt: 'DateTime' },\n    { title: 'MemSummary',     uidt: 'LongText' }\n  ]\n}) }}",
        "options": {}
      },
      "id": "createtable", "name": "HTTP · Create leads table", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ -440, 220 ]
    },
    {
      "parameters": {
        "jsCode": "const s = $('Set · Settings').first().json;\nconst r = $input.first().json;\nconst leadsTableId = r.id || r.data?.id || '';\nif (!leadsTableId) throw new Error('NocoDB table creation failed: ' + JSON.stringify(r));\nreturn [{ json: { ...s, leadsTableId } }];"
      },
      "id": "extracttableid", "name": "Code · Extract table id", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ -220, 220 ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken", "operation": "create",
        "workspaceId": "w5qye21b", "projectId": "p5n4bal4b7tlh9l", "table": "mxl33bg4wi70fqj",
        "fieldsUi": { "fieldValues": [
          { "fieldName": "client_name",        "fieldValue": "={{ $('Webhook · Onboard').first().json.body.client_name }}" },
          { "fieldName": "chatwoot_account_id","fieldValue": "={{ $('Webhook · Onboard').first().json.body.chatwoot_account_id }}" },
          { "fieldName": "chatwoot_inbox_id",  "fieldValue": "={{ $('Webhook · Onboard').first().json.body.chatwoot_inbox_id }}" },
          { "fieldName": "chatwoot_base",      "fieldValue": "={{ $('Set · Settings').first().json.chatwoot_base }}" },
          { "fieldName": "chatwoot_token",     "fieldValue": "={{ $('Webhook · Onboard').first().json.body.chatwoot_token }}" },
          { "fieldName": "nocodb_base",        "fieldValue": "={{ $('Code · Extract table id').first().json.nocodb_base }}" },
          { "fieldName": "nocodb_token",       "fieldValue": "={{ $('Code · Extract table id').first().json.nocodb_token }}" },
          { "fieldName": "leads_table_id",     "fieldValue": "={{ $('Code · Extract table id').first().json.leadsTableId }}" },
          { "fieldName": "analytics_table_id", "fieldValue": "={{ $('Code · Extract table id').first().json.analytics_table_id }}" },
          { "fieldName": "openrouter_key",     "fieldValue": "={{ $('Set · Settings').first().json.openrouter_key }}" },
          { "fieldName": "model",              "fieldValue": "={{ $('Set · Settings').first().json.model }}" },
          { "fieldName": "language",           "fieldValue": "={{ $('Webhook · Onboard').first().json.body.language }}" },
          { "fieldName": "main_prompt",        "fieldValue": "={{ $('Webhook · Onboard').first().json.body.main_prompt }}" },
          { "fieldName": "flow_json",          "fieldValue": "={{ typeof $('Webhook · Onboard').first().json.body.flow_json === 'string' ? $('Webhook · Onboard').first().json.body.flow_json : JSON.stringify($('Webhook · Onboard').first().json.body.flow_json) }}" },
          { "fieldName": "followup_count",     "fieldValue": "={{ $('Webhook · Onboard').first().json.body.followup_count }}" },
          { "fieldName": "followup_hours",     "fieldValue": "={{ $('Webhook · Onboard').first().json.body.followup_hours }}" },
          { "fieldName": "followup_messages",  "fieldValue": "={{ $('Webhook · Onboard').first().json.body.followup_messages }}" },
          { "fieldName": "qual_questions",     "fieldValue": "={{ typeof $('Webhook · Onboard').first().json.body.qual_questions === 'string' ? $('Webhook · Onboard').first().json.body.qual_questions : JSON.stringify($('Webhook · Onboard').first().json.body.qual_questions || []) }}" },
          { "fieldName": "bot_config",         "fieldValue": "={{ typeof $('Webhook · Onboard').first().json.body.bot_config === 'string' ? $('Webhook · Onboard').first().json.body.bot_config : JSON.stringify($('Webhook · Onboard').first().json.body.bot_config || {}) }}" },
          { "fieldName": "active",             "fieldValue": "Yes" }
        ] }
      },
      "id": "createclient", "name": "NocoDB · Create client", "type": "n8n-nodes-base.nocoDb", "typeVersion": 3,
      "position": [ 0, 220 ],
      "credentials": { "nocoDbApiToken": { "id": "KL3kUVZOFL1V0mAd", "name": "NocoDB Token account" } }
    },
    {
      "parameters": {
        "jsCode": "const s   = $('Set · Settings').first().json;\nconst b   = $('Webhook · Onboard').first().json.body;\nconst row = $input.first().json;\nconst clientId = row.Id || row.id || row.ncRecordId;\nconst slug = ('c-' + b.chatwoot_inbox_id + '-' + clientId).replace(/[^a-zA-Z0-9_-]/g,'');\nconst engineId = s.engine_workflow_id;\n\nconst wrapper = {\n  name: 'Bot · ' + (b.client_name || ('client-'+clientId)) + ' (#' + clientId + ')',\n  nodes: [\n    { parameters:{ httpMethod:'POST', path: slug, responseMode:'responseNode', options:{} },\n      name:'Webhook', type:'n8n-nodes-base.webhook', typeVersion:2, position:[0,0], webhookId: slug },\n    { parameters:{ respondWith:'json', responseBody:'={ \"ok\": true }', options:{} },\n      name:'Respond ACK', type:'n8n-nodes-base.respondToWebhook', typeVersion:1.1, position:[0,200] },\n    { parameters:{ assignments:{ assignments:[ { id:'cid', name:'client_id', value:String(clientId), type:'string' } ] }, includeOtherFields:true, options:{} },\n      name:'Set client_id', type:'n8n-nodes-base.set', typeVersion:3.4, position:[260,0] },\n    { parameters:{ workflowId:{ __rl:true, value: engineId, mode:'id' }, options:{} },\n      name:'Run engine', type:'n8n-nodes-base.executeWorkflow', typeVersion:1.2, position:[520,0] }\n  ],\n  connections: {\n    'Webhook': { main: [ [ { node:'Respond ACK', type:'main', index:0 }, { node:'Set client_id', type:'main', index:0 } ] ] },\n    'Set client_id': { main: [ [ { node:'Run engine', type:'main', index:0 } ] ] }\n  },\n  settings: { executionOrder:'v1' }\n};\n\nconst webhook_url = s.n8n_base.replace(/\\/$/,'') + '/webhook/' + slug;\nreturn [{ json: { wrapper, webhook_url, clientId } }];"
      },
      "id": "buildwrapper", "name": "Code · Build wrapper", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 220, 220 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set · Settings').first().json.n8n_base }}/api/v1/workflows",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wrapper) }}",
        "options": {}
      },
      "id": "createwf", "name": "HTTP · Create workflow", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 440, 220 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_N8N_API_CRED", "name": "n8n API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set · Settings').first().json.n8n_base }}/api/v1/workflows/{{ $json.id || $json.data.id }}/activate",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "activatewf", "name": "HTTP · Activate workflow", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 660, 220 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_N8N_API_CRED", "name": "n8n API" } }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Set · Settings').first().json.nocodb_base }}/api/v2/tables/{{ $('Set · Settings').first().json.clients_table_id }}/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token",     "value": "={{ $('Set · Settings').first().json.nocodb_token }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Id: $('Code · Build wrapper').first().json.clientId, n8n_workflow_id: ($json.id || $json.data?.id || ''), webhook_url: $('Code · Build wrapper').first().json.webhook_url }) }}",
        "options": {}
      },
      "id": "storewfid", "name": "HTTP · Store workflow id", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 880, 220 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"webhook_url\": \"{{ $('Code · Build wrapper').first().json.webhook_url }}\", \"client_id\": \"{{ $('Code · Build wrapper').first().json.clientId }}\", \"leads_table_id\": \"{{ $('Code · Extract table id').first().json.leadsTableId }}\" }",
        "options": {}
      },
      "id": "respok", "name": "Respond · OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1,
      "position": [ 1100, 220 ]
    },
    {
      "parameters": {
        "content": "## Onboard + Provision v2\n\nFront-end POSTs here → checks passcode → **auto-creates the NocoDB leads table** → writes client record → creates + activates wrapper workflow → returns webhook URL + leads_table_id.\n\n### What's new\n- **Auto-creates NocoDB leads table** with all 15 columns (Phone, Name, ConversationID, Stage, Language, Date, Handover, Follow up 1-3, ConvHistory, QualAnswers, BookingTime, LastMsgAt, MemSummary)\n- **No NocoDB fields on the provisioning form** — base URL, token, and table ID are all managed here\n- **qual_questions and bot_config** stored in client record from new wizard fields\n- **leads_table_id returned** in the response for reference\n\n### Set before use\n1. `Set · Settings`: REPLACE_PASSCODE, REPLACE_ENGINE_WORKFLOW_ID, REPLACE_NOCODB_BASE, REPLACE_NOCODB_MASTER_TOKEN, REPLACE_CONTROL_PROJECT, REPLACE_CLIENTS_TABLE, REPLACE_ANALYTICS_TABLE\n2. `NocoDB · Create client`: REPLACE_CONTROL_WORKSPACE / PROJECT / CLIENTS_TABLE + master credential\n3. `HTTP · Create/Activate workflow` + `HTTP · Store workflow id`: Header Auth credential named **n8n API** (X-N8N-API-KEY)\n\n### NocoDB leads table is named\n`Leads_{ClientName}` — created automatically in the project specified by REPLACE_CONTROL_PROJECT.",
        "height": 400, "width": 520
      },
      "id": "note", "name": "README", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1,
      "position": [ -1100, -140 ]
    }
  ],
  "connections": {
    "Webhook · Onboard":       { "main": [ [ { "node": "Set · Settings",           "type": "main", "index": 0 } ] ] },
    "Set · Settings":          { "main": [ [ { "node": "IF · Passcode",            "type": "main", "index": 0 } ] ] },
    "IF · Passcode":           { "main": [
      [ { "node": "HTTP · Create leads table", "type": "main", "index": 0 } ],
      [ { "node": "Respond · 401",             "type": "main", "index": 0 } ]
    ] },
    "HTTP · Create leads table": { "main": [ [ { "node": "Code · Extract table id", "type": "main", "index": 0 } ] ] },
    "Code · Extract table id":   { "main": [ [ { "node": "NocoDB · Create client",  "type": "main", "index": 0 } ] ] },
    "NocoDB · Create client":    { "main": [ [ { "node": "Code · Build wrapper",    "type": "main", "index": 0 } ] ] },
    "Code · Build wrapper":      { "main": [ [ { "node": "HTTP · Create workflow",  "type": "main", "index": 0 } ] ] },
    "HTTP · Create workflow":    { "main": [ [ { "node": "HTTP · Activate workflow","type": "main", "index": 0 } ] ] },
    "HTTP · Activate workflow":  { "main": [ [ { "node": "HTTP · Store workflow id","type": "main", "index": 0 } ] ] },
    "HTTP · Store workflow id":  { "main": [ [ { "node": "Respond · OK",            "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
