n8n/onboard.json
{
  "name": "Leadvyne · Onboard + Provision",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "leadvyne-onboard", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "wh", "name": "Webhook · Onboard", "type": "n8n-nodes-base.webhook", "typeVersion": 2,
      "position": [ -1100, 300 ], "webhookId": "leadvyne-onboard"
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "p",  "name": "passcode",           "value": "Bath*2026*ld",                   "type": "string" },
          { "id": "n",  "name": "n8n_base",           "value": "https://apps.leadvyne.com", "type": "string" },
          { "id": "e",  "name": "engine_workflow_id", "value": "VJzJrd4t9qMCoXJx",               "type": "string" },
          { "id": "nb", "name": "nocodb_base",        "value": "https://whizz.aiingo.com",        "type": "string" },
          { "id": "nt", "name": "nocodb_token",       "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF", "type": "string" },
          { "id": "np", "name": "nocodb_project_id",  "value": "p5n4bal4b7tlh9l",                "type": "string" },
          { "id": "ct", "name": "clients_table_id",   "value": "mxl33bg4wi70fqj",                "type": "string" },
          { "id": "at", "name": "analytics_table_id", "value": "m2in19v8n7phitr",                "type": "string" },
          { "id": "cb", "name": "chatwoot_base",      "value": "https://app.aiingo.com",           "type": "string" },
          { "id": "ok", "name": "openrouter_key",     "value": "={{ $env.OPENROUTER_KEY }}",        "type": "string" },
          { "id": "md", "name": "model",              "value": "google/gemini-2.5-flash",          "type": "string" }
        ] },
        "options": {}
      },
      "id": "settings", "name": "Set · Settings", "type": "n8n-nodes-base.set", "typeVersion": 3.4,
      "position": [ -880, 300 ]
    },
    {
      "parameters": {
        "conditions": { "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [ {
            "id": "auth", "leftValue": "={{ $('Webhook · Onboard').first().json.body.passcode }}",
            "rightValue": "={{ $json.passcode }}",
            "operator": { "type": "string", "operation": "equals" }
          } ], "combinator": "and" },
        "options": {}
      },
      "id": "ifauth", "name": "IF · Passcode", "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [ -660, 300 ]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"ok\": false, \"error\": \"unauthorised\" }", "options": { "responseCode": 401 } },
      "id": "resp401", "name": "Respond · 401", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1,
      "position": [ -440, 480 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_name:         $('Webhook · Onboard').first().json.body.client_name,\n  chatwoot_account_id: $('Webhook · Onboard').first().json.body.chatwoot_account_id,\n  chatwoot_inbox_id:   $('Webhook · Onboard').first().json.body.chatwoot_inbox_id,\n  chatwoot_base:       $('Set · Settings').first().json.chatwoot_base,\n  chatwoot_token:      $('Webhook · Onboard').first().json.body.chatwoot_token,\n  analytics_table_id:  $('Set · Settings').first().json.analytics_table_id,\n  openrouter_key:      $('Set · Settings').first().json.openrouter_key,\n  model:               $('Set · Settings').first().json.model,\n  language:            $('Webhook · Onboard').first().json.body.language,\n  industry:            $('Webhook · Onboard').first().json.body.industry || 'general',\n  main_prompt:         $('Webhook · Onboard').first().json.body.main_prompt,\n  flow_json:           typeof $('Webhook · Onboard').first().json.body.flow_json === 'string' ? $('Webhook · Onboard').first().json.body.flow_json : JSON.stringify($('Webhook · Onboard').first().json.body.flow_json),\n  followup_count:      $('Webhook · Onboard').first().json.body.followup_count,\n  followup_hours:      $('Webhook · Onboard').first().json.body.followup_hours,\n  followup_messages:   $('Webhook · Onboard').first().json.body.followup_messages,\n  qual_questions:      typeof $('Webhook · Onboard').first().json.body.qual_questions === 'string' ? $('Webhook · Onboard').first().json.body.qual_questions : JSON.stringify($('Webhook · Onboard').first().json.body.qual_questions || []),\n  bot_config:          typeof $('Webhook · Onboard').first().json.body.bot_config === 'string' ? $('Webhook · Onboard').first().json.body.bot_config : JSON.stringify($('Webhook · Onboard').first().json.body.bot_config || {}),\n  active:              'Yes',\n  dashboard_password:  $('Webhook · Onboard').first().json.body.dashboard_password || '',\n  authentik_email:     $('Webhook · Onboard').first().json.body.authentik_email || '',\n  services:            typeof $('Webhook · Onboard').first().json.body.services === 'string' ? $('Webhook · Onboard').first().json.body.services : JSON.stringify($('Webhook · Onboard').first().json.body.services || [])\n}) }}",
        "options": {}
      },
      "id": "createclient", "name": "NocoDB · Create client", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 0, 220 ]
    },
    {
      "parameters": {
        "jsCode": "const s   = $('Set · Settings').first().json;\nconst b   = $('Webhook · Onboard').first().json.body;\nconst row = $input.first().json;\nconst clientId = row.Id || row.id || row.ncRecordId;\nconst slug = ('c-' + b.chatwoot_inbox_id + '-' + clientId).replace(/[^a-zA-Z0-9_-]/g,'');\n\n// Per-client webhook workflow — thin wrapper that just injects client_id then calls\n// the one shared engine directly by workflow id. No industry-routing layer: every\n// client runs the same engine, which already reads client.industry from NocoDB at\n// runtime for any industry-specific behavior it needs.\nconst wrapper = {\n  name: 'Bot · ' + (b.client_name || ('client-'+clientId)) + ' (#' + clientId + ')',\n  nodes: [\n    { parameters:{ httpMethod:'POST', path: slug, responseMode:'responseNode', options:{} },\n      name:'Webhook', type:'n8n-nodes-base.webhook', typeVersion:2, position:[0,0], webhookId: slug },\n    { parameters:{ respondWith:'json', responseBody:'={ \"ok\": true }', options:{} },\n      name:'Respond ACK', type:'n8n-nodes-base.respondToWebhook', typeVersion:1.1, position:[0,200] },\n    { parameters:{ assignments:{ assignments:[ { id:'cid', name:'client_id', value:String(clientId), type:'string' } ] }, includeOtherFields:true, options:{} },\n      name:'Set client_id', type:'n8n-nodes-base.set', typeVersion:3.4, position:[260,0] },\n    { parameters:{ workflowId:{ __rl:true, value: s.engine_workflow_id, mode:'id' }, options:{} },\n      name:'Run engine', type:'n8n-nodes-base.executeWorkflow', typeVersion:1.2, position:[520,0] }\n  ],\n  connections: {\n    'Webhook':     { main: [ [ { node:'Respond ACK', type:'main', index:0 }, { node:'Set client_id', type:'main', index:0 } ] ] },\n    'Set client_id': { main: [ [ { node:'Run engine', type:'main', index:0 } ] ] }\n  },\n  settings: { executionOrder:'v1' }\n};\n\nconst webhook_url = s.n8n_base.replace(/\\/$/,'') + '/webhook/' + slug;\nreturn [{ json: { wrapper, webhook_url, clientId } }];"
      },
      "id": "buildwrapper", "name": "Code · Build wrapper", "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 220, 220 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set · Settings').first().json.n8n_base }}/api/v1/workflows",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.wrapper) }}",
        "options": {}
      },
      "id": "createwf", "name": "HTTP · Create workflow", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 440, 220 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_N8N_API_CRED", "name": "n8n API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set · Settings').first().json.n8n_base }}/api/v1/workflows/{{ $json.id || $json.data.id }}/activate",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "activatewf", "name": "HTTP · Activate workflow", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 660, 220 ],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_N8N_API_CRED", "name": "n8n API" } }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Set · Settings').first().json.nocodb_base }}/api/v2/tables/{{ $('Set · Settings').first().json.clients_table_id }}/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xc-token",     "value": "={{ $('Set · Settings').first().json.nocodb_token }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Id: $('Code · Build wrapper').first().json.clientId, n8n_workflow_id: ($json.id || $json.data?.id || ''), webhook_url: $('Code · Build wrapper').first().json.webhook_url }) }}",
        "options": {}
      },
      "id": "storewfid", "name": "HTTP · Store workflow id", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 880, 220 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"webhook_url\": \"{{ $('Code · Build wrapper').first().json.webhook_url }}\", \"client_id\": \"{{ $('Code · Build wrapper').first().json.clientId }}\" }",
        "options": {}
      },
      "id": "respok", "name": "Respond · OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1,
      "position": [ 1100, 220 ]
    },
    {
      "parameters": {
        "content": "## Onboard + Provision v2\n\nFront-end POSTs here → checks passcode → **auto-creates the NocoDB leads table** → writes client record → creates + activates wrapper workflow → returns webhook URL + leads_table_id.\n\n### What's new\n- **Auto-creates NocoDB leads table** with all 15 columns (Phone, Name, ConversationID, Stage, Language, Date, Handover, Follow up 1-3, ConvHistory, QualAnswers, BookingTime, LastMsgAt, MemSummary)\n- **No NocoDB fields on the provisioning form** — base URL, token, and table ID are all managed here\n- **qual_questions and bot_config** stored in client record from new wizard fields\n- **leads_table_id returned** in the response for reference\n\n### Set before use\n1. `Set · Settings`: REPLACE_PASSCODE, REPLACE_ENGINE_WORKFLOW_ID, REPLACE_NOCODB_BASE, REPLACE_NOCODB_MASTER_TOKEN, REPLACE_CONTROL_PROJECT, REPLACE_CLIENTS_TABLE, REPLACE_ANALYTICS_TABLE\n2. `NocoDB · Create client`: REPLACE_CONTROL_WORKSPACE / PROJECT / CLIENTS_TABLE + master credential\n3. `HTTP · Create/Activate workflow` + `HTTP · Store workflow id`: Header Auth credential named **n8n API** (X-N8N-API-KEY)\n\n### NocoDB leads table is named\n`Leads_{ClientName}` — created automatically in the project specified by REPLACE_CONTROL_PROJECT.",
        "height": 400, "width": 520
      },
      "id": "note", "name": "README", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1,
      "position": [ -1100, -140 ]
    }
  ],
  "connections": {
    "Webhook · Onboard":       { "main": [ [ { "node": "Set · Settings",           "type": "main", "index": 0 } ] ] },
    "Set · Settings":          { "main": [ [ { "node": "IF · Passcode",            "type": "main", "index": 0 } ] ] },
    "IF · Passcode":           { "main": [
      [ { "node": "NocoDB · Create client",    "type": "main", "index": 0 } ],
      [ { "node": "Respond · 401",             "type": "main", "index": 0 } ]
    ] },
    "NocoDB · Create client":    { "main": [ [ { "node": "Code · Build wrapper",    "type": "main", "index": 0 } ] ] },
    "Code · Build wrapper":      { "main": [ [ { "node": "HTTP · Create workflow",  "type": "main", "index": 0 } ] ] },
    "HTTP · Create workflow":    { "main": [ [ { "node": "HTTP · Activate workflow","type": "main", "index": 0 } ] ] },
    "HTTP · Activate workflow":  { "main": [ [ { "node": "HTTP · Store workflow id","type": "main", "index": 0 } ] ] },
    "HTTP · Store workflow id":  { "main": [ [ { "node": "Respond · OK",            "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
