n8n/rbi-renewal-notice.json
{
  "name": "Leadvyne · RBI Renewal Notice (backup email)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 9 * * *" } ] } },
      "id": "trigger", "name": "Daily 09:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [ 0, 0 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records?where=(active,eq,Yes)&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "xc-token", "value": "REPLACE_NOCODB_TOKEN" } ] },
        "options": {}
      },
      "id": "getclients", "name": "HTTP · Get clients",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 220, 0 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const clientsData = $input.first().json;\nconst clients = clientsData.list || [];\nconst now = Date.now();\nconst windowStart = now + 24*60*60*1000;\nconst windowEnd = now + 48*60*60*1000;\nconst todayKey = new Date().toISOString().slice(0,10);\n\n// Backup layer for Stripe's own e-mandate pre-debit notice, not a replacement for it — see\n// SETUP.md \"RBI pre-debit notification\". Only fires for clients with a live recurring\n// subscription whose renewal falls 24-48h out, and skips anyone already notified today so a\n// re-run/backfill of this workflow doesn't double-send.\nconst due = clients.filter(c => {\n  if (!c.notification_email || !c.notification_email.trim()) return false;\n  if (!['active','trialing'].includes(c.plan_status)) return false;\n  if (!c.plan_renews_at) return false;\n  const renewsAt = new Date(c.plan_renews_at).getTime();\n  if (isNaN(renewsAt) || renewsAt < windowStart || renewsAt >= windowEnd) return false;\n  if (c.last_renewal_notice_sent && String(c.last_renewal_notice_sent).slice(0,10) === todayKey) return false;\n  return true;\n});\nreturn due.map(c => ({ json: c }));"
      },
      "id": "filterdue", "name": "Code · Filter due renewals",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 440, 0 ]
    },
    {
      "parameters": { "options": {} },
      "id": "loop", "name": "Loop clients",
      "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3,
      "position": [ 660, 0 ]
    },
    {
      "parameters": {
        "jsCode": "const c = $json;\nconst renewsAt = new Date(c.plan_renews_at);\nconst dateStr = renewsAt.toLocaleDateString('en-GB', { day:'numeric', month:'long', year:'numeric' });\nconst planLabel = c.plan_name || 'your LeadVyne plan';\nreturn [{\n  json: {\n    to: c.notification_email,\n    subject: `Upcoming renewal — ${planLabel} on ${dateStr}`,\n    body: `Hi,\\n\\nThis is a reminder that your ${planLabel} plan is due to renew on ${dateStr}. If you have a payment method on file, it will be charged automatically around that date.\\n\\nNo action is needed unless you'd like to change or cancel your plan first — you can do that anytime from Billing \\u2192 Customer Portal in your dashboard.\\n\\nThis is a courtesy reminder in addition to any notice sent directly by our payment processor.\\n\\n\\u2014 LeadVyne`,\n    clientId: c.Id\n  }\n}];"
      },
      "id": "buildnotice", "name": "Code · Build notice",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [ 880, 0 ]
    },
    {
      "parameters": {
        "fromEmail": "alerts@leadvyne.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "sendemail", "name": "Send Email",
      "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1,
      "position": [ 1100, 0 ],
      "credentials": { "smtp": { "id": "REPLACE_SMTP_CRED", "name": "SMTP Account" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://whizz.aiingo.com/api/v2/tables/mxl33bg4wi70fqj/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "xc-token", "value": "REPLACE_NOCODB_TOKEN" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Id: $json.clientId, last_renewal_notice_sent: $now.toISO() }) }}",
        "options": {}
      },
      "id": "marknotified", "name": "HTTP · Mark notified",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [ 1320, 0 ], "onError": "continueRegularOutput"
    },
    {
      "parameters": { "amount": 1 },
      "id": "wait", "name": "Wait 1s",
      "type": "n8n-nodes-base.wait", "typeVersion": 1.1,
      "position": [ 1540, 0 ],
      "webhookId": "rbi-notice-wait-1s"
    },
    {
      "parameters": {
        "content": "## RBI Renewal Notice (backup email)\n\nBackup layer for Stripe's own e-mandate pre-debit notice — see SETUP.md \"RBI pre-debit notification\" for why this exists and what it does *not* replace.\n\nRuns daily at 09:00 UTC. For each active client with a recurring subscription (`plan_status` active/trialing) whose `plan_renews_at` falls 24-48h out:\n1. Skips clients with no `notification_email`, or already notified today (`last_renewal_notice_sent`)\n2. Sends one plain-language renewal reminder email\n3. Patches `last_renewal_notice_sent` on that client so it isn't sent twice for the same renewal\n\n### Setup\n1. Add SMTP credential named **SMTP Account** (Settings → Credentials) — same one used by notifications.json\n2. Replace `REPLACE_NOCODB_TOKEN` (both HTTP nodes) with your master NocoDB token\n3. Add `last_renewal_notice_sent` (Single line) to the CLIENTS table in NocoDB — see SETUP.md schema table\n4. Activate this workflow\n\nThis is a courtesy backup, not the compliance mechanism itself — confirm Stripe's own e-mandate notification is actually configured and firing first (SETUP.md checklist).",
        "height": 380, "width": 520
      },
      "id": "note", "name": "README",
      "type": "n8n-nodes-base.stickyNote", "typeVersion": 1,
      "position": [ 0, -260 ]
    }
  ],
  "connections": {
    "Daily 09:00 UTC":            { "main": [ [ { "node": "HTTP · Get clients",        "type": "main", "index": 0 } ] ] },
    "HTTP · Get clients":         { "main": [ [ { "node": "Code · Filter due renewals","type": "main", "index": 0 } ] ] },
    "Code · Filter due renewals": { "main": [ [ { "node": "Loop clients",              "type": "main", "index": 0 } ] ] },
    "Loop clients":               { "main": [ [ { "node": "Code · Build notice",       "type": "main", "index": 0 } ] ] },
    "Code · Build notice":        { "main": [ [ { "node": "Send Email",                "type": "main", "index": 0 } ] ] },
    "Send Email":                 { "main": [ [ { "node": "HTTP · Mark notified",      "type": "main", "index": 0 } ] ] },
    "HTTP · Mark notified":       { "main": [ [ { "node": "Wait 1s",                   "type": "main", "index": 0 } ] ] },
    "Wait 1s":                    { "main": [ [ { "node": "Loop clients",              "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
