n8n/sarvam-voice.json
{
  "name": "Leadvyne \u00b7 Sarvam Voice (Malayalam)",
  "nodes": [
    {
      "parameters": {
        "content": "## Sarvam AI \u2014 Voice Message Handler\n\nTriggered by Chatwoot webhook when a voice/audio message arrives.\n\n**Flow:**\n1. Receive Chatwoot webhook (audio message)\n2. Download the OGG/MP3 voice file\n3. Sarvam STT \u2192 transcript (Malayalam or auto-detect)\n4. Sarvam Chat \u2192 AI reply text in Malayalam\n5. Sarvam TTS \u2192 MP3 audio bytes\n6. Upload audio to Chatwoot \u2192 send as voice reply\n\n**Env vars needed:**\n- `SARVAM_API_KEY` \u2014 from dashboard.sarvam.ai\n\n**Chatwoot webhook filter:**\nSet webhook in Chatwoot \u2192 only fire on `message_created` where `message_type = incoming`.\n\n**TTS Voice:** `Ananya` (Malayalam female) or `Arjun` (male)\n\n**Supported Malayalam STT model:** `saarika:v2`\n**TTS target language:** `ml-IN`",
        "height": 400,
        "width": 520
      },
      "id": "note",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -420
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-voice",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh",
      "name": "Webhook \u00b7 Chatwoot Voice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "leadvyne-voice"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Only handle incoming voice/audio messages\nconst msgType = body.message_type;\nconst contentType = (body.content_type || body.content_attributes?.type || '').toLowerCase();\nconst attachments = body.attachments || [];\n\nconst isIncoming = msgType === 'incoming' || body.event === 'message_created';\nconst hasAudio = contentType === 'audio' ||\n  attachments.some(a => (a.content_type||'').startsWith('audio') || (a.file_type||'').startsWith('audio'));\n\nif (!isIncoming || !hasAudio) {\n  return []; // Skip non-voice messages silently\n}\n\n// Extract audio URL\nconst att = attachments.find(a =>\n  (a.content_type||'').startsWith('audio') ||\n  (a.file_type||'').startsWith('audio')\n) || attachments[0];\nconst audioUrl = att?.data_url || att?.url || '';\n\nif (!audioUrl) return [];\n\nconst convId = body.conversation?.id || body.conversation_id;\nconst accountId = body.account?.id || body.account_id || 1;\nconst chatwootBase = $env.CHATWOOT_BASE || 'https://app.chatwoot.com';\nconst chatwootToken = $env.CHATWOOT_TOKEN || '';\n\nreturn [{ json: {\n  audioUrl,\n  convId,\n  accountId,\n  chatwootBase,\n  chatwootToken,\n  sarvamKey: $env.SARVAM_API_KEY || '',\n  senderName: body.sender?.name || 'Customer'\n} }];"
      },
      "id": "parse",
      "name": "Code \u00b7 Parse webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "arraybuffer"
            }
          }
        }
      },
      "id": "dlAudio",
      "name": "HTTP \u00b7 Download audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build multipart form-data for Sarvam STT\nconst prev = $('Code \u00b7 Parse webhook').first().json;\nconst audioBuffer = $input.first().binary?.data?.data || Buffer.from($input.first().json || '');\n\n// Pass binary through with metadata\nreturn [{ json: { ...prev, _audioReady: true } }];"
      },
      "id": "prepStt",
      "name": "Code \u00b7 Prep STT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/speech-to-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-subscription-key",
              "value": "={{ $('Code \u00b7 Parse webhook').first().json.sarvamKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "value": "saarika:v2"
            },
            {
              "name": "language_code",
              "value": "ml-IN"
            },
            {
              "name": "with_timestamps",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "stt",
      "name": "HTTP \u00b7 Sarvam STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code \u00b7 Parse webhook').first().json;\nconst sttResp = $input.first().json;\n\n// Sarvam STT returns { transcript: '...' }\nconst transcript = sttResp.transcript || sttResp.text || '';\n\nif (!transcript.trim()) {\n  // Fallback: no speech detected\n  return [{ json: { ...prev, transcript: '', fallback: true, replyText: '\u0d15\u0d4d\u0d37\u0d2e\u0d3f\u0d15\u0d4d\u0d15\u0d23\u0d02, \u0d13\u0d21\u0d3f\u0d2f\u0d4b \u0d36\u0d30\u0d3f\u0d15\u0d4d\u0d15\u0d4d \u0d15\u0d47\u0d7e\u0d15\u0d4d\u0d15\u0d3e\u0d7b \u0d15\u0d34\u0d3f\u0d1e\u0d4d\u0d1e\u0d3f\u0d32\u0d4d\u0d32. \u0d26\u0d2f\u0d35\u0d3e\u0d2f\u0d3f \u0d35\u0d40\u0d23\u0d4d\u0d1f\u0d41\u0d02 \u0d36\u0d4d\u0d30\u0d2e\u0d3f\u0d15\u0d4d\u0d15\u0d42.' } }];\n}\n\nreturn [{ json: { ...prev, transcript, fallback: false } }];"
      },
      "id": "extractTranscript",
      "name": "Code \u00b7 Extract transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.fallback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifFallback",
      "name": "IF \u00b7 Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code \u00b7 Extract transcript').first().json.sarvamKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({\n  model: 'sarvam-m',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a helpful, friendly customer service assistant. Always reply in Malayalam (\u0d2e\u0d32\u0d2f\u0d3e\u0d33\u0d02). Be concise \u2014 keep replies under 3 sentences. Do not use bullet points in voice replies.'\n    },\n    {\n      role: 'user',\n      content: $('Code \u00b7 Extract transcript').first().json.transcript\n    }\n  ],\n  max_tokens: 300,\n  temperature: 0.7\n}) }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 3000
        }
      },
      "id": "aiChat",
      "name": "HTTP \u00b7 Sarvam Chat AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code \u00b7 Extract transcript').first().json;\nlet replyText = '';\ntry {\n  const r = $input.first().json;\n  replyText = r?.choices?.[0]?.message?.content?.trim() || '';\n} catch(e) {}\nif (!replyText) replyText = '\u0d15\u0d4d\u0d37\u0d2e\u0d3f\u0d15\u0d4d\u0d15\u0d23\u0d02, \u0d07\u0d2a\u0d4d\u0d2a\u0d4b\u0d7e \u0d09\u0d24\u0d4d\u0d24\u0d30\u0d02 \u0d28\u0d7d\u0d15\u0d3e\u0d7b \u0d15\u0d34\u0d3f\u0d2f\u0d41\u0d28\u0d4d\u0d28\u0d3f\u0d32\u0d4d\u0d32. \u0d26\u0d2f\u0d35\u0d3e\u0d2f\u0d3f \u0d12\u0d30\u0d41 \u0d28\u0d3f\u0d2e\u0d3f\u0d37\u0d02 \u0d15\u0d34\u0d3f\u0d1e\u0d4d\u0d1e\u0d4d \u0d36\u0d4d\u0d30\u0d2e\u0d3f\u0d15\u0d4d\u0d15\u0d42.';\nreturn [{ json: { ...prev, replyText } }];"
      },
      "id": "extractReply",
      "name": "Code \u00b7 Extract AI reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/text-to-speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-subscription-key",
              "value": "={{ $json.sarvamKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({\n  inputs: [ $json.replyText.slice(0, 500) ],\n  target_language_code: 'ml-IN',\n  speaker: 'ananya',\n  pitch: 0,\n  pace: 1.0,\n  loudness: 1.5,\n  speech_sample_rate: 22050,\n  enable_preprocessing: true,\n  model: 'bulbul:v2'\n}) }}",
        "options": {}
      },
      "id": "tts",
      "name": "HTTP \u00b7 Sarvam TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code \u00b7 Extract AI reply').first().json || $('Code \u00b7 Extract transcript').first().json;\nconst ttsResp = $input.first().json;\n\n// Sarvam TTS returns { audios: ['<base64_mp3>'] }\nconst base64Audio = ttsResp?.audios?.[0] || '';\n\nreturn [{ json: { ...prev, base64Audio, hasTts: !!base64Audio } }];"
      },
      "id": "extractAudio",
      "name": "Code \u00b7 Extract audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.hasTts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifHasTts",
      "name": "IF \u00b7 Has audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst base64Audio = item.base64Audio || '';\nif (!base64Audio) return [{ json: { ...item, _ttsOk: false } }];\nreturn [{\n  json: { ...item, _ttsOk: true },\n  binary: {\n    data: {\n      data: base64Audio,\n      mimeType: 'audio/mpeg',\n      fileName: 'voice-reply.mp3',\n      fileExtension: 'mp3'\n    }\n  }\n}];"
      },
      "id": "b64toBin",
      "name": "Code \u00b7 Base64 to binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwootBase }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwootToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.replyText }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "sendVoice",
      "name": "HTTP \u00b7 Send voice reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        -60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwootBase }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwootToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: $json.replyText, message_type: 'outgoing', private: false }) }}",
        "options": {}
      },
      "id": "sendTextFallback",
      "name": "HTTP \u00b7 Send text fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "resp",
      "name": "Respond \u00b7 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3080,
        0
      ]
    }
  ],
  "connections": {
    "Webhook \u00b7 Chatwoot Voice": {
      "main": [
        [
          {
            "node": "Code \u00b7 Parse webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Parse webhook": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Download audio": {
      "main": [
        [
          {
            "node": "Code \u00b7 Prep STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Prep STT": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Sarvam STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Sarvam STT": {
      "main": [
        [
          {
            "node": "Code \u00b7 Extract transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Extract transcript": {
      "main": [
        [
          {
            "node": "IF \u00b7 Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF \u00b7 Fallback?": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Sarvam Chat AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP \u00b7 Sarvam Chat AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Sarvam Chat AI": {
      "main": [
        [
          {
            "node": "Code \u00b7 Extract AI reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Extract AI reply": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Sarvam TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Sarvam TTS": {
      "main": [
        [
          {
            "node": "Code \u00b7 Extract audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Extract audio": {
      "main": [
        [
          {
            "node": "IF \u00b7 Has audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF \u00b7 Has audio?": {
      "main": [
        [
          {
            "node": "Code \u00b7 Base64 to binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP \u00b7 Send text fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u00b7 Base64 to binary": {
      "main": [
        [
          {
            "node": "HTTP \u00b7 Send voice reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Send voice reply": {
      "main": [
        [
          {
            "node": "Respond \u00b7 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u00b7 Send text fallback": {
      "main": [
        [
          {
            "node": "Respond \u00b7 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}