n8n/sarvam-voice.json
{
  "name": "Leadvyne · Sarvam Voice (Malayalam)",
  "nodes": [
    {
      "parameters": {
        "content": "## Sarvam AI — Voice Message Handler\n\nTriggered by Chatwoot webhook when a voice/audio message arrives.\n\n**Flow:**\n1. Receive Chatwoot webhook (audio message)\n2. Download the OGG/MP3 voice file\n3. Sarvam STT → transcript (Malayalam or auto-detect)\n4. Sarvam Chat → AI reply text in Malayalam\n5. Sarvam TTS → MP3 audio bytes\n6. Upload audio to Chatwoot → send as voice reply\n\n**Env vars needed:**\n- `SARVAM_API_KEY` — from dashboard.sarvam.ai\n\n**Chatwoot webhook filter:**\nSet webhook in Chatwoot → only fire on `message_created` where `message_type = incoming`.\n\n**TTS Voice:** `Ananya` (Malayalam female) or `Arjun` (male)\n\n**Supported Malayalam STT model:** `saarika:v2`\n**TTS target language:** `ml-IN`",
        "height": 400,
        "width": 520
      },
      "id": "note",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -420]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadvyne-voice",
        "responseMode": "lastNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh",
      "name": "Webhook · Chatwoot Voice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "leadvyne-voice"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Only handle incoming voice/audio messages\nconst msgType = body.message_type;\nconst contentType = (body.content_type || body.content_attributes?.type || '').toLowerCase();\nconst attachments = body.attachments || [];\n\nconst isIncoming = msgType === 'incoming' || body.event === 'message_created';\nconst hasAudio = contentType === 'audio' ||\n  attachments.some(a => (a.content_type||'').startsWith('audio') || (a.file_type||'').startsWith('audio'));\n\nif (!isIncoming || !hasAudio) {\n  return []; // Skip non-voice messages silently\n}\n\n// Extract audio URL\nconst att = attachments.find(a =>\n  (a.content_type||'').startsWith('audio') ||\n  (a.file_type||'').startsWith('audio')\n) || attachments[0];\nconst audioUrl = att?.data_url || att?.url || '';\n\nif (!audioUrl) return [];\n\nconst convId = body.conversation?.id || body.conversation_id;\nconst accountId = body.account?.id || body.account_id || 1;\nconst chatwootBase = $env.CHATWOOT_BASE || 'https://app.chatwoot.com';\nconst chatwootToken = $env.CHATWOOT_TOKEN || '';\n\nreturn [{ json: {\n  audioUrl,\n  convId,\n  accountId,\n  chatwootBase,\n  chatwootToken,\n  sarvamKey: $env.SARVAM_API_KEY || '',\n  senderName: body.sender?.name || 'Customer'\n} }];"
      },
      "id": "parse",
      "name": "Code · Parse webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": { "response": { "response": { "responseFormat": "arraybuffer" } } }
      },
      "id": "dlAudio",
      "name": "HTTP · Download audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build multipart form-data for Sarvam STT\nconst prev = $('Code · Parse webhook').first().json;\nconst audioBuffer = $input.first().binary?.data?.data || Buffer.from($input.first().json || '');\n\n// Pass binary through with metadata\nreturn [{ json: { ...prev, _audioReady: true } }];"
      },
      "id": "prepStt",
      "name": "Code · Prep STT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/speech-to-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-subscription-key", "value": "={{ $('Code · Parse webhook').first().json.sarvamKey }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file",            "value": "={{ $binary.data }}", "parameterType": "formBinaryData" },
            { "name": "model",           "value": "saarika:v2" },
            { "name": "language_code",   "value": "ml-IN" },
            { "name": "with_timestamps", "value": "false" }
          ]
        },
        "options": {}
      },
      "id": "stt",
      "name": "HTTP · Sarvam STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code · Parse webhook').first().json;\nconst sttResp = $input.first().json;\n\n// Sarvam STT returns { transcript: '...' }\nconst transcript = sttResp.transcript || sttResp.text || '';\n\nif (!transcript.trim()) {\n  // Fallback: no speech detected\n  return [{ json: { ...prev, transcript: '', fallback: true, replyText: 'ക്ഷമിക്കണം, ഓഡിയോ ശരിക്ക് കേൾക്കാൻ കഴിഞ്ഞില്ല. ദയവായി വീണ്ടും ശ്രമിക്കൂ.' } }];\n}\n\nreturn [{ json: { ...prev, transcript, fallback: false } }];"
      },
      "id": "extractTranscript",
      "name": "Code · Extract transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.fallback }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifFallback",
      "name": "IF · Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",  "value": "=Bearer {{ $('Code · Extract transcript').first().json.sarvamKey }}" },
            { "name": "Content-Type",   "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({\n  model: 'sarvam-m',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a helpful, friendly customer service assistant. Always reply in Malayalam (മലയാളം). Be concise — keep replies under 3 sentences. Do not use bullet points in voice replies.'\n    },\n    {\n      role: 'user',\n      content: $('Code · Extract transcript').first().json.transcript\n    }\n  ],\n  max_tokens: 300,\n  temperature: 0.7\n}) }}",
        "options": { "retryOnFail": true, "maxTries": 2, "waitBetweenTries": 3000 }
      },
      "id": "aiChat",
      "name": "HTTP · Sarvam Chat AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code · Extract transcript').first().json;\nlet replyText = '';\ntry {\n  const r = $input.first().json;\n  replyText = r?.choices?.[0]?.message?.content?.trim() || '';\n} catch(e) {}\nif (!replyText) replyText = 'ക്ഷമിക്കണം, ഇപ്പോൾ ഉത്തരം നൽകാൻ കഴിയുന്നില്ല. ദയവായി ഒരു നിമിഷം കഴിഞ്ഞ് ശ്രമിക്കൂ.';\nreturn [{ json: { ...prev, replyText } }];"
      },
      "id": "extractReply",
      "name": "Code · Extract AI reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/text-to-speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-subscription-key", "value": "={{ $json.sarvamKey }}" },
            { "name": "Content-Type",          "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({\n  inputs: [ $json.replyText.slice(0, 500) ],\n  target_language_code: 'ml-IN',\n  speaker: 'ananya',\n  pitch: 0,\n  pace: 1.0,\n  loudness: 1.5,\n  speech_sample_rate: 22050,\n  enable_preprocessing: true,\n  model: 'bulbul:v2'\n}) }}",
        "options": {}
      },
      "id": "tts",
      "name": "HTTP · Sarvam TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Code · Extract AI reply').first().json || $('Code · Extract transcript').first().json;\nconst ttsResp = $input.first().json;\n\n// Sarvam TTS returns { audios: ['<base64_mp3>'] }\nconst base64Audio = ttsResp?.audios?.[0] || '';\n\nreturn [{ json: { ...prev, base64Audio, hasTts: !!base64Audio } }];"
      },
      "id": "extractAudio",
      "name": "Code · Extract audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.hasTts }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifHasTts",
      "name": "IF · Has audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "jsCode": "// Convert base64 to binary for upload\nconst item = $input.first().json;\nconst buf = Buffer.from(item.base64Audio, 'base64');\nreturn [{\n  json: { ...item },\n  binary: {\n    audioFile: await this.helpers.prepareBinaryData(buf, 'voice-reply.mp3', 'audio/mpeg')\n  }\n}];"
      },
      "id": "b64toBin",
      "name": "Code · Base64 to binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwootBase }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $json.chatwootToken }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "content",      "value": "={{ $json.replyText }}" },
            { "name": "message_type", "value": "outgoing" },
            { "name": "private",      "value": "false" },
            { "name": "attachments[]","value": "={{ $binary.audioFile }}", "parameterType": "formBinaryData" }
          ]
        },
        "options": {}
      },
      "id": "sendVoice",
      "name": "HTTP · Send voice reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, -60],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwootBase }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.convId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $json.chatwootToken }}" },
            { "name": "Content-Type",      "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ content: $json.replyText, message_type: 'outgoing', private: false }) }}",
        "options": {}
      },
      "id": "sendTextFallback",
      "name": "HTTP · Send text fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 80],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "resp",
      "name": "Respond · OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3080, 0]
    }
  ],
  "connections": {
    "Webhook · Chatwoot Voice":  { "main": [ [ { "node": "Code · Parse webhook",      "type": "main", "index": 0 } ] ] },
    "Code · Parse webhook":      { "main": [ [ { "node": "HTTP · Download audio",      "type": "main", "index": 0 } ] ] },
    "HTTP · Download audio":     { "main": [ [ { "node": "Code · Prep STT",            "type": "main", "index": 0 } ] ] },
    "Code · Prep STT":           { "main": [ [ { "node": "HTTP · Sarvam STT",          "type": "main", "index": 0 } ] ] },
    "HTTP · Sarvam STT":         { "main": [ [ { "node": "Code · Extract transcript",  "type": "main", "index": 0 } ] ] },
    "Code · Extract transcript": { "main": [ [ { "node": "IF · Fallback?",             "type": "main", "index": 0 } ] ] },
    "IF · Fallback?": {
      "main": [
        [ { "node": "HTTP · Sarvam Chat AI",  "type": "main", "index": 0 } ],
        [ { "node": "HTTP · Sarvam Chat AI",  "type": "main", "index": 0 } ]
      ]
    },
    "HTTP · Sarvam Chat AI":     { "main": [ [ { "node": "Code · Extract AI reply",   "type": "main", "index": 0 } ] ] },
    "Code · Extract AI reply":   { "main": [ [ { "node": "HTTP · Sarvam TTS",         "type": "main", "index": 0 } ] ] },
    "HTTP · Sarvam TTS":         { "main": [ [ { "node": "Code · Extract audio",      "type": "main", "index": 0 } ] ] },
    "Code · Extract audio":      { "main": [ [ { "node": "IF · Has audio?",           "type": "main", "index": 0 } ] ] },
    "IF · Has audio?": {
      "main": [
        [ { "node": "Code · Base64 to binary",   "type": "main", "index": 0 } ],
        [ { "node": "HTTP · Send text fallback", "type": "main", "index": 0 } ]
      ]
    },
    "Code · Base64 to binary":   { "main": [ [ { "node": "HTTP · Send voice reply",   "type": "main", "index": 0 } ] ] },
    "HTTP · Send voice reply":   { "main": [ [ { "node": "Respond · OK",              "type": "main", "index": 0 } ] ] },
    "HTTP · Send text fallback": { "main": [ [ { "node": "Respond · OK",              "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
