n8n/ta-context.json
{
  "name": "Leadvyne · TA Context",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 60]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst text = (c.userText || '').toLowerCase();\nconst ids = c.ta_table_ids || {};\n\n// Detect which tables are relevant\nconst needsPackages   = ids.packages   && !/umrah|hajj/i.test(text);\nconst needsUmrah      = ids.umrah_groups && /umrah|hajj|makkah|madinah|saudi/i.test(text);\nconst needsCars       = ids.cars       && /car|vehicle|rent|suv|sedan|bus/i.test(text);\nconst needsItineraries = ids.itineraries && /itinerar|day|plan|schedule|trip|tour/i.test(text);\n\n// Extract keyword for package name search (first meaningful word)\nconst stopWords = new Set(['package','rate','price','cost','details','pls','please','tell','me','the','a','an','is','are','what','how','give','want','need','about','any']);\nconst words = text.split(/\\s+/).filter(w => w.length > 2 && !stopWords.has(w));\nconst keyword = words[0] || '';\n\nreturn [{ json: { ...c, _filter: { needsPackages, needsUmrah, needsCars, needsItineraries, keyword } } }];"
      },
      "id": "a1b2c3d4-0005-0000-0000-000000000005",
      "name": "Code · Detect Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 60]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Code · Detect Intent').first().json._filter.needsPackages ? 'https://whizz.aiingo.com/api/v2/tables/' + $('Execute Workflow Trigger').first().json.ta_table_ids.packages + '/records?where=(client_id,eq,' + $('Execute Workflow Trigger').first().json.client_id + ')' + ($('Code · Detect Intent').first().json._filter.keyword ? '~and(name,like,%25' + $('Code · Detect Intent').first().json._filter.keyword + '%25)' : '') + '&limit=10' : 'https://whizz.aiingo.com/api/v2/tables/skip/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-0000-0000-000000000010",
      "name": "HTTP · Get Packages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -120],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Execute Workflow Trigger').first().json.ta_table_ids.umrah_groups }}/records?where=(client_id,eq,{{ $('Execute Workflow Trigger').first().json.client_id }})&sort=departure_date&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-0000-0000-000000000011",
      "name": "HTTP · Get Umrah Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Execute Workflow Trigger').first().json.ta_table_ids.cars }}/records?where=(client_id,eq,{{ $('Execute Workflow Trigger').first().json.client_id }})~and(status,eq,available)&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0012-0000-0000-000000000012",
      "name": "HTTP · Get Cars",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 120],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://whizz.aiingo.com/api/v2/tables/{{ $('Execute Workflow Trigger').first().json.ta_table_ids.itineraries }}/records?where=(client_id,eq,{{ $('Execute Workflow Trigger').first().json.client_id }})&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0013-0000-0000-000000000013",
      "name": "HTTP · Get Itineraries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 240],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Execute Workflow Trigger').first().json;\nconst f = $('Code · Detect Intent').first().json._filter;\nconst today = new Date().toISOString().slice(0, 10);\n\nconst packages    = f.needsPackages    ? ($('HTTP · Get Packages').first().json.list    || []) : [];\nconst umrahGroups = f.needsUmrah       ? ($('HTTP · Get Umrah Groups').first().json.list || []).filter(g => g.departure_date >= today) : [];\nconst cars        = f.needsCars        ? ($('HTTP · Get Cars').first().json.list        || []) : [];\nconst itineraries = f.needsItineraries ? ($('HTTP · Get Itineraries').first().json.list || []) : [];\n\nlet block = '';\n\nif (packages.length) {\n  const lines = packages.map(p => {\n    let l = `- ${p.name}`;\n    if (p.destination) l += ` | Destination: ${p.destination}`;\n    if (p.nights)      l += ` | ${p.nights} nights`;\n    if (p.type)        l += ` | Type: ${p.type}`;\n    if (p.sell_price || p.base_price) l += ` | Price: ${p.currency||'INR'} ${p.sell_price||p.base_price}/person`;\n    if (p.pax_min || p.pax_max) l += ` | Pax: ${p.pax_min||1}-${p.pax_max||''}`;\n    try { const inc = JSON.parse(p.inclusions||'[]'); if (inc.length) l += ` | Includes: ${inc.join(', ')}`; } catch(e) {}\n    return l;\n  }).join('\\n');\n  block += '\\n\\n## Travel Packages\\n' + lines;\n}\n\nif (umrahGroups.length) {\n  const lines = umrahGroups.map(g => `- ${g.name} | Departs: ${g.departure_date} | Seats: ${g.seats||0} | ${g.currency||'INR'} ${g.price_per_pax||''}/person`).join('\\n');\n  block += '\\n\\n## Upcoming Umrah / Hajj Groups\\n' + lines;\n}\n\nif (itineraries.length) {\n  const lines = itineraries.map(it => {\n    let days = []; try { days = JSON.parse(it.days||'[]'); } catch(e) {}\n    return `- ${it.title}${it.destination?' | '+it.destination:''} | ${days.length} days`;\n  }).join('\\n');\n  block += '\\n\\n## Itineraries\\n' + lines;\n}\n\nif (cars.length) {\n  const lines = cars.map(car => `- ${car.name}${car.category?' ('+car.category+')':''} | ${car.seats||'?'} seats | ${car.currency||'INR'} ${car.daily_rate||0}/day${car.plate_no?' | Plate: '+car.plate_no:''}`).join('\\n');\n  block += '\\n\\n## Available Cars for Rent\\n' + lines;\n}\n\nreturn [{ json: { ...c, taContextBlock: block } }];"
      },
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "Code · Build TA Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 60]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Code · Detect Intent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code · Detect Intent": {
      "main": [
        [
          { "node": "HTTP · Get Packages",     "type": "main", "index": 0 },
          { "node": "HTTP · Get Umrah Groups", "type": "main", "index": 0 },
          { "node": "HTTP · Get Cars",         "type": "main", "index": 0 },
          { "node": "HTTP · Get Itineraries",  "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP · Get Packages":     { "main": [ [ { "node": "Code · Build TA Prompt", "type": "main", "index": 0 } ] ] },
    "HTTP · Get Umrah Groups": { "main": [ [ { "node": "Code · Build TA Prompt", "type": "main", "index": 0 } ] ] },
    "HTTP · Get Cars":         { "main": [ [ { "node": "Code · Build TA Prompt", "type": "main", "index": 0 } ] ] },
    "HTTP · Get Itineraries":  { "main": [ [ { "node": "Code · Build TA Prompt", "type": "main", "index": 0 } ] ] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000000"
}
