n8n/ta-context.json
{
  "name": "Leadvyne · TA Context",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst NOCODB_BASE = 'https://whizz.aiingo.com';\nconst TOKEN = 'nc_pat_n5dMpFolDUQNtkCWGiCJnX45xXWUoFnZdsQkwEyF';\nconst tableIds = c.ta_table_ids || {};\nconst clientId = c.client_id;\nconst headers = { 'xc-token': TOKEN };\n\nasync function fetchTable(tableId, extra='') {\n  if (!tableId) return [];\n  try {\n    const r = await $http.request({ method:'GET', url:`${NOCODB_BASE}/api/v2/tables/${tableId}/records?where=(client_id,eq,${clientId})${extra}&limit=30`, headers });\n    return r.list || [];\n  } catch(e) { return []; }\n}\n\nconst today = new Date().toISOString().slice(0,10);\nconst [packages, umrahGroups, cars, itineraries] = await Promise.all([\n  fetchTable(tableIds.packages),\n  fetchTable(tableIds.umrah_groups, `&sort=departure_date`),\n  fetchTable(tableIds.cars, `~and(status,eq,available)`),\n  fetchTable(tableIds.itineraries)\n]);\n\nreturn [{ json: { packages, umrahGroups: umrahGroups.filter(g => g.departure_date >= today), cars, itineraries, language: c.language } }];"
      },
      "id": "a1b2c3d4-0002-0000-0000-000000000002",
      "name": "Code · Fetch TA Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const { packages, umrahGroups, cars, itineraries } = $input.first().json;\nlet block = '';\n\nif (packages.length) {\n  const lines = packages.map(p => {\n    let l = `- ${p.name}`;\n    if (p.destination) l += ` | Destination: ${p.destination}`;\n    if (p.nights) l += ` | ${p.nights} nights`;\n    if (p.type) l += ` | Type: ${p.type}`;\n    if (p.sell_price || p.base_price) l += ` | Price: ${p.currency||'AED'} ${p.sell_price||p.base_price}/person`;\n    if (p.pax_min || p.pax_max) l += ` | Pax: ${p.pax_min||1}-${p.pax_max||''}`;\n    try { const inc=JSON.parse(p.inclusions||'[]'); if(inc.length) l += ` | Includes: ${inc.join(', ')}`; } catch(e){}\n    return l;\n  }).join('\\n');\n  block += '\\n\\n## Travel Packages\\n' + lines;\n}\n\nif (umrahGroups.length) {\n  const lines = umrahGroups.map(g => `- ${g.name} | Departs: ${g.departure_date} | Seats: ${g.seats||0} | ${g.currency||'AED'} ${g.price_per_pax||''}/person`).join('\\n');\n  block += '\\n\\n## Upcoming Umrah / Hajj Groups\\n' + lines;\n}\n\nif (itineraries.length) {\n  const lines = itineraries.map(it => {\n    let days = []; try { days = JSON.parse(it.days||'[]'); } catch(e) {}\n    return `- ${it.title}${it.destination?' | '+it.destination:''} | ${days.length} days`;\n  }).join('\\n');\n  block += '\\n\\n## Itineraries\\n' + lines;\n}\n\nif (cars.length) {\n  const lines = cars.map(c => `- ${c.name}${c.category?' ('+c.category+')':''} | ${c.seats||'?'} seats | ${c.currency||'AED'} ${c.daily_rate||0}/day${c.plate_no?' | Plate: '+c.plate_no:''}`).join('\\n');\n  block += '\\n\\n## Available Cars for Rent\\n' + lines;\n}\n\nreturn [{ json: { taContextBlock: block } }];"
      },
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "Code · Build TA Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code · Fetch TA Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Fetch TA Data": {
      "main": [
        [
          {
            "node": "Code · Build TA Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000000"
}
